<html ng-app="pollitoinglesApp" ng-controller="MainCtrl">
  <head >
    <meta charset="utf-8">
    <title ng-bind="$state.current.data.title + ' | Pollito Inglés'">Pollito Inglés</title>
    <meta name="description" content="{{($state.current.data.description) ? $state.current.data.description : 'Red de madres para compra y venta de usado de bebés.'}}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon"  type="image/ico" href="images/favicon.ico" />
    <!-- for facebook -->
    <meta property="og:title"       content="Pollito Inglés" />
    <meta property="og:description" content="Red de madres para compra y venta de usado de bebés." />
    <meta property="og:image"       content="images/ping-logo.png" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/ng-img-crop/compile/minified/ng-img-crop.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/AngularJS-Toaster/toaster.css" />
    <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.css" />
    <link rel="stylesheet" href="bower_components/angular-block-ui/dist/angular-block-ui.css" />
    <!-- endbower -->

    <!-- endbuild -->


    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body  ng-cloak ng-class="isTPollito? 'Tpollito':''">    
    <!--[if lte IE 8]>
    
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button': true}"></toaster-container>
    <!-- Add your site or application content here -->

    <div ui-view ng-class="isMac? 'isMac':''"></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    <script>
        // transfers sessionStorage from one tab to another
        var sessionStorage_transfer = function(event) {
          if(!event) { event = window.event; } // ie suq
          if(!event.newValue) return;          // do nothing if no value to work with
          if (event.key == 'getSessionStorage') {
            // another tab asked for the sessionStorage -> send it
            localStorage.setItem('sessionStorage', JSON.stringify(sessionStorage));
            // the other tab should now have it, so we're done with it.
            localStorage.removeItem('sessionStorage'); // <- could do short timeout as well.
          } else if (event.key == 'sessionStorage' && !sessionStorage.length) {
            // another tab sent data <- get it
            var data = JSON.parse(event.newValue);
            for (var key in data) {
              sessionStorage.setItem(key, data[key]);
            }
          }
        };

        // listen for changes to localStorage
        if(window.addEventListener) {
          window.addEventListener("storage", sessionStorage_transfer, false);
        } else {
          window.attachEvent("onstorage", sessionStorage_transfer);
        };

        // Ask other tabs for session storage (this is ONLY to trigger event)
        if (!sessionStorage.length) {
          localStorage.setItem('getSessionStorage', 'pi');
          localStorage.removeItem('getSessionStorage', 'pi');
        };
    </script>

    <!-- build:vendor(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-socialshare/dist/angular-socialshare.min.js"></script>
    <script src="bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/AngularJS-Toaster/toaster.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angularjs-slider/dist/rzslider.js"></script>
    <script src="bower_components/combo-date/dist/combo-date.js"></script>
    <script src="bower_components/angular-websocket/dist/angular-websocket.js"></script>
    <script src="bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/ev-emitter/ev-emitter.js"></script>
    <script src="bower_components/desandro-matches-selector/matches-selector.js"></script>
    <script src="bower_components/fizzy-ui-utils/utils.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script src="bower_components/html2canvas/build/html2canvas.js"></script>
    <script src="bower_components/pdfmake/build/pdfmake.js"></script>
    <script src="bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="bower_components/re-tree/re-tree.js"></script>
    <script src="bower_components/ng-device-detector/ng-device-detector.js"></script>
    <!-- endbower -->
    <script src="bower_components/angular-i18n/angular-locale_es-ve.js"></script>
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="bower_components/angular-masonry-directive/src/angular-masonry-directive.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/directives/capitalizefilter.js"></script>
        <script src="scripts/services/piresource.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/parents.js"></script>
        <script src="scripts/controllers/retrieve_password.js"></script>
        <script src="scripts/controllers/new_password.js"></script>
        <script src="scripts/services/authservice.js"></script>
        <script src="scripts/services/sessionservice.js"></script>
        <script src="scripts/services/baseurl.js"></script>
        <script src="scripts/services/api.js"></script>
        <script src="scripts/services/parentsresource.js"></script>
        <script src="scripts/services/userresource.js"></script>
        <script src="scripts/services/sessioninjectorfactory.js"></script>
        <script src="scripts/services/responseerrorinterceptor.js"></script>
        <script src="scripts/directives/comparetodirective.js"></script>
        <script src="scripts/directives/validationsdirectives.js"></script>
        <script src="scripts/services/productsresource.js"></script>
        <script src="scripts/controllers/activation.js"></script>
        <script src="scripts/services/testimoniesresource.js"></script>
        <script src="scripts/controllers/testimonies.js"></script>
        <script src="scripts/controllers/products.js"></script>
        <script src="scripts/controllers/parents.js"></script>
        <script src="scripts/controllers/suggestions.js"></script>
        <script src="scripts/controllers/usersprofile.js"></script>
        <script src="scripts/controllers/usersprofile2.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <script src="scripts/directives/starrating.js"></script>
        <script src="scripts/services/reportsresource.js"></script>
        <script src="scripts/controllers/profiletabs.js"></script>
        <script src="scripts/controllers/myproducts.js"></script>
        <script src="scripts/controllers/faq.js"></script>
        <script src="scripts/services/notificationsresource.js"></script>
        <script src="scripts/controllers/notifications.js"></script>
        <script src="scripts/controllers/notifications-tabs.js"></script>
        <script src="scripts/controllers/profiletabsorders.js"></script>
        <script src="scripts/controllers/orders.js"></script>
        <script src="scripts/controllers/order_detail.js"></script>
        <script src="scripts/controllers/sales.js"></script>
        <script src="scripts/controllers/sale_detail.js"></script>
        <script src="scripts/controllers/exchange.js"></script>
        <script src="scripts/controllers/exchange_detail.js"></script>
        <script src="scripts/services/faqresource.js"></script>
        <script src="scripts/controllers/faq2.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/followers.js"></script>
        <script src="scripts/controllers/following.js"></script>
        <script src="scripts/controllers/profile.js"></script>
        <script src="scripts/controllers/productdetail.js"></script>
        <script src="scripts/controllers/userproductprofile.js"></script>
        <script src="scripts/controllers/usersprofiletabs.js"></script>
        <script src="scripts/controllers/product.js"></script>
        <script src="scripts/controllers/profile_print.js"></script>
        <script src="scripts/directives/whenscrolled.js"></script>
        <script src="scripts/services/searchresource.js"></script>
        <script src="scripts/controllers/searchcategory.js"></script>
        <script src="scripts/controllers/children.js"></script>
        <script src="scripts/services/regex.js"></script>
        <script src="scripts/services/regions.js"></script>
        <script src="scripts/services/cities.js"></script>
        <script src="scripts/controllers/modal.js"></script>
        <script src="scripts/services/orderresource.js"></script>
        <script src="scripts/services/zoomresource.js"></script>
        <script src="scripts/controllers/checkout.js"></script>
        <script src="scripts/controllers/compra-exitosa.js"></script>
        <script src="scripts/controllers/message.js"></script>
        <script src="scripts/services/commentresource.js"></script>
        <script src="scripts/services/contenttyperesource.js"></script>
        <script src="scripts/services/membershipsresource.js"></script>
        <script src="scripts/controllers/incentivos.js"></script>
        <script src="scripts/controllers/plan_checkout.js"></script>
        <script src="scripts/controllers/advancedsearch.js"></script>
        <script src="scripts/services/advancedsearchresource.js"></script>
        <script src="scripts/controllers/advancedsearchresults.js"></script>
        <script src="scripts/controllers/about_us.js"></script>
        <script src="scripts/controllers/contact_us.js"></script>
        <script src="scripts/services/bannerresource.js"></script>
        <script src="scripts/controllers/tp_products.js"></script>
        <script src="scripts/controllers/tp_productdetail.js"></script>
        <script src="scripts/controllers/qtyproductsbycategory.js"></script>
        <script src="scripts/services/qtyproductsbycategory.js"></script>
        <script src="scripts/services/socialRewardResource.js"></script>
        <script src="scripts/controllers/directmessage.js"></script>
        <script src="scripts/controllers/talkmessage.js"></script>
        <script src="scripts/controllers/tp_carousel.js"></script>
        <script src="scripts/services/bannermetrics.js"></script>
        <script src="scripts/services/variationresource.js"></script>
        <script src="scripts/services/variationfilteredresource.js"></script>
        <script src="scripts/controllers/tp_recommended.js"></script>
        <script src="scripts/controllers/footer.js"></script>
        <script src="scripts/controllers/plans.js"></script>
        <script src="scripts/controllers/exchange_checkout.js"></script>
        <script src="scripts/controllers/registry_complete.js"></script>
        <script src="scripts/controllers/order_qualify.js"></script>
        <script src="scripts/controllers/sale_qualify.js"></script>
        <script src="scripts/controllers/search_age.js"></script>
        <!-- endbuild -->
</body>
</html>
