<div>
    <h1 class="report-abuse-title">Agregar hij@</h1>
    <br><br><br><br><br>
    <form name="childrenForm" ng-submit="addChild()" novalidate>
        <div class="well textarea-report">
            <br><br>
            <div class="row">
                <div class="floating-image-profile">
                    <img ng-if="me.parent.picture" ng-src="{{me.parent.picture}}" class="user_profile_circle img-responsive"  alt="Foto de perfil" width="140" height="140">
                    <img ng-if="!me.parent.picture" src="images/default-profile.jpg" class="user_profile_circle img-responsive"  alt="Foto de perfil" width="140" height="140">
                </div>
            </div>
            <img src="images/flower-login.png" alt="" class="floating-flower">
            <div class="col-lg-12 col-sm-12 col-sm-12">
                <div class="row checkbox-report-separator">
                    <div class="form-inline">
                        <div class="col-lg-6 col-sm-6 col-sm-6 col-xs-12 testimony-group-left">
                            <label for="name" class="testimony-label">
                                Nombre
                            </label>
                            <input class="testimony-field" ng-class="{ 'has-error' : childrenForm.nombreHijo.$invalid && !childrenForm.nombreHijo.$pristine }" name="nombreHijo" type="text" placeholder="Nombre" ng-model="child.name" ng-minlength="2" ng-maxlength="15" only-alpha required>
                            <span ng-show="childrenForm.nombreHijo.$invalid && !childrenForm.nombreHijo.$pristine" class="help-block">Debes colocar el nombre de tu hijo(a).</span>
                            <span ng-show="childrenForm.nombreHijo.$error.maxlength" class="help-block"> No debe contener más de 15 letras </span>
                            <span ng-show="childrenForm.nombreHijo.$error.minlength" class="help-block"> Debe contener al menos dos letras </span>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-sm-6 col-xs-12 form-group testimony-group-right">
                            <label for="content" class="testimony-label">
                                Apellido
                            </label>
                            <input class="testimony-field" ng-class="{ 'has-error' : childrenForm.apellidoHijo.$invalid && !childrenForm.apellidoHijo.$pristine }" name="apellidoHijo" type="text" placeholder="Apellido" ng-model="child.surname" ng-minlength="2" ng-maxlength="15" only-alpha required>
                            <span ng-show="!childrenForm.apellidoHijo.$pristine && childrenForm.apellidoHijo.$invalid" class="help-block">Debes colocar el apellido de tu hijo(a).</span>
                            <span ng-show="childrenForm.apellidoHijo.$error.maxlength" class="help-block">No debe contener más de 15 letras</span>
                            <span ng-show="childrenForm.apellidoHijo.$error.minlength" class="help-block">Debe contener al menos dos letras</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 col-sm-12">
                <div class="row checkbox-report-separator">
                    <div class="form-inline">
                        <div class="col-lg-6 col-sm-6 col-sm-6 testimony-group-left">
                            <label for="" class="birthday-gender-label">
                                Fecha de Nacimiento
                            </label>
                            <combo-date ng-model="child.birthdate" ng-class="{ 'has-error' : childrenForm.date_of_birth.$invalid && !childrenForm.date_of_birth.$pristine }" name="date_of_birth" min="yearAllowed" required></combo-date>
                            <div ng-show="childrenForm.date_of_birth.$invalid && !childrenForm.date_of_birth.$pristine" class="help-block">Debes colocar la fecha de nacimiento de tu hijo(a)</div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-sm-6 form-group testimony-group-right">
                            <label for="content" class="birthday-gender-label">
                                Género
                            </label>
                            <br>
                            <select class="testimony-selectbox-gender" ng-model="child.gender" name="generoHijo" required>
                                <option value="" disabled selected hidden>G&eacute;nero</option>
                                <option value="F">Femenino</option>
                                <option value="M">Masculino</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
                <br>
                <button type="submit" class="btn btn-warning center-block btn-submit" name="button" ng-disabled="childrenForm.$invalid">Agregar hij@</button>
                <br>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <h2 class="report-abuse-title">Tienes <span>{{numberChildren}}</span> Hij@<span ng-if="children.length>1 || children.length==0">s</span></h2>
    <br>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <form class="row" ng-repeat="child in children" name="childrenForm" ng-submit="updateChild($index)" novalidate>
            <div ng-hide="editing" class="text-center">
                <div class="col-sm-4 data-children">{{child.name + ' ' + child.surname}}</div>
                <div class="col-sm-4 data-children">{{child.birthdate | date: 'dd-MM-yy'}}</div>
                <div class="col-sm-4 data-children">
                    <span ng-show="child.gender == 'F'">Femenino</span>
                    <span ng-show="child.gender == 'M'">Masculino</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <button ng-hide="editing" type="button" class="btn btn-warning center-block btn-submit editing-child" ng-click="editing=true"><div class="text">Editar información</div></button>

            <div ng-show="editing" class="editchild">
                <img src="images/flower-login.png" alt="" class="flower-edit">

                <div class="container-fluid">
                    <div class="cont-editChild">
                        <div class="row">
                            <h2 class="editext">Editar Hij@</h2>
                            <div class="col-sm-12 col-md-6 padding-margin-0">
                                <input class="lastname" ng-class="{ 'has-error' : childrenForm.nombreHijo.$invalid}" name="nombreHijo" type="text" placeholder="Nombre" ng-model="child.name" ng-minlength="2" ng-maxlength="15" only-alpha required>
                                <span ng-show="childrenForm.nombreHijo.$invalid && !childrenForm.nombreHijo.$pristine" class="help-block">Debes colocar el nombre de tu hijo(a).</span>
                                <span ng-show="childrenForm.nombreHijo.$error.maxlength" class="help-block"> No debe contener más de 15 letras </span>
                                <span ng-show="childrenForm.nombreHijo.$error.minlength" class="help-block"> Debe contener al menos dos letras </span>
                            </div>
                            <div class="col-sm-12 col-md-6 padding-margin-0">
                                <input class="firstname" ng-class="{ 'has-error' : childrenForm.apellidoHijo.$invalid}" name="apellidoHijo" type="text" placeholder="Apellido" ng-model="child.surname" ng-minlength="2" ng-maxlength="15" only-alpha required>
                                <span ng-show="!childrenForm.apellidoHijo.$pristine && childrenForm.apellidoHijo.$invalid" class="help-block">Debes colocar el apellido de tu hijo(a).</span>
                                <span ng-show="childrenForm.apellidoHijo.$error.maxlength" class="help-block">No debe contener más de 15 letras</span>
                                <span ng-show="childrenForm.apellidoHijo.$error.minlength" class="help-block">Debe contener al menos dos letras</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 padding-margin-0">
                                <combo-date class="date" ng-model="child.birthdate" ng-class="{ 'has-error' : childrenForm.date_of_birth.$invalid }" name="date_of_birth" min="yearAllowed" required></combo-date>
                                <div ng-show="childrenForm.date_of_birth.$invalid" class="help-block">Debes colocar la fecha de nacimiento de tu hijo(a)</div>
                            </div>
                            <div class="col-sm-12 col-md-6 padding-margin-0">                   
                                <div class="col-sm-12 col-md-12 col-lg-4 padding-margin-0">
                                    <select class="testimony-selectbox-gender sex" ng-model="child.gender" name="generoHijo" required>
                                        <option value="" disabled selected hidden>Género</option>
                                        <option value="F">Femenino</option>
                                        <option value="M">Masculino</option>
                                    </select>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 padding-margin-0">
                                    <div class="btn-cont">
                                        <button type="submit" class="btn update" ng-click="editing = false" ng-disabled="childrenForm.$invalid">Actualizar</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-4 padding-margin-0">
                                    <div class="btn-cont">
                                        <button type="button" class="btn delete" ng-click="editing = false; delete($index)">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-warning center-block btn-submit" ng-click="editing = false; restart($index);">Cancelar</button>
                    </div>
                </div>


               <!--  <div class="row">
                    <img src="images/flower-login.png" alt="" class="flower-edit">
                    <div class="form-inline">
                        <h2 class="editext">Editar Hij@</h2>
                        <div class="col-lg-5 col-sm-5 col-sm-offset-2 col-md-5 col-xs-12">
                            <input class="field-name-edit" ng-class="{ 'has-error' : childrenForm.nombreHijo.$invalid}" name="nombreHijo" type="text" placeholder="Nombre" ng-model="child.name" ng-minlength="2" ng-maxlength="15" only-alpha required>
                            <span ng-show="childrenForm.nombreHijo.$invalid && !childrenForm.nombreHijo.$pristine" class="help-block">Debes colocar el nombre de tu hijo(a).</span>
                            <span ng-show="childrenForm.nombreHijo.$error.maxlength" class="help-block"> No debe contener más de 15 letras </span>
                            <span ng-show="childrenForm.nombreHijo.$error.minlength" class="help-block"> Debe contener al menos dos letras </span>
                        </div>
                        <div class="col-lg-5 col-sm-5 col-md-5 col-xs-12">
                            <input class="field-name-edit" ng-class="{ 'has-error' : childrenForm.apellidoHijo.$invalid}" name="apellidoHijo" type="text" placeholder="Apellido" ng-model="child.surname" ng-minlength="2" ng-maxlength="15" only-alpha required>
                            <span ng-show="!childrenForm.apellidoHijo.$pristine && childrenForm.apellidoHijo.$invalid" class="help-block">Debes colocar el apellido de tu hijo(a).</span>
                            <span ng-show="childrenForm.apellidoHijo.$error.maxlength" class="help-block">No debe contener más de 15 letras</span>
                            <span ng-show="childrenForm.apellidoHijo.$error.minlength" class="help-block">Debe contener al menos dos letras</span>
                            
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <div class="row checkbox-report-separator">
                            <div class="form-inline">
                                <div class="col-lg-6 col-sm-9 col-md-6 col-xs-12">
                                    <div class="date-edit-child">
                                        <combo-date class="date-edit-child" ng-model="child.birthdate" ng-class="{ 'has-error' : childrenForm.date_of_birth.$invalid }" name="date_of_birth" min="yearAllowed" required></combo-date>
                                        <div ng-show="childrenForm.date_of_birth.$invalid" class="help-block">Debes colocar la fecha de nacimiento de tu hijo(a)</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-md-2 col-xs-12">
                                    <select class="testimony-selectbox-gender field-sex-edit" ng-model="child.gender" name="generoHijo" required>
                                        <option value="" disabled selected hidden>G&eacute;nero</option>
                                        <option value="F">Femenino</option>
                                        <option value="M">Masculino</option>
                                    </select>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-5 col-sm-offset-1 col-xs-12  button-child">
                                    <button type="submit" class="btn btn-primary center-block" ng-click="editing = false" ng-disabled="childrenForm.$invalid">Actualizar</button>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-5 col-xs-12 col-lg-offset-1 col-md-offset-1 button-child">
                                    <button type="button" class="btn btn-default center-block" ng-click="editing = false; delete($index)">Eliminar</button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-warning center-block btn-submit" ng-click="editing = false; restart($index);">Cancelar</button>
                        </div>
                        <br>
                    </div>
                </div> -->


            </div>
        </form>
    </div>
</div>
<br>

