<div class="modal-header">
    <div class="text-center title-terms-p">
        Eliminar hij@
    </div>
</div>
<div class="modal-body">
    <h3 class="nunito text-center">¿Estás seguro que deseas eliminar los datos de tú hij@?</h3>
</div>
<div class="modal-footer">
    <button type="button" class="btn" ng-click="not()">Cancelar</button>
    <button type="button" class="btn" ng-click="ok()">Aceptar</button>
</div>
