

<div class="compra-exitosa" ng-controller="CompraExitosaCtrl">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="image-compra">
					<img src="images/prize.png" class="img-responsive">
				</div>
			</div>
			<div class="row" >
				<div class="col-xs-12 compra-text">
					<b>Compra</b>
				</div>
			</div><br><br><br>
			<div class="row">
				<div class="col-xs-12 compra-text">
					<b>Exitosa</b>
				</div>
			</div>
		</div>
	</div><br><br><br>
	<div class="row">
		<div class=" text-center">
			<button type="button" class="btn btn-default" id="botonsell" ng-click="goHome()" ><b>Seguir Comprando</b></button>
		</div>
	</div>
	
</div>

