<div class="modal-header">
    <div class="text-center title-terms-p">
        Eliminar publicación
    </div>
</div>
<div class="modal-body">
    <h3 class="nunito text-center">¿Estás seguro que deseas eliminar esta publicación?</h3>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-error" ng-click="ok()">Aceptar</button>
</div>
