<div class="container-fluid order-container">
    <!---top bar-->
    <div class="row bar-row bar-flower-detail">
        <div class="col-md-3">
            <select class="form-control">
                <option ng-repeat="dates in exchange.years">
                    {{dates.year}}
                </option>
            </select>    
        </div>
        <div class="bar-text">
            <span>
            Total de Ordenes: {{exchange.amount}}
            </span>
        </div>
    </div>
     <!---Calf-button-->
    <div class="order-row row">
         <div class="order-btns pull-right calf-btn">
            <button>
                Calificar
                <img src="images/plus.png">
            </button>
        </div>
    </div>
	 <!---Order-->
     <div class="order-row row">
     	<div class="col-md-3">
     		<img class="img-responsive" src="http://www.editorialgfyv.com.ve/images/zapatico_conejo_julio_07.jpg" alt="">
     	</div>
        <div class="col-md-7 order-info order-detail">
            <label class="dpBlock">{{exchange.title}}</label>
            <label class="dpBlock order-date">{{exchange.date}}</label>
            <br>
            <label>Nombre del Usuario:</label>
            <label class="dpBlock order-vendor">{{exchange.myName}}</label>
            <br>
            <label class="dpBlock">Datos del Comprador:</label>
            <label class="dpBlock">Nombre:<span class="order-vendor">{{exchange.nameVendor}}</span></label>
            <label class="dpBlock">Correo:<span class="order-vendor">{{exchange.emailVendor}}</span></label>
            <label class="dpBlock">Telefono:<span class="order-vendor">{{exchange.phoneVendor}}</span></label>
    
            <label class="dpBlock">Status:</label>
                <select class="form-control opt-exchange">
                    <option>Por Ejecutar</option>
                    <option>Ejecutado</option>
                </select>
            
            <label class="dpBlock">Formas de Pago:</label>
            <label class="dpBlock">{{exchange.payMethod}}</label>
            <br>
            <label class="dpBlock">Direccion de envío:</label>
            <label class="dpBlock order-vendor"> {{exchange.address}}</label>
            <br>
            <label>Total: <span class="order-value">Bs. {{exchange.total}}</span></label>        
            <button class="order-btn-update">
                Actualizar Datos 
            </button>
        </div>
    </div>
    <div> 
        <button class="order-btn-return" ui-sref="main.profile.tabs-orders.exchanges">
            Regresar 
            <img src="images/icon-return.png">
        </button>    	
    </div>
</div>