<div class="row">
    <div class="col-xs-12">
        <div class="text-center title-faq">
            Preguntas Frecuentes<br>
        </div>
    </div>
</div>
<div class="row">
    <div class="questions">
        <div ng-controller="Faq2Ctrl">
            <div ng-repeat="faq in questions">
                <div class="col-xs-12" ng-controller="FaqCtrl">
                    <div class="box-question" ng-click="hideToggle()">
                        <strong>{{faq.question}}</strong>
                    </div>
                    <div clas="row" ng-hide="hide">
                        <div class="box-answer">
                            <h4>{{faq.answer}}</h4>
                            <div ng-repeat="picture in faq.images">
                                <img ng-src="{{picture.image}}" class="img-responsive center-block"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

