<div class="margin-cat">
	<div class="row">
		<br>
		<div class="col-xs-12 text-center">
			<h1 class="testimonies-main div-valign-middle">	Testimonios</h1>
		</div>
		<div class="testimonies-cont">
			<div  ng-repeat="testimony in testimonials">
				<div class="col-xs-12 testimonies-title">
					{{testimony.title}}
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 testimonies-content">
					{{testimony.content}}
				</div>
				<div class="col-xs-12">
					<div class="testimonies-footer">
						<img src="images/flower-tes.png"><span class="testimonies-user-right">{{testimony.user.parent.first_name +" "+testimony.user.parent.last_name}}</span>
					</div>
				</div>
				<div class="col-xs-12 line"></div>
			</div>
		</div>

		<div class="col-xs-12">
            <div ng-show="next" class="button-yellow-testomony" ng-click="funNext()">Testimonios de Mamás Pollito</div>
		</div>
		






		<!-- 	
		//Edit testimony
		<div class="col-lg-12 col-md-12 col-sm-12 padding-row">
			<br>
			<div class="pk-testimony">
				&nbsp;
			</div>
		</div>
	    <h1 class="report-abuse-title">Comparte tu Experiencia</h1>
	    <br><br>
	    <div class="well textarea-report">
	        <form name="testimoniesForm" ng-submit="addTestimony()" novalidate>
                <div class="row checkbox-report-separator">
                    <div class="form-inline">
                        <div class="col-lg-6 col-sm-6 col-sm-6 testimony-group-left">
                            <label for="title" class="testimony-label">
                            	Título
                            </label>
                            <input type="text" class="testimony-field" id="title" ng-model="testimony.title" placeholder="Título" required ng-maxlength="50">
                        </div>
                        <div class="col-lg-6 col-sm-6 col-sm-6 form-group testimony-group-right">
                            <label for="content" class="testimony-label">
                            	Nombre
                            </label>
                            <input type="text" class="testimony-field" id="content" placeholder="Agrega tu nombre a tu perfil" ng-model="name" readonly>
							<div ng-show="testimoniesForm.name.$invalid" class="help-block">
								El nombre no puede contener números o caracteres especiales.
							</div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row textarea-report-padding form-group">
                    <label for="content" class="testimony-label">
                    	Testimonio
                    </label>
                    <textarea class="form-control textarea-report-check" rows="5" id="comment" ng-model="testimony.content" placeholder="Testimonio" required></textarea>
                </div>
                <br>
                <div class="row div-padding-bottom">
                    <button type="submit" ng-disabled="testimoniesForm.$invalid" class="btn btn-warning center-block btn-submit" name="button">Enviar</button>
                    <br>
                </div>
	        </form>
	    </div> -->
	</div>
</div>
