<div class="margin-cat">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1 class="policies-main div-valign-middle" id="scrollHere">
				Políticas de Uso Aceptable
			</h1>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Para asegurar que las personas se sientan seguras y cómodas visitando
			www.pollitoingles.com requerimos a todos a aceptar y seguir estas reglas.
			<br><br><br>
			<p class="numerals">
				COSAS QUE NO PUEDES PUBLICAR:

			</p>
			<p class="font-headers-conditions-mod policy-conditions">
				No está permitido publicar productos que:
			</p>
			<p class="numerals">
				1.
			</p>
			Sean considerados productos o artículos de higiene personal, comida, o alimentos,
			medicamentos, fármacos, prendas de vestir para adultos, herramientas y/o accesorios
			de peluquería, mobiliario de oficina, lencería para damas, teléfonos celulares, accesorios
			telefónicos o cualquier otro que NO sea de uso exclusivo para bebés. Resaltamos la NO venta,
			la NO compra y no intercambio de artículos de primera necesidad regulados por el Gobierno
			Bolivariano de Venezuela. Agradecemos su colaboración y su comprensión.
			<br><br>
			<p class="numerals">
				2.
			</p>
			Sean fraudulentos o engañosos.
			<br><br>
			<p class="numerals">
				3.
			</p>
			Sean sexualmente explícitos o pornográficos, que explote o presente a menores de edad
			de una manera sexual o promueva servicios sexuales para adultos.
			<br><br>
			<p class="numerals">
				4.
			</p>
			Promueva o celebre el daño, cree un riesgo de sufrir lesiones físicas o daños materiales,
			suponga una amenaza creíble para personas o la seguridad pública.
			<br><br>
			<p class="numerals">
				5.
			</p>
			Promueva autolesiones, trastornos o abusos de drogas o sustancias prohibidas.
			<br><br>
			<p class="numerals">
				6.
			</p>
			Represente un ataque, intimidación o acoso a personas.
			<br><br>
			<p class="numerals">
				7.
			</p>
			Lesione la propiedad intelectual de cualquier persona, de su derecho a la privacidad
			u otros derechos.
			<br><br>
			<p class="numerals">
				8.
			</p>
			Sea información personal de otra persona o solicite información personal de un menor de edad.
			<br><br>
			<p class="numerals">
				9.
			</p>
			Contenga cualquier información o contenido que es ilegal
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<div class="pk"></div>
			<br>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			<p class="numerals">
				COSAS QUE NO PUEDES HACER:

			</p>
			<p class="font-headers-conditions policy-conditions">
				Tampoco se le permite:
			</p>
			<p class="numerals">
				1.
			</p>

				Uso del nombre de POLLITO INGLéS, logotipo, lema comercial o marca sin
				nuestro consentimiento.
			<br><br>
			<p class="numerals">
				2.
			</p>
			El acceso, manipulación o uso de áreas no públicas de POLLITO INGLéS,
			nuestros sistemas o los sistemas de nuestros proveedores técnicos.
			<br><br>
			<p class="numerals">
				3.
			</p>
			Romper o burlar nuestras medidas de seguridad o de otra manera probar la
			vulnerabilidad de nuestros sistemas o redes.
			<br><br>
			<p class="numerals">
				4.
			</p>
			Publicar grandes cantidades de material no deseado o de forma repetitiva,
			mensajes comerciales no solicitados, mensajes comerciales en los comentarios,
			descripciones, etc, o tratar de aumentar artificialmente vistas, u otras métricas.
			<br><br>
			<p class="numerals">
				5.
			</p>
			Utilizar meta tags, texto oculto o metadatos con nuestra marca, logo, URL o nombre del
			producto sin nuestro consentimiento escrito.
			<br><br>
			<p class="numerals">
				6.
			</p>
			Utilizar información del usuario de POLLITO INGLéS para falsificar cualquier encabezado
			de paquete TCP/IP o cualquier parte de la información del encabezado en cualquier correo
			electrónico o grupo de noticias, o de cualquier manera utilizar POLLITO INGLéS para enviar
			información de la fuente de identificación alterada.

			<br><br>
			<p class="numerals">
				7.
			</p>
			Trate de utilizar ingeniería inversa de cualquier software de POLLITO INGLéS.
			<br><br>
			<p class="numerals">
				8.
			</p>
			Recoger o almacenar información personal identificable de POLLITO INGLéS
			o de sus usuarios sin su permiso.
			<br><br>
			<p class="numerals">
				9.
			</p>
			Suplantar o falsificar su afiliación con cualquier persona o entidad.
			<br><br>
			<p class="numerals">
				10.
			</p>
			Haga cualquier cosa que viole la ley o los reglamentos aplicables, especialmente en lo
			ateniente a delitos informáticos.
			<br><br>
			<p class="numerals">
				11.
			</p>
			Crear o mostrar anuncios que parecen o podrían confundirse con el POLLITO INGLéS.
			<br><br>
			<p class="numerals">
				12.
			</p>
			Directamente compensar a los usuarios por visitar, comentar seguir o dejar de seguir tu perfil.
			<br><br>
			<p class="numerals">
				13.
			</p>
			Alentar o ayudar a cualquier persona a hacer cualquiera de las cosas de esta lista.
			<br><br>
			<p class="numerals">
				14.
			</p>
			Ejecutar concursos u otro tipo de promociones en POLLITO INGLéS sin nuestro consentimiento.
			<br><br><br>
			Pollito Inglés se reserva el derecho de eliminar cualquier artículo por cualquier motivo de los
			antes mencionados o si consideramos que va en contra de alguna de estas normas o de nuestros Términos
			y Condiciones de Servicio.

		</div>
	</div>
</div>
