<div class="margin-cat exchange-product">
	<div class="col-sm-12 col-md-12 checkout-header space-header">
		<div class="col-md-offset-9 col-md-3 col-xs-5">
			<a ui-sref="main.productdetail({id:publication.id})" class="btn btn-default btn-back">Regresar &#60;</a>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 plans-title text-center exchange-title">
				Contactar al usuario <br>para Intercambiar Producto
			</div>
		</div>
		<div class="row">
		    <div class="well textarea-contact">
		    	<p>Envia un mensaje a <b>{{seller_name}}</b> para concretar el intercambio de producto.</p>
		        <form name="exchangeForm" ng-submit="sendExchange()" novalidate>
		        	<div class="row textarea-contact-padding form-group box-check-data">
		        		<label class="label_what_do_2" for="what_do_2">
							<input type="checkbox" name="what_do" id="what_do_2" ng-value="3" ng-change="itemSelected()" ng-model='exchange.status'>
							<span name="span_what_do_2"></span> Añadir datos personales
						</label>
					</div>
	                <div class="row textarea-contact-padding form-group">
	                    <label for="content" class="contact-label">
	                    	Mensaje
	                    </label>
	                    <textarea class="form-control textarea-report-check" rows="5" id="description" name="description"  placeholder="Mensaje" ng-model="exchange.description" required></textarea>
	                    <div ng-show="exchangeForm.description.$invalid && !exchangeForm.description.$pristine" class="help-block">
							Debes colocar un mensaje
						</div>
	                </div>
	                <div class="row textarea-contact-padding form-group">
	                    <label for="content" class="contact-label">
	                    	Datos
	                    </label>
	                    <textarea class="form-control textarea-report-check" rows="5" id="data_user" name="data_user" placeholder="Tus datos de contacto" ng-model="exchange.data_user" ng-disabled="textAreaDataUser" ng-required="exchange.status" ></textarea>
	                    <div ng-show="exchangeForm.data_user.$invalid && !exchangeForm.data_user.$pristine" class="help-block">
							Debes colocar los datos personales
						</div>
	                </div>
	                <input type="hidden" name="product" ng-model="exchange.product" value="{{publication.id}}">
	                <div class="row div-padding-bottom">
	                    <button type="submit" ng-disabled="exchangeForm.$invalid" class="btn btn-warning center-block btn-submit" name="button">Enviar</button>
	                    <br>
	                </div>
		        </form>
		    </div>
		</div>
	</div>
</div>