<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="text-center title-restore-password">
			Restablecer Contraseña
		</div>
		<div class="box-register">
			<form name="newPassword" ng-submit="send()" novalidate>
				
				<h4 class="text-center title-box-restore-password">
					Introduzca su nueva contraseña
				</h4>
				<input name="password" type="password" ng-model="user.new_password" ng-minlength="8" class="form-control" placeholder="Contraseña..." required>
				<div ng-show="newPassword.password.$error.minlength" class="help-block">
					La contraseña debe tener al menos 8 caracteres
				</div>
				
				<h4 class="text-center title-box-restore-password">
					Repita su nueva contraseña
				</h4>
				<input name="passwordConfirmation" type="password" ng-model="user.confirm_password" class="form-control" placeholder="Contraseña..." required compare-to="user.new_password">
				<div ng-show="newPassword.passwordConfirmation.$invalid && !newPassword.passwordConfirmation.$pristine " class="help-block">
					Las contraseñas deben ser iguales
				</div>

				<button type="submit" ng-disabled="newPassword.$invalid" class="btn btn-restore-password margin-btn">
					Enviar
				</button>
			</form>
		</div>
	</div>
</div>
