<div ng-if="activated" class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 activation-account">
		<div class="bg-white">
			<div class="row">
				<h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 congratulation-text">Felicitaciones</h1>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 active-msj">
					<p>¡Has activado tu cuenta exitósamente!</p>
					<p>ahora navega, disfruta y compra</p>
					<p>usado de bebés en excelente estado</p>
				</div>
			</div><br>
		</div>
		<br>
	</div>
</div>
<div ng-if="activated" class="row">
	<div class="col-md-5 col-sm-8 col-lg-4 col-xs-12 center-block center-clear">
		<button type="submit" class="btn btn-warning center-block btn-submit" name="button" ui-sref="main.login"><b>Iniciar Sesión</b></button>
	</div>
</div>
<h1 ng-if="!activated">Cuenta no activada</h1>
<br><br>