<div class="margin-cat">
	<div class="row">
		<form name="stepOneForm" ng-submit="continue()" novalidate>
		<div class="col-lg-12 col-md-12 col-sm-12 plans-title text-center">
			Completa tu registro
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 subtitle-registry">
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-1 subtitle-registry subtitle-separator">
			Información Básica
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 subtitle-registry">
		</div>		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 subtitle-registry-item">
				Edad
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>		
		<!-- Edad -->
		<div class="row">
			<!-- <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div> -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- 13-17 & 18-24 -->
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-lg-offset-1 col-md-offset-1 no-padding-box">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class=" center-items-registry">
							<label for="age_mom_1">
								<input type="radio" name="age_registry" value="1" id="age_mom_1" ng-model="rgcomplete.age" ng-required="!rgcomplete.age">
								<span name="age_registry_1"></span>
							</label>
							<span class="radiobutton-title">
								13-17
							</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class=" center-items-registry">
							<label for="age_mom_2">
								<input type="radio" name="age_registry" value="2" id="age_mom_2" ng-model="rgcomplete.age" ng-required="!rgcomplete.age">
								<span name="age_registry_2"></span>
							</label>
							<span class="radiobutton-title">18-24</span>
						</div>
					</div>
				</div>
				<!-- 25-34 & 35-44 -->
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no-padding-box">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class=" center-items-registry">
							<label for="age_mom_3">
								<input type="radio" name="age_registry" value="3" id="age_mom_3" ng-model="rgcomplete.age" ng-required="!rgcomplete.age">
								<span name="age_registry_3"></span>
							</label>
							<span class="radiobutton-title">
								25-34
							</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class=" center-items-registry">
							<label for="age_mom_4">
								<input type="radio" name="age_registry" value="4" id="age_mom_4" ng-model="rgcomplete.age" ng-required="!rgcomplete.age">
								<span name="age_registry_4"></span>
							</label>
							<span class="radiobutton-title">
								35-44
							</span>
						</div>
					</div>
				</div>
				<!-- 45-54 & 55-64 -->
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no-padding-box">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class=" center-items-registry">
							<label for="age_mom_5">
								<input type="radio" name="age_registry" value="5" id="age_mom_5" ng-model="rgcomplete.age" ng-required="!rgcomplete.age">
								<span name="age_registry_5"></span>
							</label>
							<span class="radiobutton-title">
								45-54
							</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class=" center-items-registry">
							<label for="age_mom_6">
								<input type="radio" name="age_registry" value="6" id="age_mom_6" ng-model="rgcomplete.age" ng-required="!rgcomplete.age">
								<span name="age_registry_6"></span>
							</label>
							<span class="radiobutton-title">
								55-64
							</span>
						</div>
					</div>
				</div>
				<!-- 65+ -->
				<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 no-padding-box">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class=" center-items-registry">
							<label for="age_mom_7">
								<input type="radio" name="age_registry" value="7" id="age_mom_7" ng-model="rgcomplete.age" ng-required="!rgcomplete.age">
								<span name="age_registry_7"></span>
							</label>
							<span class="radiobutton-title">
								65+
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>		
		<!-- -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 pk-product">
				
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>		
		<!-- Nivel Educativo -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 subtitle-registry-item">
				Nivel educativo completado
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>	
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>
				<!-- Primaria & Bachiller -->
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center-items-registry">
						<label for="degree_mom_1">
							<input type="radio" name="degree_registry" value="1" id="degree_mom_1" ng-model="rgcomplete.education" ng-required="!rgcomplete.education">
							<span name="degree_registry_1"></span>
						</label>
						<span class="radiobutton-title">
							Primaria
						</span>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center-items-registry">
						<label for="degree_mom_2">
							<input type="radio" name="degree_registry" value="2" id="degree_mom_2" ng-model="rgcomplete.education" ng-required="!rgcomplete.education">
							<span name="degree_registry_2"></span>
						</label>
						<span class="radiobutton-title">Bachillerato</span>
					</div>
				</div>
				<!-- Universidad & Postgrado -->
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center-items-registry">
						<label for="degree_mom_3">
							<input type="radio" name="degree_registry" value="3" id="degree_mom_3" ng-model="rgcomplete.education" ng-required="!rgcomplete.education">
							<span name="degree_registry_3"></span>
						</label>
						<span class="radiobutton-title">
							Universitario
						</span>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center-items-registry">
						<label for="degree_mom_4">
							<input type="radio" name="degree_registry" value="4" id="degree_mom_4" ng-model="rgcomplete.education" ng-required="!rgcomplete.education">
							<span name="degree_registry_4"></span>
						</label>
						<span class="radiobutton-title">
							Postgrado
						</span>
					</div>
				</div>
				<!-- Otro -->
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 center-items-registry">
						<label for="degree_mom_5">
							<input type="radio" name="degree_registry" value="5" id="degree_mom_5" ng-model="rgcomplete.education" ng-required="!rgcomplete.education">
							<span name="degree_registry_5"></span>
						</label>
						<span class="radiobutton-title">
							Otro
						</span>
						<div class="center-items-registry">
							<input class="other-field" ng-disabled="rgcomplete.education!=5" ng-model="rgcomplete.education_text"></input>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 pk-product">	
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>	
		<!-- Editando  -->	
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 subtitle-registry-item">
				Nivel de ingreso
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>
		</div>
		<div class="row">
			<!-- Insertando GRID -->
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-11 row-income">
					<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 center-items-registry income-item" ng-repeat="inc in income">
						<label for="income_mom_{{$index}}">
							<input type="radio" name="income_registry" id="income_mom_{{$index}}" value="{{inc.id}}" ng-model="rgcomplete.prom_income" ng-required="!rgcomplete.prom_income">
							<span name="income_registry_{{$index}}"></span>
						</label>
						<span class="radiobutton-title">
							{{inc.ingresos}}
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Fin edicion -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>		
		<!-- -->
		<!-- -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 pk-product">
				
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>		
		<!-- -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 subtitle-registry-item">
				Trabajo Actual
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>							
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="job_mom_1">
						<input type="radio" name="job_registry" value="1" id="job_mom_1" ng-model="rgcomplete.work" ng-required="!rgcomplete.work">
						<span name="job_registry_1"></span>
					</label>
					<span class="radiobutton-title-long">
						Tengo mi propio negocio
					</span>				
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="job_mom_2">
						<input type="radio" name="job_registry" value="2" id="job_mom_2" ng-model="rgcomplete.work" ng-required="!rgcomplete.work">
						<span name="job_registry_2"></span>
					</label>
					<span class="radiobutton-title-long">
						Tengo un empleo de medio tiempo
					</span>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>									
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<br>
				</div>			
			</div>			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>							
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="job_mom_3">
						<input type="radio" name="job_registry" value="3" id="job_mom_3" ng-model="rgcomplete.work" ng-required="!rgcomplete.work">
						<span name="job_registry_3"></span>
					</label>
					<span class="radiobutton-title-long">
						Tengo un empleo de tiempo completo
					</span>				
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="job_mom_4">
						<input type="radio" name="job_registry" value="4" id="job_mom_4" ng-model="rgcomplete.work" ng-required="!rgcomplete.work">
						<span name="job_registry_4"></span>
					</label>
					<span class="radiobutton-title-long">
						Soy empleada y emprendedora
					</span>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>									
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<br>
				</div>			
			</div>			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>							
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="job_mom_5">
						<input type="radio" name="job_registry" value="5" id="job_mom_5" ng-model="rgcomplete.work" ng-required="!rgcomplete.work">
						<span name="job_registry_5"></span>
					</label>
					<span class="radiobutton-title-long">
						No estoy trabajando
					</span>				
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="job_mom_6">
						<input type="radio" name="job_registry" value="6" id="job_mom_6" ng-model="rgcomplete.work" ng-required="!rgcomplete.work">
						<span name="job_registry_6"></span>
					</label>
					<span class="radiobutton-title-long">
						Otro
					</span>
					<div class="center-items-registry">
						<input class="other-field-job" ng-disabled="rgcomplete.work!=6" ng-model="rgcomplete.work_text"></input>
					</div>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>									
			</div>			

		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>
		

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<br>
				<br>
				<br>
			</div>			
		</div>
        
        <div class=" text-center">
			<button class="new-button-pink">Siguiente</button>
		</div>
		
		<div class="col-lg-12 col-md-12 col-sm-12">
			<br><br>
		</div>		
		</form>			
	</div>
</div>