<div class="margin-cat">
	<div class="row">
		<form name="stepFourForm" ng-submit="continue4()" novalidate>
		<div class="col-lg-12 col-md-12 col-sm-12 plans-title text-center">
			Completa tu registro
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 subtitle-registry">
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 subtitle-registry subtitle-separator">
			Información Básica
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 subtitle-registry">
		</div>		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subtitle-registry-item-2">
				Web preferidas para buscar información de crianza y salud para tu bebé
				<span class="subtitle-registry-item-3">
					Mínimo 3 opciones son necesarias para continuar
				</span>				
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>		
		<!-- -->
		<div class="row">
		<!-- Editando -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" ng-repeat="wc in webcrianza">
					<div class="center-items-registry">
						<label for="web_health_{{wc.id}}">
							<input type="checkbox" name="web_health_registry_{{wc.id}}" id="web_health_{{wc.id}}" value="{{wc.id}}" ng-model="rgcomplete4.webcrianza[wc.id]">
							<span name="web_health_registry_{{wc.id}}"></span>
						</label>
						<span class="radiobutton-title">
							{{wc.name}}
						</span>
					</div>
				</div>
			</div>
			<!-- Fin Edicion -->
		</div>			
		<!-- -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 pk-product">
				
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>		
		<!-- -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subtitle-registry-item-2">
				Web preferidas para Intercambiar, comprar y/o vender <br>
				artículos usados de tu(s) bebé(s)
				<span class="subtitle-registry-item-3">
					Pueden ser Grupos de Facebook. Mínimo 2 opciones son necesarias para continuar
				</span>				
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>		
		<!-- Editando -->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4" ng-repeat="wcom in webcomercio">
					<div class="center-items-registry">
						<label for="web_sell_{{wcom.id}}">
							<input type="checkbox" name="web_sell_registry_{{wcom.id}}" id="web_sell_{{wcom.id}}" value="{{wcom.id}}" ng-model="rgcomplete4.webcomercio[wcom.id]">
							<span name="web_sell_registry_{{wcom.id}}"></span>
						</label>
						<span class="radiobutton-title">
							{{wcom.name}}
						</span>
					</div>
				</div>
			</div>
		</div>
		<!-- Fin Edicion -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-6">
					<div class=" text-center">
						<button class="new-button-pink">Finalizar</button>
					</div>
				</div>
			<!-- <div class="col-lg-2 col-md-2 col-sm-2 adjust-grid col-md-offset-5 ">
				<div class="button-pink adjust-button">
					<p>Finalizar</p>
				</div>
			</div> -->
			<div class="col-lg-12 col-md-12 col-sm-12">
				<br><br>
			</div>	
		</div>
		</form>
	</div>
</div>