<div class="margin-cat">
	<div class="row">

		<div class="col-sm-12 text-center">
			<h1 class="policies-main" id="scrollHere">
				Políticas de Derecho de Autor
			</h1>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policies-content">
			<h2 class="policy-concept">
				Derechos de Autor
			</h2>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			POLLITO INGLéS DIGITAL C.A ("POLLITO INGLéS") respeta los derechos de propiedad
			inletelectual de otros y espera que sus usuarios hagan lo mismo. Es política de
			POLLITO INGLéS, en circunstancias apropiadas y a su discreción, desactivar y/o
			cancelar cuentas de usuarios que repetidamente infrinjan o sean cargadas
			repetidamente con contenido que infrinja o pueda infringir los derechos de autor
			u otros derechos de propiedad intelectual de otros.
			<br><br>
			POLLITO INGLéS responderá en forma expedita a los reclamos de violación de
			derechos de autor cometidos al utilizar nuestro sitio www.pollitoingles.com
			(el "Sitio").
			<br><br>
			Si usted es propietario de un derecho de autor o está autorizado para actual en
			nombre de  uno, por favor, escríbanos detallando las presuntas infracciones de
			derechos de autor que observe en nuestro Sitio.
			<br><br>
			Una vez recibida la notificación,  POLLITO INGLéS tomará cualquier acción que,
			a su única discreción, de estimarlo necesario, incluyendo la eliminación del
			material cuestionado desde el Sitio.
		</div>
		<br>
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<hr class="hr-style">
		</div>
		<br>
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policy-conditions">
			<h2 class="font-headers-conditions">
				¿Cómo enviar un reclamo por infracción al derecho de autor?:
			</h2>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Si usted cree que una publicación infringe su derecho de autor,
			debe contactarnos escribiendo a HOLA@pollitoingles.com.
			<br>
			<h3 class="policy-concept">
				1.
			</h3>

			Idetificar la obra con derechos de autor que usted afirma han
			sido copiada ilegalmente, o -si en múltiples obras están cubiertos
			por este aviso- deberá proporcionar una lista representativa de las
			obras con derecho de autor que usted afirma han sido copiadas.
			<br>
			<h3 class="policy-concept">
				2.
			</h3>
			Identificar (i) el material que considera que infringe sus derechos
			y que debe ser eliminado o cuyo acceso debe ser inhabilitado; e
			información razonablemente suficiente que nos permita localizar el
			material, incluyendo como mínimo, la URL del enlace que aparece en el
			sitio donde se puede encontrar este tipo de material, y (ii) la
			referencia o enlace al material o actividad sobre el cual posea derechos,
			que haya sido infringido, que ha de ser eliminado o cuyo acceso a la que
			debe ser inhabilitado, e información razonablemente suficiente que nos
			permita localizar esa referencia o enlace, incluyendo como mínimo, en su
			caso, la dirección URL del vinculo que se muestra en el sitio donde se
			pueden encontrar como referencia o enlace.
			<br>
			<h3 class="policy-concept">
				3.
			</h3>
			Proporcione su nombre completo, dirección postal, número de teléfono y,
			si está disponible, la dirección de correo electrónico.
		</div>
		<br>
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<hr class="hr-style">
		</div>
		<br>
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policy-conditions">
			<h2 class="font-headers-conditions">
				¿Qué pasa si recibo un aviso sobre reclamaciones de copyright de notificación?
			</h2>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Si usted recibe una notificación de que una publicación se ha eliminado
			debido a una queja de derechos de autor, significa que el contenido ha
			sido borrado del Sitio, a petición del propietario del contenido o por
			una iniciativa de POLLITO INGLéS. Si su cuenta recibe muchas quejas de
			derechos de autor, podremos eliminar su registro como usuario en Pollito
			Inglés, desactivando su cuenta por completo.
			<br>
			<br>
			Si usted cree que una publicación fue eliminada por error, usted tiene la opción
			de contactando escribiendo a HOLA@pollitoingles.com
		</div>




	</div>
</div>
