<div class="row titulomsj">
	<div class="col-md-7">
		<span class="remitentemsj">Mensaje para {{user.parent.first_name}} {{user.parent.last_name}}</span>
	</div>
</div>
<div class="row">
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 image-user-bubble">
			<img src="images/chick-m.png" class="img-chick"  >
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8 bubble-comment-box-open bubble-comment-box-left-custom">
			<textarea name="msj" class="bubble-text-comment" ng-model="msj"></textarea>
			<div class="direct-msj button-yellow-comment" ng-click="enviar(msj)">
				<p>Enviar</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			
		</div>
	</div>
</div>

