
<div class="row">
	<div class="col-lg-8">
		<div class="margin-login">
			<img class="img-steps register-margin-img" src="images/steps.png">
		</div>
	</div>
	<div class="col-lg-4">
		<form name="userForm" ng-submit="submitForm()" novalidate class="margin-login">
			<div id="login" class="box-login-restore text-center">
				<h3 class="title-star" id="scrollHere">Iniciar Sesión</h3>
				<button type="button" class="btn btn-facebook" ng-click="intentFBLogin()">
					<img src="images/icon-facebook.png" id="fb-root">&nbsp;|&nbsp;&nbsp;Iniciar Sesión con Facebook
				</button>
				<h3 class="title-star-o">O</h3>
				<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
					<p>
						<input class="form-control" name="email" id="user" type="email" placeholder="Correo Electrónico*" ng-model="user.username" required>
					</p>
					<div ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Debes colocar un correo electrónico válido</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
					<p>
						<input class="form-control" name="password" id="pass" type="password" placeholder="Contraseña*" ng-model="user.password" ng-minlength="8" required>
					</p>
					<div ng-show="userForm.password.$error.minlength" class="help-block">
						La contraseña debe tener al menos 8 caracteres
					</div>
				</div>
				<button type="submit" ng-disabled="userForm.$invalid" class="btn btn-star">
					Iniciar Sesión
				</button>
				<small>
					<a ui-sref="main.retrieve_password">
						¿Olvidó su contraseña?
					</a>
					|
					<a ui-sref="main.register">
						Registrarse
					</a><br>
					<a ng-click="sendActivationEmail()">
						Reenviar el correo de activación
					</a>
				</small>
			</div>
		</form>
	</div>
</div>
