<div class="margin-cat">
	<div class="row">
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/tetero.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'ALIMENTACION'})">
				<span>Alimentación</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/andadera.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'ANDADERAS'})">
				<span>Andadera</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/limpieza.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'BANO'})">
				<span>Baño</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/coche.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'COCHES'})">
				<span>Coches</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/cuna.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'CUNAS-Y-CORRALES'})">
				<span>Cunas y Corrales</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/juguete.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'JUGUETES'})">
				<span>Jugetes</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/otros.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'OTROS'})">
				<span>Otros</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/canguro.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'PORTABEBES'})">
				<span>Portabebes</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/ropa.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'ROPA'})">
				<span>Ropa</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/seguridad.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'SEGURIDAD'})">
				<span>Seguridad</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/carro.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'SILLAS-AUTO'})">
				<span>Sillas auto</span>
			</div>
		</div>
		<div class="col-md-3 col-xs-6">
			<div class="text-center title-categories">
				<img src="images/comer.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'SILLAS-DE-COMER'})">
				<span>Sillas de comer</span>
			</div>
		</div>
	</div>

</div>
