<h1 class="title-discount">Tus Descuentos</h1>
<h3 class="subtitle-discount">para tu siguiente compra en <img src="images/logo-store.png"></h3>
<div class="row box-discounts" id="box-discounts">
	<div class="row box-bags">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mama-box" ng-show="!no_loged">
			<img src="images/basket-eggs.png" class="cesta-cargada">
			<div class="total-eggs">{{totalEggs}}</div>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mama-box" ng-show="no_loged">
			<img src="images/mama-incentivos.jpg" class="mama-cargada">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bag-discount">
			<img src="images/bag-discount-alt.png" class="">
			<div class="discount_percent">
				5<span>%</span>
			</div>
			<h4>1 Huevito</h4>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bag-discount">
			<img src="images/bag-discount-alt.png" class="">
			<div class="discount_percent">
				10<span>%</span>
			</div>
			<h4>2 Huevitos</h4>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bag-discount">
			<img src="images/bag-discount-alt.png" class="">
			<div class="discount_percent">
				15<span>%</span>
			</div>
			<h4>3 Huevitos</h4>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bag-discount">
			<img src="images/bag-discount-alt.png" class="">
			<div class="discount_percent">
				20<span>%</span>
			</div>
			<h4>4 Huevitos</h4>
		</div>
	</div>
	<div class="row" ng-class="i%2==0 ? 'discount-pink':'discount-normal'" ng-repeat="(i,inc) in incentivos.results">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<a ui-sref="main.registry-basic-info()" class="link-incetive_description" ng-show="inc.code=='000002'" >
				{{inc.incentive_description}}
			</a>
			<span ng-show="inc.code!='000002'">{{inc.incentive_description}}</span>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-incentivo">
			<img ng-src="{{is_user_available('000001')}}" ng-show="inc.code=='000001'">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-incentivo">
			<img ng-src="{{is_user_available('000002')}}" ng-show="inc.code=='000002'">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-incentivo">
			<img ng-src="{{is_user_available('000003')}}" ng-show="inc.code=='000003'">
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-incentivo">
			<img ng-src="{{is_user_available('000004')}}" ng-show="inc.code=='000004'">
			<img ng-src="{{is_user_available('000005')}}" ng-show="inc.code=='000005'">
		</div>
	</div>
	<div class="row box-eggs">
		<div class="col-sm-12 col-xs-12 mama-box" ng-show="!no_loged">
			<img src="images/basket-eggs.png" class="cesta-cargada">
			<div class="total-eggs">{{totalEggs}}</div>
		</div>
	</div>
	<div id="carousel-discount" uib-carousel active="active" interval="" no-wrap="noWrapSlides">
      <div uib-slide index="0" class="bag-discount">
      	<img src="images/bag-discount-alt.png" class="">
		<div class="discount_percent">
			5<span>%</span>
		</div>
		<h4>1 Huevito</h4>
		<div class="row" ng-show="inc.code=='000001'" ng-repeat="(i,inc) in incentivos.results">
			<div class="col-xs-12">
				{{inc.incentive_description}}
			</div>
			<div class="col-xs-12 col-incentivo">
				<img ng-src="{{is_user_available('000001')}}" ng-show="inc.code=='000001'">
			</div>
		</div>
      </div>
      <div uib-slide index="1" class="bag-discount">
      	<img src="images/bag-discount-alt.png" class="">
		<div class="discount_percent">
			10<span>%</span>
		</div>
		<h4>2 Huevitos</h4>
		<div class="row" ng-show="inc.code=='000002'" ng-repeat="(i,inc) in incentivos.results">
			<div class="col-xs-12">
				{{inc.incentive_description}}
			</div>
			<div class="col-xs-12 col-incentivo">
				<img ng-src="{{is_user_available('000002')}}" ng-show="inc.code=='000002'">
			</div>
		</div>
      </div>
      <div uib-slide index="2" class="bag-discount">
      	<img src="images/bag-discount-alt.png" class="">
		<div class="discount_percent">
			15<span>%</span>
		</div>
		<h4>3 Huevitos</h4>
		<div class="row" ng-show="inc.code=='000003'" ng-repeat="(i,inc) in incentivos.results">
			<div class="col-xs-12">
				{{inc.incentive_description}}
			</div>
			<div class="col-xs-12 col-incentivo">
				<img ng-src="{{is_user_available('000003')}}" ng-show="inc.code=='000003'">
			</div>
		</div>
      </div>
      <div uib-slide index="3" class="bag-discount">
      	<img src="images/bag-discount-alt.png" class="">
		<div class="discount_percent">
			20<span>%</span>
		</div>
		<h4>4 Huevitos</h4>
		<div class="row" ng-show="inc.code=='000004' || inc.code=='000005' " ng-repeat="(i,inc) in incentivos.results">
			<div class="col-xs-12">
				{{inc.incentive_description}}
			</div>
			<div class="col-xs-12 col-incentivo">
				<img ng-src="{{is_user_available('000004|000005')}}" ng-show="inc.code=='000004' || inc.code=='000005'">
			</div>
		</div>
      </div>
    </div>
	<div class="col-sm-6 col-sm-offset-3 col-lg-6 col-lg-offset-3 col-md-7 col-md-offset-3 box-advertencia">
		<div class="pi-sprite-icon pi-rose"></div>
		Podrás utilizar un descuento por cada consumo que <br>
		hagas en nuestra Tienda Pollito. No será posible<br>
		disfrutarlos todos en una misma compra. ¡Gracias!
	</div>
</div>