<section id="advanced-search">
	<div class="title text-center">
		Búsqueda Avanzada
	</div>
	<div class="content-advanced-search">
		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-12 text-center">
						<span class="sub-title text-center">Selecciona la edades tu/s Pollito/s</span><br>
							<div class="col-md-12 text-center">
								<div class="content-search-info">
									<div class="row">
										<div class="col-md-12">

											<div class="box-chick">
										        <label for="age_1">
										        	<input id="age_1" type="radio" name="age" ng-value="1" ng-model="search.age" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
													<div class="div-advanced-search-ages">
														0-3 m
													</div>
												</label>
											</div>
										    <div class="box-chick">
									        	<label for="age_2">
										        	<input id="age_2" type="radio" name="age" value="2" ng-model="search.age" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        		<div class="div-advanced-search-ages">
										        			3-6 m
										        		</div>
										        </label>
										    </div>
											<div class="box-chick">
									        	<label for="age_3">
										        	<input id="age_3" type="radio" name="age" value="3" ng-model="search.age" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		6-9 m
										        	</div>
												</label>
											</div>
											<div class="box-chick">
									        	<label for="age_4">
										        	<input id="age_4" type="radio" name="age" value="4"  ng-model="search.age" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		9-12 m
										        	</div>
												</label>
											</div>

											<div class="box-chick">
									        	<label for="age_5">
										        	<input id="age_5" type="radio" name="age" value="5" ng-model="search.age" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		1-2 a
										        	</div>
												</label>
											</div>
											<div class="box-chick">
									        	<label for="age_6">
										        	<input id="age_6" type="radio" name="age" value="6" ng-model="search.age" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		2-4 a
										        	</div>
												</label>
											</div>
											<div class="box-chick">
									        	<label for="age_7">
										        	<input id="age_7" type="radio" name="age" value="7" ng-model="search.age" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		4-6 a
										        	</div>
												</label>
											</div>
											<div class="box-chick">
									        	<label for="age_8">
										        	<input id="age_8" type="radio" name="age" value="8" ng-model="search.age" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		6 o más
										        	</div>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-sm-12 text-center">
								<span class="sub-title text-center">Prenda</span><br>
							</div>
						</div>
						<div class="content-search-info ">								
							<div class="form-group">
								<div class="div-advanced-search-gender">
									<div>
										<label for="gender_1">
											<input type="radio" name="gender_search" id="gender_1" ng-value="1" ng-model='search.gender'>
											<span name="gender_search_1"></span>
										</label>
										<span class="span-div-search-gender">
											Niño
										</span>
									</div>
								</div>
								<div class="div-advanced-search-gender">
									<div>
										<label for="gender_2">
											<input type="radio" name="gender_search" id="gender_2" ng-value="2" ng-model='search.gender'>
											<span name="gender_search_2"></span>
										</label>
										<span class="span-div-search-gender">
											Niña
										</span>
									</div>
								</div>
								<div class="div-advanced-search-gender">
									<div>
										<label for="gender_3">
											<input type="radio" name="gender_search" id="gender_3" ng-value="3" ng-model='search.gender'>
											<span name="gender_search_3"></span>
										</label>
										<span class="span-div-search-gender">
											Ambos
										</span>
									</div>
								</div>
							</div>								
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-sm-12 text-center">
								<span class="sub-title text-center">Ver</span><br>
							</div>
						</div>
						<div class="content-search-info ">								
							<div class="form-group">
								<div>
									<div class="div-advanced-search-gender">
										<label for="look_at_search_1">
											<input type="radio" name="look_at_search" id="look_at_search_1" ng-value="1" ng-model='search.look_at'>
											<span name="look_at_search_1"></span>
										</label>
										<span class="span-div-search-gender">
											Todos los resultados
										</span>
									</div>
								</div>
								<div>
									<div class="div-advanced-search-gender">
										<label for="look_at_search_2">
											<input type="radio" name="look_at_search" id="look_at_search_2" ng-value="2" ng-model='search.look_at'>
											<span name="look_at_search_2"></span>
										</label>
										<span class="span-div-search-gender">
											Recomendaciones Pollito
										</span>
									</div>
								</div>
								<div>
									<div class="div-advanced-search-gender">
										<label for="look_at_search_3">
											<input type="radio" name="look_at_search" id="look_at_search_3" ng-value="3" ng-model='search.look_at'>
											<span name="look_at_search_3"></span>
										</label>
										<span class="span-div-search-gender">
											Lo mas reciente
										</span>
									</div>
								</div>
							</div>								
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 text-center">
				<div class="reputacion">
					<span class="sub-title text-center">Reputación del Vendedor</span><br>				
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" ng-value="5" ng-model="search.reputation">
						<label for="rating5"></label>
						<input id="rating4" type="radio" name="rating" ng-value="4" ng-model="search.reputation">
						<label for="rating4"></label>
						<input id="rating3" type="radio" name="rating" ng-value="3" ng-model="search.reputation">
						<label for="rating3"></label>
						<input id="rating2" type="radio" name="rating" ng-value="2" ng-model="search.reputation">
						<label for="rating2"></label>
						<input id="rating1" type="radio" name="rating" ng-value="1" ng-model="search.reputation">
						<label for="rating1"></label>
					</span>
					</div>
				<div class="city">
					<div class="select">
						<select ng-model="search.city">
							<option ng-value="0" selected>Seleccione Ubicación</option>
							<option ng-value="CARACAS">CARACAS</option>
							<option ng-value="MARACAY">MARACAY</option>
							<option ng-value="VALENCIA">VALENCIA</option>
						</select>
					</div>
				</div>
				<div class="presupuesto">
					<span class="sub-title text-center">Presupuesto en {{ slider.currency }} </span><br>
					<div class="content-search-info">
						<rzslider	rz-slider-floor="slider.floor"
									rz-slider-ceil="slider.ceil"
									rz-slider-model="slider.minValue"
									rz-slider-high="slider.maxValue"							          
									rz-slider-options="slider.options"></rzslider>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="button-search" ng-click="getAdvancedSearchValues()" >
					<p>Buscar</p>
				</div>
			</div>
		</div>
	</div>
</section>
<hr ng-show="resultSet && resultSet.length > 0">
<div class="title text-center" ng-show="resultSet && resultSet.length > 0" id="advanced_search_results">
	Resultados de la Búsqueda Avanzada
</div>
<div class="row wrapper" ng-show="resultSet && resultSet.length > 0" >
    <div class="masonry">
        <article class="product-box" ng-repeat="product in resultSet" ui-sref="main.productdetail({id:resultSet.pk})">
            <div ng-show="product.product_is_recommended == true" class="recommended-medal">
                <span class="star-recommended">
                    ★
                </span>
            </div>
            <div>		                
                <img class="img-responsive center-block product-box-image" alt="Imagen del producto" ng-src="{{product.product_image}}">
            </div>
            <div class="product-box-name">
                {{ product.product_name }}
            </div>
            <div>
                <div class="product-box-price">
                    {{ product.product_price | currency : 'Bs. ' : 2 }} 
                </div>
            </div>
            <div class="product-box-user">
                <div class="product-box-user-name">
                    {{ product.product_parent_name }}
                </div>
                <div class="product-box-user-name">
                    {{ product.product_parent_email }}
                </div>
                <div class="product-box-user-location">
                    {{ product.product_user_address }}, {{ product.product_city }}
                </div>
                <div class="product-box-user-reputation">
                    <img src="images/flower_reputation_grey.png" alt="" width="120px">
                </div>
            </div> 
        </article>
	</div>
</div>
</div>
<div class="row">
	<div class="button-yellow">
		<p>Ver más Productos</p>
	</div>
</div>