<div class="col-xs-12 text-center">
	<div class="content-search-info">
		<div class="row">
			<div class="col-xs-12 col-md-6 padding-margin-0">
				<div class="box-chick">
			        <label for="age_s_1">
			        	<input id="age_s_1" type="radio" name="age" ng-click="searchAge('0-3m')"/>
			        	<img src="images/chick-year.png" alt="pollito">
						<div>
							0-3 m
						</div>
					</label>
				</div>
			    <div class="box-chick">
		        	<label for="age_s_2">
			        	<input id="age_s_2" type="radio" name="age" ng-click="searchAge('3-6m')"/>
			        	<img src="images/chick-year.png" alt="pollito">
		        		<div>
		        			3-6 m
		        		</div>
			        </label>
			    </div>
				<div class="box-chick">
		        	<label for="age_s_3">
			        	<input id="age_s_3" type="radio" name="age" ng-click="searchAge('6-9m')"/>
			        	<img src="images/chick-year.png" alt="pollito">
			        	<div>
			        		6-9 m
			        	</div>
					</label>
				</div>
				<div class="box-chick">
		        	<label for="age_s_4">
			        	<input id="age_s_4" type="radio" name="age"  ng-click="searchAge('9-12m')"/>
			        	<img src="images/chick-year.png" alt="pollito">
			        	<div>
			        		9-12 m
			        	</div>
					</label>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 padding-margin-0">
				<div class="box-chick">
		        	<label for="age_s_5">
			        	<input id="age_s_5" type="radio" name="age" ng-click="searchAge('1-2a')"/>
			        	<img src="images/chick-year.png" alt="pollito">
			        	<div>
			        		1-2 a
			        	</div>
					</label>
				</div>
				<div class="box-chick">
		        	<label for="age_s_6">
			        	<input id="age_s_6" type="radio" name="age" ng-click="searchAge('2-4a')"/>
			        	<img src="images/chick-year.png" alt="pollito">
			        	<div>
			        		2-4 a
			        	</div>
					</label>
				</div>
				<div class="box-chick">
		        	<label for="age_s_7">
			        	<input id="age_s_7" type="radio" name="age" ng-click="searchAge('4-6a')"/>
			        	<img src="images/chick-year.png" alt="pollito">
			        	<div>
			        		4-6 a
			        	</div>
					</label>
				</div>
				<div class="box-chick">
		        	<label for="age_s_8">
			        	<input id="age_s_8" type="radio" name="age" ng-click="searchAge('6a+')"/>
			        	<img src="images/chick-year.png" alt="pollito">
			        	<div>
			        		6 o más
			        	</div>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="pk-product"></div>
</div>
