<div class="row">
	<div class="col-sm-12">
		<div class="terms" id="scrollHere">
			<div class="text-center title-terms-p">
				TÉRMINOS LEGALES Y <br>CONDICIONES DE USO POLLITO WEB
			</div>
			<h2 class="title-terms">1</h2>
			<p>Los presentes Términos Legales y Condiciones de Uso (en lo adelante, los "TÉRMINOS LEGALES Y CONDICIONES DE USO") regulan el uso de los servicios ofrecidos a través del portal www.pollitoingles.com (en lo adelante "POLLITO WEB") que POLLITO INGLES C.A. (en lo adelante POLLITO) pone a disposición de los usuarios en: Página Web en la dirección electrónica http://www.POLLITO.com</p>
			<hr>
			<h2 class="title-terms">2</h2>
			<p>La utilización de POLLITO WEB expresa la adhesión plena y sin reservas de la persona que accese a través de internet (en lo adelante EL USUARIO) a estos Términos y Condiciones de Uso, (en lo adelante TYC). Es exclusiva obligación del USUARIO revisar periódicamente los TYC de POLLITO WEB, para estar informado de cualquier modificación a los mismos. El acceso nuevamente a POLLITO WEB será considerado como una aceptación tácita de las nuevas condiciones o las modificaciones. El USUARIO reconoce que al haber accedido a POLLITO WEB, lo ha hecho por su propia voluntad. Además de ser responsable por los efectos legales de la sola entrada, está aceptando el contenido de los demás avisos mencionados y reconoce como auténtico cualquier medio de prueba o proceso tecnológico que utilice POLLITO WEB para comprobar la entrada o salida del USUARIO.</p>
			<hr>
			<h2 class="title-terms">3</h2>
			<p>Para realizar la navegación y/o uso de los servicios ofrecidos a través de POLLITO WEB es necesario que EL USUARIO haya aceptado los TYC, de lo contrario el sistema le podrá impedir completar la acción solicitada.</p>
			<hr>
			<h2 class="title-terms">4</h2>
			<p>POLLITO WEB tienen por objeto facilitar a sus clientes y al público en general el acceso a los diversos servicios de POLLITO así como cualquier información relacionada a los mismos.</p>
			<hr>
			<h2 class="title-terms">5</h2>
			<p> El servicio de POLLITO WEB estará disponible los siete (7) días de la semana, las veinticuatro (24) horas del día.</p>
			<hr>
			<h2 class="title-terms">6</h2>
			<p> LOS USUARIOS se obligan a respetar los códigos de comunicación y conductas del portal POLLITO WEB, no utilizar este medio para fines ilícitos, agresiones de cualquier tipo a otros USUARIOS y liberan de responsabilidad a POLLITO por cualquiera de sus acciones dentro de POLLITO WEB.</p>
			<hr>
			<h2 class="title-terms">7</h2>
			<p>Ni POLLITO, ni sus Directivos, Empleados y/o Asesores garantizan el servicio ininterrumpido o libre de error, ni garantizan la exactitud y/o confiabilidad o contenido de la información presentada a través de POLLITO WEB. POLLITO hará sus mejores esfuerzos para que el servicio suministrado sea de óptima calidad, no siendo responsable ni POLLITO, ni sus Directivos, Empleados y/ o Asesores por cualesquiera daños y perjuicios causados por el retardo o interrupción en la transmisión del servicio. El USUARIO, exonera a POLLITO, sus Directivos, Empleados y/o Asesores por cualquier perjuicio sufrido en el uso de POLLITO WEB.</p>
			<hr>
			<h2 class="title-terms">8</h2>
			<p>  EL USUARIO se hace responsable por el uso de su terminal en todo momento, en consecuencia, POLLITO entenderá que la solicitud de acceso o navegación en POLLITO WEB se ha efectuado por el titular del terminal o servicio asociado a este, quien responderá por el costo del mismo.</p>
			<hr>
			<h2 class="title-terms">9</h2>
			<p>  El USUARIO no podrá copiar, modificar, distribuir, o transmitir, información alguna encontrada en POLLITO WEB sin el consentimiento expreso obtenido de POLLITO. Cualquier solicitud de información deberá dirigirse a POLLITO a través a través del correo: monica@pollitoingles.com.</p>
			<hr>
			<h2 class="title-terms">10</h2>
			<p>  El USUARIO acepta y reconoce que POLLITO WEB ha sido diseñado para funcionar mejor con ciertos terminales que con otros, y en este sentido, declara no tener derecho a reclamo alguno y libera a la POLLITO de cualquier responsabilidad que pudiera tener frente al USUARIO por el mejor o peor desempeño del mismo.</p>
			<hr>
			<h2 class="title-terms">11</h2>
			<p> EL USUARIO entiende y acepta que dentro de POLLITO WEB, podrá encontrar diferentes ofertas o servicios adicionales (en lo adelante LOS SERVICIOS), los cuales pueden o no tener condiciones particulares adicionales y/o complementarias con los presentes TYC.</p>
			<hr>
			<h2 class="title-terms">12</h2>
			<p> Para aquellos casos en los que aplique, los métodos de pago que se establezcan en LOS SERVICIOS en los cuales correspondan, podrán variar, sin necesidad de POLLITO de notificar a LOS USUARIOS.</p>
			<hr>
			<h2 class="title-terms">13</h2>
			<p> EL USUARIO que realice algún tipo de pago u operación relacionada a través de POLLITO WEB será el responsable de la veracidad de los datos que introduzca para dicha operación.</p>
			<hr>
			<h2 class="title-terms">14</h2>
			<p> POLLITO. reversará los montos por concepto de pagos u operaciones de cuenta a través de POLLITO WEB, sólo en los casos que se presenten fallas técnicas por servicios no otorgados que sean responsabilidad de POLLITO y no de algún miembro de la comunidad.</p>
			<hr>
			<h2 class="title-terms">15</h2>
			<p> POLLITO se reserva el derecho de poner en producción algunas de las funcionalidades que ofrece la plataforma de POLLITO WEB, siempre cumpliendo con la regulación vigente en Venezuela.</p>
			<hr>
			<h2 class="title-terms">16</h2>
			<p> POLLITO podrá hacer cambios sobre las tarifas de LOS SERVICIOS ofrecidos a través de POLLITO WEB, así como asignar períodos de duración del disfrute de los mismos por parte del USUARIO, ello de acuerdo a la normativa legal vigente a tales efectos.</p>
			<hr>
			<h2 class="title-terms">17</h2>
			<p>  Algunos de LOS SERVICIOS puestos a disposición del USUARIO a través de POLLITO WEB podrán requerir de claves o contraseñas a fin de verificar la identidad del USUARIO. El USUARIO está de acuerdo en que cualquier operación  orrectamente identificada con dichas claves o contraseñas será consideradas como válidamente realizadas por el USUARIO. Por lo anterior, el USUARIO será el único responsable de mantener la confidencialidad de dichas claves o contraseñas, sin importar si éstas fueron proporcionadas por POLLITO o seleccionadas por el USUARIO directamente.</p>
			<hr>
			<h2 class="title-terms">18</h2>
			<p> POLLITO podrá crear medios de comunicación para confirmar la efectividad de los acuerdos u operaciones realizadas a través de POLLITO WEB, dichas comunicaciones serán enviadas a LOS USUARIOS a través de los medios de contactos que hayan sido facilitados por éste a POLLITO.</p>
			<hr>
			<h2 class="title-terms">19</h2>
			<p> EL USUARIO se compromete a mantener todos sus datos personales y de contacto debidamente actualizados en la base de datos de POLLITO WEB y accede a agregar cualquier información adicional que POLLITO le solicite para su mejor funcionamiento y operatividad.</p>
			<hr>
			<h2 class="title-terms">20</h2>
			<p> POLLITO podrá eliminar cualquier cuenta existente en caso de tener razones para considerar que la misma no corresponde a un usuario real o en caso de tener inconsistencia en sus datos.</p>
			<hr>
			<h2 class="title-terms">21</h2>
			<p> POLLITO se reserva el derecho de ejercer cualquier acción del tipo operativo y legal contra EL USUARIO que con su actividad intencional o no, genere perjuicios en los sistemas, redes y demás componentes de POLLITO WEB o cualquier otro bien propiedad de POLLITO.</p>
			<hr>
			<h2 class="title-terms">22</h2>
			<p> EL USUARIO se obliga a no hacer uso de POLLITO WEB para fines fraudulentos o ilícitos y POLLITO por su parte se reserva el derecho de usar sus datos en el ejercicio de las acciones legales pertinentes en caso de que así sea.</p>
			<hr>
			<h2 class="title-terms">23</h2>
			<p> La contratación de los espacios de publicidad existentes dentro de POLLITO WEB deberá ser acordada directamente con los directivos de POLLITO, quienes dispondrán de los mismos según sus criterios de conveniencia, imagen y oportunidad.</p>
			<hr>
			<h2 class="title-terms">24</h2>
			<p> POLLITO es el único dueño de todos los derechos relacionados con POLLITO WEB, sus desarrollos, aplicaciones, imágenes, comunidades y contenidos, incluyendo derechos de propiedad intelectual entre otros.</p>
			<hr>
			<h2 class="title-terms">25</h2>
			<p> Polito Web ofrece una plataforma de compra y venta de artículos de bebé usados, los usuarios registrados podrán colocar artículos a la venta, pero solo a nivel personal. Las personas que deseen vender productos o servicios de sus empresas particulares a través del portal POLLITO WEB, deberán contactar directamente a el equipo de ventas de POLLITO: vanessa@pollitoingles.com / HOLA@pollitoingles.com</p>
			<hr>
			<h2 class="title-terms">26</h2>
			<p> Los artículos publicados deben ir acompañado por una breve descripción indicando las características y la condición de dicho artículo (nuevo, casi nuevo, en buen estado, etc) y si se publica una foto, la misma debe ser una foto real del artículo en cuestión.</p>
			<hr>
			<h2 class="title-terms">27</h2>
			<p> Registrarse en Pollito Inglés es gratuito y, una vez que el USUARIO esté registrado, podrá comprar, vender o intercambiar artículos usados de Bébé. Adicionalmente recibirá el newsletter de Pollito Inglés con información educativa y relevante a temas de crianza y de la experiencia de ser padres.</p>
			<hr>
			<h2 class="title-terms">28</h2>
			<p> POLLITO WEB pone a la disposición del público en general un portal web para el intercambio, compra y venta de artículos usados para bebé, dentro de este espacio web los usuarios podrán contactarse entre sí para averiguar más información de algún artículo, para concretar una venta, podrán también hacer búsqueda de productos por categoría y por palabras, así como también marcar sus productos y vendedores como favoritos. Sin embargo POLLITO WEB no es el propietario de dichos artículos y no interviene en las operaciones de compra, venta o intercambio de los mismos. No se hace responsable por problemas como: veracidad de la descripción suministrada, calidad de los artículos, problemas en la entrega o envío de los mismos, ni por pagos no efectuados. USUARIOS son responsables de cualquier tipo de transacción realizada a través del portal POLLITO WEB y al aceptar estos términos y condiciones, reconoce que al realizar operaciones con otros USUARIOS lo hace bajo su propio riesgo.</p>
		</div>
		<!-- <div class="text-center">
			<button type="button" name="aceptar" class="btn btn-info margin-bottom" ng-click="accept()">Aceptar</button>
		</div> -->
	</div>
</div>
