<div class="row checkout-box" id="checkout-box">
	<div class="col-sm-12 col-md-12 checkout-header space-header">
		<h3 class="title col-md-3 col-sm-7 col-xs-7">1. Confirma tu Pedido</h3>
		<div class="col-md-offset-6 col-md-3 col-xs-5">
			<a ui-sref="main.registry-plans" class="btn btn-default btn-back plan-back">Regresar &#60;</a>
		</div>
		<div class="line-divi col-md-12 col-xs-12"></div>
	</div>
	<div class="col-sm-12 checkout-product">
		<div class="col-md-4 box-image">
			<img class="img-responsive" ng-src="{{type_plan(plan.code)}}" alt="{{plan.plan_name}}">
			<div class="title-plan"><span>{{title_plan[0]}}</span><br>{{title_plan[1]}}</div>
		</div>
		<div class="col-md-8">
	        <div class="product-price-detail plan-detail-price">
	            {{totals.subtotal | currency : "Bs. " : 2 }}
	        </div>
	        <div class="product-description-detail plan-description-ck">
	        	<div ng-show="plan.code=='000002'">
	            * Registro gratuito.<br>
				* Posibilidad de usar plataforma de pago segura a través de Instapago de Banesco.<br>
				* Envío de productos a través de nuestros aliados.<br>
				* Cantidad de productos ilimitados.<br>
				* Duración Ilimitada.<br>
				* Ubicación privilegiada en home y categoría para una venta más rápida.<br>
				* Vitrina comercial con posibilidad de agregar las redes sociales de tu negocio, así como tus datos directos de contacto.
				</div>
				<div ng-show="plan.code=='000001'">
	            * Registro gratuito.<br>
				* Posibilidad de usar plataforma de pago segura a través de Instapago de Banesco.<br>
				* Envío de productos a través de nuestros aliados.<br>
				* Cantidad de productos ilimitados.<br>
				* Duración Ilimitada.<br>
				* Ubicación privilegiada en home y categoría para una venta más rápida.<br>
				</div>
	        </div>
        </div>
	</div>
	<div class="col-md-12 checkout-header">
		<h3 class="title col-md-3 plan-pay">2. Pagar</h3>
		<div class="line-divi col-md-12"></div>
	</div>
	<div class="col-md-12 col-sm-12 checkout-payment">
		<div class="col-md-4 col-sm-12 info-totals">
			<h4></h4>
			<div class="totals">
				Sub-total: <span class="box-amounts">{{totals.subtotal | currency : "Bs. " : 2 }}</span><br>
				<span>Comisión de pasarela de pago: <span class="box-amounts">{{totals.feed_tdc | currency : "Bs. " : 2 }}</span><br></span>
				Total: <span class="box-amounts">{{totals.total | currency : "Bs. " : 2 }}</span><br>
			</div>
		</div>
		<div class="col-md-8 col-sm-12 instapago-form">
			<form class="form-horizontal" name="tdcForm" ng-submit="sendPayment()" novalidate >
				<div class="form-group">
				    <label for="card_number" class="col-xs-12 col-md-4 col-sm-12 control-label">No. Tarjeta</label>
				    <div class="col-md-5 col-sm-8 col-xs-8">
				    	<input type="text" class="form-control" name="card_number" ng-model="tdc.card_number" id="card_number" value="" ng-minlength="16" maxlength="16" required only-digits autocomplete="off">
				    	<div ng-show="tdcForm.card_number.$invalid && !tdcForm.card_number.$pristine" class="help-block">Coloca un número de tarjeta válido</div>
				    </div>
				    <img class="col-sm-2 col-md-2 col-xs-3 visa-master" src="images/visa-master-checkout.png">
				</div>
				<div class="form-group">
				    <label for="cvc" class="col-sm-12 col-md-4 control-label">Cod. Seguridad</label>
				    <div class="col-sm-12 col-md-3">
				    	<input type="password" class="form-control" ng-model="tdc.cvc" name="cvc" id="cvc" required ng-minlength="3" ng-maxlength="3" maxlength="3" only-digits autocomplete="off">
				    	<div ng-show="tdcForm.cvc.$invalid && !tdcForm.cvc.$pristine" class="help-block">CVC inválido</div>
				    </div>
				</div>
				<div class="form-group">
				    <label for="tdc_mes" class="col-sm-12 col-xs-12 col-md-4 control-label">Vencimiento</label>
				    <div class="col-md-3 col-sm-5 col-xs-5" id="">
				    	<select name="tdc_mes" ng-model="tdc.tdc_mes" class="form-control" ng-options="month.value as month.text for month in months" required>
				    		<option value="">Mes</option>
				    	</select>
				    </div>
				    <div class="col-md-3 col-sm-5 col-xs-5" id="">
				    	<select name="tdc_anio" ng-model="tdc.tdc_anio" class="form-control" ng-options="year.value as year.text for year in years" required>
				    		<option value="">Año</option>
				    	</select>
				    </div>
				    <div ng-show="tdcForm.tdc_mes.$invalid && !tdcForm.tdc_mes.$pristine" class="col-md-12 help-block">Debes escoger un Mes</div>
				    <div ng-show="tdcForm.tdc_anio.$invalid && !tdcForm.tdc_anio.$pristine" class="col-md-12 help-block">Debes escoger un Mes</div>
				</div>
				<div class="form-group">
				    <label for="card_holder" class="col-md-4 col-sm-12 control-label">Nombre en la tarjeta</label>
				    <div class="col-md-7 col-sm-12">
				    	<input type="text" class="form-control" ng-model="tdc.card_holder" name="card_holder" id="card_holder" only-alpha maxlength="100" required autocomplete="off">
				    	<div ng-show="tdcForm.card_holder.$invalid && !tdcForm.card_holder.$pristine" class="help-block">Coloca un nombre válido</div>
				    </div>
				</div>
				<div class="form-group">
				    <label for="card_holder_id" class="col-md-4 col-sm-12 control-label">Cédula o RIF</label>
				    <div class="col-md-7 col-sm-12">
				    	<input type="text" class="form-control" ng-model="tdc.card_holder_id" name="card_holder_id" id="card_holder_id" only-digits ng-minlength="6" maxlength="8" required autocomplete="off">
				    	<div ng-show="tdcForm.card_holder_id.$invalid && !tdcForm.card_holder_id.$pristine" class="help-block">Coloca un número de cédula válido</div>
				    </div>
				</div>
				<div class="form-group">
				    <label for="card_holder_id" class="col-md-4 col-sm-12 control-label">Monto</label>
				    <div class="col-sm-12 col-md-8 payment-amount">
				    	{{totals.total | currency : "Bs. " : 2 }}
				    </div>
				</div>
				<div class="form-group">
				    <label for="card_holder_id" class="col-md-4 col-sm-12 control-label"></label>
				    <div class="col-md-8 col-sm-12 box-button-submit">
				    	<button ng-disabled="tdcForm.$invalid || isSubmited" name="btnSubmit" class="btn btn-payment">Pagar</button>
				    </div>
				</div>
			</form>
			<h5>Esta transacción será procesada de forma segura gracias a la plataforma de</h5>
			<div class="col-md-offset-2 col-md-9 insta-banesco-logos">
				<img src="images/instapago-banesco-checkout.png" class="col-md-12 col-sm-12 col-xs-12">
			</div>
		</div>
	</div>
	<div class="col-md-12 checkout-header" ng-show="showConfirm" id="scrollHere">
		<h3 class="title col-md-3">4. Confirmación</h3>
		<div class="line-divi col-md-12"></div>
	</div>
	<div class="col-md-12 checkout-voucher" id="checkout-voucher" ng-show="showConfirm">
		<img src="images/loader-chick.gif" ng-show="displayLoader"><br>
		<span ng-show="displayLoader">Procesando pago</span>
		<div class="info-instapago" ng-show="!displayLoader">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<dl>
					<dt class="col-md-5 col-sm-5 col-xs-5">Código</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{tdcResponse.reference}}</dd>

					<dt class="col-md-5 col-sm-5 col-xs-5">Monto</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{totals.total | currency : "Bs. " : 2 }}</dd>
					
					<dt class="col-md-5 col-sm-5 col-xs-5">Fecha</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{tdcResponse.datetime}}</dd>
					
					<dt class="col-md-5 col-sm-5 col-xs-5">Estatus</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{tdcResponse.message}}</dd>

					<dt class="col-md-5 col-sm-5 col-xs-5">Aprobación</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{tdcResponse.approval}}</dd>

					<dt class="col-md-5 col-sm-5 col-xs-5">Secuencia</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{tdcResponse.sequence}}</dd>

					<dt class="col-md-5 col-sm-5 col-xs-5">Descripción</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">Factura N° 1234</dd>
				</dl>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12 info-btn">
				<div id="tdcVoucher" class="voucher col-md-6 col-sm-12 col-xs-12" ng-bind-html=" tdcVoucher | trusted">
				</div>
				<div class="box-btn-voucher col-md-5 col-sm-12 col-xs-12">
					<a class="btn btn-default" ng-click="printDiv('tdcVoucher');">Imprimir <span class="pi-sprite-icon pi-print"></span></a><br>
					<a class="btn btn-default btn-download" href="">Descargar <span class="pi-sprite-icon pi-download"></span></a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-offset-5 col-md-3 box-return">
			<a ui-sref="main.registry-plans" class="btn btn-default btn-back">Regresar &#60;</a>
		</div>
	</div>
</div>