<div class="row wrapper">
	<div masonry='{ "transitionDuration" : "0.5s" , "itemSelector" : ".masonry-items"}'>
		<!-- items -->
		<div class="masonry-items" masonry-tile ng-class="{'masonry-items-banner':publication.banner, 'masonry-items-testimony':publication.testimony_title}" ng-repeat="publication in publications">        		
        	<div class="publication" ng-show="publication.product" ui-sref="main.productdetail({id:publication.id})">
        		<div class="container-fluid box">
		            <div ng-show="publication.product.is_recommended" class="recommended-medal">
	                    <span class="star-recommended">
	                        ★
	                    </span>
	                </div>
					<div class="col-xs-5 col-sm-12 image-container">
                		<img class="img-responsive" ng-src="{{publication.product.product_image[0].picture}}" alt="Imagen del producto">
					</div>
					<div class="col-xs-7 col-sm-12 data-container">
						<div class="main">
				            <label class="name">{{publication.product.name}}</label>
			                <label class="price">{{publication.price | currency : "Bs. " : 2}}</label>		
						</div>
						<div class="footer">
			                <label class="name">{{publication.user.parent.first_name + ' ' + publication.user.parent.last_name}}</label>
							<label class="address">{{publication.user.parent.direction | limitTo : 90 }}<span ng-if="publication.user.parent.direction.length > 90">...</span></label>
		                    <div class="allstar">
		                    	<div  class="star" ng-class="{
		                    	   'nothing': publication.user.parent.reputation == null,
								   'mMalo': publication.user.parent.reputation == '1',
								   'malo':  publication.user.parent.reputation == '2', 
								   'regular':  publication.user.parent.reputation == '3', 
								   'bueno':  publication.user.parent.reputation == '4',
								   'mBueno': publication.user.parent.reputation == '5'
								   }">
								    <img src="images/flor/flower24.png">
									<img src="images/flor/flower24.png">
									<img src="images/flor/flower24.png">
									<img src="images/flor/flower24.png">
									<img src="images/flor/flower24.png">
								</div>
		                    </div>
						</div>
					</div>
        		</div>
        	</div>
			<!-- banner -->
         	<div class="banner" ng-show="publication.status == '1' && publication.banner == '2' && publication.location == '1'">
         	
         		<a target="_blank"  ng-click="clickBanContCar(publication)" >         
	     	    	<img class="img-responsive" ng-src="{{publication.picture}}" alt="Banner" >
         		</a>
        	</div> 
			<!-- testimony -->
         	<div class="testimony" ng-show="publication.testimony_title || publication.testimony_content">
				<article class="testimony-box">
					<div class="testimony-box-title">
						"{{publication.testimony_title}}"
					</div>
					<div class="testimony-box-content">
						{{publication.testimony_content | limitTo: 100}}
						<span ng-if="publication.testimony_content.length > 100">...</span>
					</div>
					<div class="testimony-box-user">
						{{publication.testimony_user}}
					</div>
					<div class="testimony-box-moreinfo" ui-sref="main.testimonies">
						<div class="testimony-box-moreinfo-text">
							Leer mas...
						</div>
					</div>
				</article>
        	</div>
	    </div>
	</div>
</div>

<div class="row">
	<div class="button-yellow" ng-click="load()">
		<p>Ver más productos</p>
	</div>
</div>
<!-- END PRODUCTS -->