<div class="clearfix visible-xs"></div>
<section id="carrusel-banner">
	<div uib-carousel active="active" interval="myinterval" no-wrap="noWrapSlides">
		<div uib-slide  ng-repeat="banner in banners | filter:{status: '1', location: '1', banner: '1'}" index="$index">
			<a ng-click="clickBanContCar(banner)">
				<img ng-src="{{banner.picture}}" alt="Banner Image">
			</a>
		</div>
	</div>
</section>
<hr>
<div ui-view="categories"></div>
<hr>	
<div ui-view="products"></div>
<hr>
<section id="post-blog">
	<div class="title text-center">
		Lo más reciente del Blog
	</div>
	<div ng-repeat="post in posts">
		<div class="col-md-3 col-sm-12 padding-margin-0">
			<div class="post">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 col-xs-3 padding-margin-0 post-div-image">
			 				<a ng-href="{{post.link}}">
			 					<img ng-src="{{post.img}}" alt="" class="img-responsive post-img">
			 				</a>
						</div>
						<div class="col-md-12 col-xs-9 padding-margin-0 post-text">
							<div class="post-content">
								<div class="title post-title">{{post.title}}</div>
								<div class="post-extract">{{post.excerpt}}</div>
							</div>
							<div class="post-link">
								<a ng-href="{{post.link}}">leer más...</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<a ng-href="http://blog.pollitoingles.com/">
		<div class="button-yellow">
			<p>Visitar el Blog</p>
		</div>
	</a>
</section>
