<div class="margin-cat">
<!-- Editando -->
<div class="row registry-complete">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-lg-12 col-md-12 col-sm-12 text-center">
			<img src="images/logo-TiendaPollito-c.png" alt="" class="rate-image-finish">
		</div>
		<div class="center-block center-bag">
			<img src="images/medal-CTR.png" alt="" class="rate-bag-medal">
			<div>
				<span class="discount-big-medal">
					10%
				</span>
			</div>
			<div>
				<span class="discount-low-medal">
					DESCUENTO
				</span>	
			</div>					
		</div>
		<div class="congrats">
			Felicidades<br>
			has completado<br>
			tu registro
		</div>
		<div class="offset-my-profile">				
			<a ui-sref="main.profile.tabs.products" class="follower_button user_profile_send_message user_profile_ajust_buttons my-profile-width" type="button">
				Mi Perfil
			</a>
		</div>
	</div>
</div>
<!-- Fin Edicion -->
	<!-- <div class="row registry-complete">
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<img src="images/logo-TiendaPollito-c.png" alt="" class="rate-image-finish">
			</div>
			<div class="center-block center-bag">
					<img src="images/medal-CTR.png" alt="" class="rate-bag-medal">
					<p>
						</p><h1>
						<div>
							<span class="discount-big-medal">
								10%
							</span>
						</div>
						<div>
							<span class="discount-low-medal">
								DESCUENTO
							</span>	
						</div>					
						</h1>
					<p></p>
				</div>
			<div class="congrats">
				Felicidades<br>
				has completado<br>
				tu registro
			</div>
			<div class="offset-my-profile">				
				<button class="follower_button user_profile_send_message user_profile_ajust_buttons my-profile-width" type="button">
					Mi Perfil
				</button>				
			</div>
		</div>	
	</div> -->
</div>