<div class="margin-cat">
	<div class="row">
		<form name="stepTwoForm" ng-submit="continue2()" novalidate>
		<div class="col-lg-12 col-md-12 col-sm-12 plans-title text-center">
			Completa tu registro
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 subtitle-registry">
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-1 subtitle-registry subtitle-separator">
			Información Básica
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 subtitle-registry">
		</div>		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 subtitle-registry-item">
				¿Cómo se conecta a internet?
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>		
		<!-- -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>							
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="con_mom_1">
						<input type="radio" name="con_registry" id="con_mom_1" value="1" ng-model="rgcomplete2.internet" ng-required="!rgcomplete2.internet">
						<span name="con_registry_1"></span>
					</label>
					<span class="radiobutton-title">
						Poseo internet en mi hogar
					</span>				
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="con_mom_2">
						<input type="radio" name="con_registry" id="con_mom_2" value="2" ng-model="rgcomplete2.internet" ng-required="!rgcomplete2.internet">
						<span name="con_registry_2"></span>
					</label>
					<span class="radiobutton-title">
						Centro de conexión (Cyber)
					</span>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>									
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<br>
				</div>			
			</div>			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 last-after-line">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>							
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="con_mom_3">
						<input type="radio" name="con_registry" id="con_mom_3" value="3" ng-model="rgcomplete2.internet" ng-required="!rgcomplete2.internet">
						<span name="con_registry_3"></span>
					</label>
					<span class="radiobutton-title">
						Comparto conexión a internet <br>
						con mi comunidad
					</span>				
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="con_mom_4">
						<input type="radio" name="con_registry" id="con_mom_4" value="4" ng-model="rgcomplete2.internet" ng-required="!rgcomplete2.internet">
						<span name="con_registry_4"></span>
					</label>
					<span class="radiobutton-title">
						Otro
					</span>
					<div class="center-items-registry">
						<input class="other-field-job" ng-disabled="rgcomplete2.internet!=4" ng-model="rgcomplete2.internet_text"></input>
					</div>					
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>									
			</div>
		</div>		
		<!-- -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 pk-product">
				
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>		
		<!-- -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 subtitle-registry-item">
				Equipos de comunicación y trabajo que posee
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>							
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="com_media_mom_1">
						<input type="radio" name="com_media_registry" value="1" id="com_media_mom_1" ng-model="rgcomplete2.electronic" ng-required="!rgcomplete2.electronic">
						<span name="com_media_registry_1"></span>
					</label>
					<span class="radiobutton-title">
						Desktop
					</span>
					<span class="radiobutton-subtitle">
						computadora de escritorio
					</span>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="com_media_mom_2">
						<input type="radio" name="com_media_registry" value="2" id="com_media_mom_2"  ng-model="rgcomplete2.electronic" ng-required="!rgcomplete2.electronic">
						<span name="com_media_registry_2"></span>
					</label>
					<span class="radiobutton-title">
						Laptop
					</span>
					<span class="radiobutton-subtitle">
						computadora portátil
					</span>

				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>									
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<br>
				</div>			
			</div>			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>							
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="com_media_mom_3">
						<input type="radio" name="com_media_registry" value="3" id="com_media_mom_3" ng-model="rgcomplete2.electronic" ng-required="!rgcomplete2.electronic">
						<span name="com_media_registry_3"></span>
					</label>
					<span class="radiobutton-title">
						Teléfono celular inteligente
					</span>				
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="com_media_mom_4">
						<input type="radio" name="com_media_registry" value="4" id="com_media_mom_4" ng-model="rgcomplete2.electronic" ng-required="!rgcomplete2.electronic">
						<span name="com_media_registry_4"></span>
					</label>
					<span class="radiobutton-title">
						Teléfono celular básico
					</span>					
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>									
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>
		<!-- -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 pk-product">
				
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<!-- -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>		
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 subtitle-registry-item">
				Medio de transporte más utilizado
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>							
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="transport_mom_1">
						<input type="radio" name="transport_registry" value="1" id="transport_mom_1" ng-model="rgcomplete2.transport" ng-required="!rgcomplete2.transport">
						<span name="transport_registry_1"></span>
					</label>
					<span class="radiobutton-title">
						Transporte público
					</span>				
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="transport_mom_2">
						<input type="radio" name="transport_registry" value="2" id="transport_mom_2"  ng-model="rgcomplete2.transport" ng-required="!rgcomplete2.transport">
						<span name="transport_registry_2"></span>
					</label>
					<span class="radiobutton-title">
						Vehículo propio
					</span>
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>									
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<br>
				</div>			
			</div>			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>							
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="transport_mom_3">
						<input type="radio" name="transport_registry" value="3" id="transport_mom_3" ng-model="rgcomplete2.transport" ng-required="!rgcomplete2.transport">
						<span name="transport_registry_3"></span>
					</label>
					<span class="radiobutton-title">
						Moto
					</span>				
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 center-items-registry">
					<label for="transport_mom_4">
						<input type="radio" name="transport_registry" value="4" id="transport_mom_4" ng-model="rgcomplete2.transport" ng-required="!rgcomplete2.transport">
						<span name="transport_registry_4"></span>
					</label>
					<span class="radiobutton-title">
						Otro
					</span>
					<div class="center-items-registry">
						<input class="other-field-job" ng-disabled="rgcomplete2.transport!=4" ng-model="rgcomplete2.transport_text"></input>
					</div>					
				</div>
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				</div>									
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>		
		
		<!-- -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 pk-product">
				
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>		
		<!-- -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<br>
				<br>
				<br>
			</div>			
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<div class="text-center">
					<a ui-sref="main.registry-basic-info" class="new-button-pink">Anterior</a>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	            <div class="text-center">
	            	<button class="new-button-pink">Siguiente</button>
	            </div>			
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<br><br>
		</div>		
		</form>		
	</div>
</div>