<div class="margin-cat">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1 class="title_about_us" id="scrollHere">
			Nosotros
			</h1>
		</div>
		<div class="row">
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 about_us_intro">
			<strong>¡En Pollito Inglés nos hemos propuesto ayudarte en tu rol de mamá!</strong><br><br>
			<strong>¡Las madres tenemos el trabajo más bello e importante del mundo!</strong>, por eso en Pollito Inglés 
			te brindamos un espacio en el que podrás conectar con otras mamás para el intercambio, 
			compra y venta de artículos usados de bebés y, adicionalmente, podrás disfrutar de contenidos 
			de gran utilidad en tu viaje como madre.<br><br>

			<b>C</b>omenzamos en 2010 abriendo una cuenta de Twitter y un blog para fomentar entre las mamás el intercambio de aquellas cosas que nuestros bebés ya no utilizan, además de compartir contenidos e historias de maternidad.<br><br>

			<b>H</b>oy ya somos una Comunidad de Madres a través de una multiplataforma digital que abarca las redes sociales más populares, incluye este portal en donde puedes encontrar lo que buscas o vender más fácilmente lo que tus pollitos ya no necesitan.<br><br>

		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<br>
			<br>
		</div>
		
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<div ng-repeat="info in data">
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="row member_profile_box">
						<div class="row member_profile_image">
							<img ng-click="hola()" ng-src="{{ info.picture }}" class="member_profile_circle" alt="" width="150px" height="150px">
						</div>
						<div class="row">
							<h3 class="member_profile_name">
							{{ info.name }}
							</h3>
							<p >
								
							</p>
							<p class="member_profile_context">
								{{ info.description }}
							</p>
						</div>
					</div>
				</div>
				
			</div>
			
			
		</div>
		
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<div class="row">
				<br><br>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<div class="row">
				<br><br>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 ">
			<div class="row">
				<img src="images/team_chick_bn.png" alt="" class="img-responsive">
			</div>
		</div>
	</div>
</div>