<div class="row">
	<div class="col-sm-12">
		<div class="text-center title-register">
			Tu registro es Gratis<br>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<img class="register-margin-img" src="images/steps.png">
	</div>
</div>
<div class="row" id="scrollHere">
	<div class="col-sm-10 col-sm-offset-1">
		<form name="newUserForm" ng-submit="registerForm()" novalidate>
			<div class="box-register">
				<div class="text-center title-form">
					Formulario de Registro
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{ 'has-error' : newUserForm.first_name.$invalid && !newUserForm.first_name.$pristine }">
							<p>
								<input class="form-control" name="first_name" id="first_name" type="text" placeholder="Nombre*" ng-model="user.first_name" ng-minlength="2" ng-maxlength="15" ng-pattern="regex2" only-alpha required>
							</p>
							<div ng-show="newUserForm.first_name.$invalid && !newUserForm.first_name.$pristine" class="help-block">
								El nombre no puede contener números o caracteres especiales.
							</div>
							<div ng-show="newUserForm.first_name.$error.maxlength" class="help-block">
								El nombre no puede contener más de 15 caracteres
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{ 'has-error' : newUserForm.first_name.$invalid && !newUserForm.first_name.$pristine }">
							<p>
								<input class="form-control" name="last_name" id="last_name" type="text" placeholder="Apellido*" ng-model="user.last_name" ng-minlength="2" ng-maxlength="15" ng-pattern="regex2" only-alpha required>
							</p>
							<div ng-show="newUserForm.last_name.$invalid && !newUserForm.first_name.$pristine" class="help-block">
								El apellido no puede contener números o caracteres especiales.
							</div>
							<div ng-show="newUserForm.last_name.$error.maxlength" class="help-block">
								El apellido no puede contener más de 15 caracteres
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{ 'has-error' : newUserForm.password.$invalid && !newUserForm.password.$pristine }">
							<p>
								<input class="form-control" id="password" type="password" placeholder="Contraseña*" ng-model="user.password" ng-minlength="8" name="password" required>
							</p>
							<div ng-show="newUserForm.password.$invalid && !newUserForm.password.$pristine" class="help-block">Coloca un password válido</div>
							<div ng-show="newUserForm.password.$error.minlength" class="help-block">
								La clave debe tener al menos 8 caracteres
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{ 'has-error' : newUserForm.passwordConfirmation.$invalid && !newUserForm.passwordConfirmation.$pristine }">
							<p>
								<input class="form-control" id="passwordConfirmation" type="password" placeholder="Repetir contraseña*" ng-model="user.passwordConfirmation" name="passwordConfirmation" required compare-to="user.password">
							</p>
							<div ng-show="newUserForm.passwordConfirmation.$invalid && !newUserForm.passwordConfirmation.$pristine" class="help-block">Las contraseñas deben ser iguales</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{ 'has-error' : newUserForm.phone_number.$invalid && !newUserForm.phone_number.$pristine}">
							<p><!-- only-digits  -->
								<input class="form-control" id="phone_number" name="phone_number" type="text" placeholder="Teléfono*" ng-model="user.phone_number" ng-pattern="/^0(424|426|412|414|416|212)\d{7}$/" maxlength="11" phoneFormat required >
								<div ng-show="newUserForm.phone_number.$invalid && !newUserForm.phone_number.$pristine" class="help-block">Solo son válidos: <span>(0424),(0426),(0412),(0414),(0416)</span> o <span>(0212)</span></div>
							</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{ 'has-error' : newUserForm.email.$invalid && !newUserForm.email.$pristine }">
							<p>
								<input class="form-control" name="email" id="email" type="email" placeholder="Correo Electrónico*" ng-model="user.email" required>
							</p>
							<div ng-show="newUserForm.email.$invalid && !newUserForm.email.$pristine" class="help-block">Debes colocar un correo electrónico válido</div>
						</div>
					</div>
						<!--<div class="col-sm-4">
							<p>
								Captcha
								<input type="text" class="form-control" placeholder="Introduzca las palabras que vé arriba">
							</p>
						</div>-->
					<div class="row">
						<div class="col-xs-12 text-center">
							<div class="form-group" ng-class="{ 'has-error' : newUserForm.terms_conditions.$invalid && !newUserForm.terms_conditions.$pristine }">
								<p>
									<input id="checkbox1" type="checkbox" name="terms_conditions" value="1" ng-model="user.terms_conditions" required><label for="checkbox1"><span></span><a ng-click="acceptTerms()">Estoy de acuerdo con los Términos y Condiciones.</a></label>
									<br>
								</p>
								<div ng-show="newUserForm.terms_conditions.$invalid && !newUserForm.terms_conditions.$pristine" class="help-block">Este campo es requerido</div>
							</div>
								Los campos con asterisco son obligatorios
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<button class="btn btn-facebook margin-btn" ng-click="intentLogin()"><img src="images/icon-facebook.png">&nbsp;|&nbsp;&nbsp;Registrarme con Facebook</button>
						</div>
						<div class="col-md-6">
							<button type="submit" ng-disabled="newUserForm.$invalid"  class="btn btn-star margin-btn">
								Registrarme
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<br>
					<br>
				</div>
				<div class="plans-cloud">
                    <a ui-sref="main.registry-plans">
                        <img src="images/btn-cloud.png" alt="">
                    </a>
				</div>
		</form>
	</div>
</div>
