<form name="productForm" id="vender_intercambiar">
	<div class="margin-cat">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h1 class="policies-main div-valign-middle">
					¿Qué quieres hacer?
				</h1>
				<br>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="do-pane center-divs">
							<div class="checkbox-title-do">
								<label for="what_do_1">
									<input type="radio" name="what_do" id="what_do_1" ng-value="1" ng-change="itemSelected('Vender')" ng-model='product.status' required>
									<span name="span_what_do_1"></span>
								</label>
							</div>
							<div class="pane-title-do">
									Vender
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="do-pane center-divs">
							<div class="checkbox-title-do">
								<label for="what_do_2">
									<input type="radio" name="what_do" id="what_do_2" ng-value="3" ng-change="itemSelected('Vender/Intercambiar')" ng-model='product.status' required>
									<span name="span_what_do_2"></span>
								</label>
							</div>
							<div class="pane-title-interchange">
								<span>Vender / Intercambiar</span>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4">
						<div class="do-pane center-divs">
							<div class="checkbox-title-do">
								<label for="what_do_3">
									<input type="radio" name="what_do" id="what_do_3" ng-value="2" ng-change="itemSelected('Intercambiar')" ng-model='product.status' required>
									<span name="span_what_do_3"></span>
								</label>
							</div>
							<div class="pane-title-do">
								<span>Intercambiar</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 padding-row">
				<br>
				<div class="pk-product">
				</div>
			</div>
			<div class="col-sm-12 text-center">
				<h1 class="policies-main div-valign-middle">
					¿En qué condiciones está?
				</h1>
				<br>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="do-pane center-divs">
							<div class="checkbox-title-do">
								<label for="condition_1">
									<input type="radio" name="use_condition" id="condition_1" ng-value="1" ng-change="itemSelected('Nuevo')" ng-model='product.condition' required>
									<span name="span_condition_1"></span>
								</label>
							</div>
							<div class="pane-title-interchange">
								<span>Nuevo</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="do-pane center-divs">
							<div class="checkbox-title-do">
								<label for="condition_2">
									<input type="radio" name="use_condition" id="condition_2" ng-value="2" ng-change="itemSelected('Como nuevo')" ng-model='product.condition' required>
									<span name="span_condition_2"></span>
								</label>
							</div>
							<div class="pane-title-interchange">
								<span>Como nuevo</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="do-pane center-divs">
							<div class="checkbox-title-do">
								<label for="condition_3">
									<input type="radio" name="use_condition" id="condition_3" ng-value="3" ng-change="itemSelected('Poco uso')" ng-model='product.condition' required>
									<span name="span_condition_3"></span>
								</label>
							</div>
							<div class="pane-title-interchange">
								<span>Poco uso</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3">
						<div class="do-pane center-divs">
							<div class="checkbox-title-do">
								<label for="condition_4">
									<input type="radio" name="use_condition" id="condition_4" ng-value="4" ng-change="itemSelected('Usado')" ng-model='product.condition' required>
									<span name="span_condition_4"></span>
								</label>
							</div>
							<div class="pane-title-interchange">
								<span>Usado</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 text-center">
				<h1 class="policies-main div-valign-middle">
					Categoría
				</h1>
				<br>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
				        <label for="category_1">
				        	<input id="category_1" type="radio" name="category" ng-value="'ALIMENTACIÓN'" ng-change="itemSelected('ALIMENTACIÓN')" ng-model="selectedcategory" required/>
				        	<img src="images/tetero.png" alt="" class="img-responsive">
							<div class="category-name">
								ALIMENTACIÓN
							</div>
						</label>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
				        <label for="category_2">
				        	<input id="category_2" type="radio" name="category" ng-value="'ANDADERAS'" ng-change="itemSelected('ANDADERAS')" ng-model="selectedcategory" required/>
				        	<img src="images/andadera.png" alt="" class="img-responsive">
							<div class="category-name">
								ANDADERAS
							</div>
						</label>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
				        <label for="category_3">
				        	<input id="category_3" type="radio" name="category" ng-value="'BAÑO'" ng-change="itemSelected('BAÑO')" ng-model="selectedcategory" required/>
				        	<img src="images/limpieza.png" alt="" class="img-responsive">
							<div class="category-name">
								BAÑO
							</div>
						</label>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
				        <label for="category_4">
				        	<input id="category_4" type="radio" name="category" ng-value="'COCHES'" ng-change="itemSelected('COCHES')" ng-model="selectedcategory" required/>
				        	<img src="images/coche.png" alt="" class="img-responsive">
							<div class="category-name">
								COCHES
							</div>
						</label>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
				        <label for="category_5">
				        	<input id="category_5" type="radio" name="category" ng-value="'CUNAS Y CORRALES'" ng-change="itemSelected('CUNAS Y CORRALES')" ng-model="selectedcategory" required/>
				        	<img src="images/cuna.png" alt="" class="img-responsive">
							<div class="category-name">
								CUNAS Y CORRALES
							</div>
						</label>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
				        <label for="category_6">
				        	<input id="category_6" type="radio" name="category" ng-value="'JUGUETES'" ng-change="itemSelected('JUGUETES')" ng-model="selectedcategory" required/>
				        	<img src="images/juguete.png" alt="" class="img-responsive">
							<div class="category-name">
								JUGUETES
							</div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
						<label for="category_7">
							<input id="category_7" type="radio" name="category" ng-value="'OTROS'" ng-change="itemSelected('OTROS')" ng-model="selectedcategory" required/>
							<img src="images/otros.png" alt="" class="img-responsive">
							<div class="category-name">
								OTROS
							</div>
						</label>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
						<label for="category_8">
							<input id="category_8" type="radio" name="category" ng-value="'PORTABEBÉS'" ng-change="itemSelected('PORTABEBÉS')" ng-model="selectedcategory" required/>
							<img src="images/canguro.png" alt="" class="img-responsive">
							<div class="category-name">
								PORTABEBÉS
							</div>
						</label>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
						<label for="category_9">
							<input id="category_9" type="radio" name="category" ng-value="'ROPA'" ng-change="itemSelected('ROPA')" ng-model="selectedcategory" required/>
							<img src="images/ropa.png" alt="" class="img-responsive">
							<div class="category-name">
								ROPA
							</div>
						</label>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
						<label for="category_10">
							<input id="category_10" type="radio" name="category" ng-value="'SEGURIDAD'" ng-change="itemSelected('SEGURIDAD')" ng-model="selectedcategory" required/>
							<img src="images/seguridad.png" alt="" class="img-responsive">
							<div class="category-name">
								SEGURIDAD
							</div>
						</label>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
						<label for="category_11">
							<input id="category_11" type="radio" name="category" ng-value="'SILLAS AUTO'" ng-change="itemSelected('SILLAS AUTO')" ng-model="selectedcategory" required/>
							<img src="images/carro.png" alt="" class="img-responsive">
							<div class="category-name">
								SILLAS AUTO
							</div>
						</label>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
						<label for="category_12">
							<input id="category_12" type="radio" name="category" ng-value="'SILLAS DE COMER'" ng-change="itemSelected('SILLAS DE COMER')" ng-model="selectedcategory" required/>
							<img src="images/comer.png" alt="" class="img-responsive">
							<div class="category-name">
								SILLAS DE COMER
							</div>
						</label>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 padding-row">
				<br>
				<div class="pk-product">
				</div>
			</div>
			<div class="col-sm-12 text-center">
				<h1 class="policies-main div-valign-middle">
					Nombre, descripción y precio
				</h1>
				<br>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 product-details-container">
						<br>
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6">
								<input type="text" class="product-details-field" name="nombreProducto" id="product-name" placeholder="Nombre" ng-model="product.name" ng-maxlength="98" required>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6">
								<input type="text" class="product-details-field" name="precioProducto" id="product-price" placeholder="Precio" ng-model="product.price" ng-pattern="regex" required>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<br>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12">
								<textarea name="product-description" id="product-description" name="descProducto" placeholder="Descripción" class="product-details-textarea" rows="5" cols="70" ng-model="product.description" required></textarea>
								<br>
							</div>
						</div>
						<div class="row box-images-add">
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
								<img ngf-src="pictures[0].picture" class="thumb">
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 box-button-choose">
								<button type="button" class="button-choose-image" name="pic1" ngf-select ng-model="pictures[0].picture" ngf-accept="'.png, .jpg, .jpeg'" required>
									Elegir imagen
								</button>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
								<img ngf-src="pictures[1].picture" class="thumb">
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 box-button-choose" >
								<button type="button" class="button-choose-image" name="pic2" ngf-select ng-model="pictures[1].picture" ngf-accept="'.png, .jpg, .jpeg'" ng-disabled="!pictures[0].picture">
									Elegir imagen
								</button>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
								<img ngf-src="pictures[2].picture" class="thumb">
							</div>
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 box-button-choose">
								<button type="button" class="button-choose-image" name="pic3" ngf-select ng-model="pictures[2].picture" ngf-accept="'.png, .jpg, .jpeg'" ng-disabled="!pictures[0].picture">
									Elegir imagen
								</button>
							</div>
						</div>
						<!-- <img ngf-src="pictures[0].picture" class="thumb"> -->
						<!-- <img ng-src="{{croppedPic[0]}}" class="thumb"/> -->
						<div ngf-drop ng-model="pictures[0].picture" ngf-pattern="'.png, .jpg, .jpeg'" class="crop-area">
							<!-- <img-crop image="pictures[0].picture | ngfDataUrl" result-image="croppedPic[0]" area-type="square" ng-init="croppedPic[0]=''"></img-crop> -->
						</div>
						<br>
						<!-- <img ngf-src="pictures[1].picture" class="thumb"> -->
						<!-- <img ng-src="{{croppedPic[1]}}" class="thumb"/> -->
						<div ngf-drop ng-model="pictures[1].picture" ngf-pattern="'.png, .jpg, .jpeg'" class="crop-area">
							<!-- <img-crop image="pictures[1].picture | ngfDataUrl" result-image="croppedPic[1]" area-type="square" ng-init="croppedPic[1]=''"></img-crop> -->
						</div>
						<br>
						<!-- <img ngf-src="pictures[2].picture" class="thumb"> -->
						<!-- <img ng-src="{{croppedPic[2]}}" class="thumb"/> -->
						<div ngf-drop ng-model="pictures[2].picture" ngf-pattern="'.png, .jpg, .jpeg'" class="crop-area">
							<!-- <img-crop image="pictures[2].picture | ngfDataUrl" result-image="croppedPic[2]" area-type="square" ng-init="croppedPic[2]=''"></img-crop> -->
						</div>
						<br>
						<small>Sólo puedes subir imágenes con formato: <b>.jpg, .jpeg ó .png</b></small>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 padding-row">
				<br>
				<div class="pk-product"></div>
			</div>
			<div class="col-sm-12 text-center">
				<h1 class="policies-main div-valign-middle">
					Género
				</h1>
				<br><br>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 gender-height">
						<div class="checkbox-title-gender">
							<label for="gender_1">
								<input type="radio" name="gender" id="gender_1" value="F" ng-model='product.gender'>
								<span name="span_gender_1"></span>
							</label>
						</div>
						<h3 class="gender-title">
							<span>
								Niña
							</span>
						</h3>
						<img src="images/sell-girl.png" alt="" class="img-responsive center-block" width="250px" height="250px">
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 gender-height">
						<div class="checkbox-title-gender">
							<label for="gender_2">
								<input type="radio" name="gender" id="gender_2" value="M" ng-model='product.gender' ng-change="itemSelected('Niño')" required>
								<span name="span_gender_2"></span>
							</label>
						</div>
						<h3 class="gender-title">
							<span>
								Niño
							</span>
						</h3>
						<img src="images/sell-boy.png" alt="" class="img-responsive center-block" width="250px" height="300px">
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 gender-height">
						<div class="checkbox-title-gender">
							<label for="gender_3">
								<input type="radio" name="gender" id="gender_3" value="A" ng-model='product.gender' ng-change="itemSelected('Ambos')" required>
								<span name="span_gender_3"></span>
							</label>
						</div>
						<h3 class="gender-title">
							<span>
								Ambos
							</span>
						</h3>
						<img src="images/sell-both.png" alt="" class="img-responsive center-block" width="250px" height="250px">
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 padding-row">
				<br>
				<div class="pk-product">
					&nbsp;
				</div>
			</div>
			<div class="col-sm-12 text-center">
				<h1 class="policies-main div-valign-middle">
					Edad
				</h1>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 text-center">
				<div class="content-search-info">
					<div class="row">
						<div class="col-xs-12 col-md-6">

							<div class="box-chick">
						        <label for="age_1">
						        	<input id="age_1" type="checkbox" name="age" value="0-3m" ng-checked="product.age.indexOf('0-3m') > -1" ng-click="toggleSelection('0-3m')" required/>
						        	<img src="images/chick-year.png" alt="pollito">
									<div>
										0-3 m
									</div>
								</label>
							</div>
						    <div class="box-chick">
					        	<label for="age_2">
						        	<input id="age_2" type="checkbox" name="age" value="3-6m" ng-checked="product.age.indexOf('3-6m') > -1" ng-click="toggleSelection('3-6m')" required/>
						        	<img src="images/chick-year.png" alt="pollito">
					        		<div>
					        			3-6 m
					        		</div>
						        </label>
						    </div>
							<div class="box-chick">
					        	<label for="age_3">
						        	<input id="age_3" type="checkbox" name="age" value="6-9m" ng-checked="product.age.indexOf('6-9m') > -1" ng-click="toggleSelection('6-9m')" required/>
						        	<img src="images/chick-year.png" alt="pollito">
						        	<div>
						        		6-9 m
						        	</div>
								</label>
							</div>
							<div class="box-chick">
					        	<label for="age_4">
						        	<input id="age_4" type="checkbox" name="age" value="9-12m" ng-checked="product.age.indexOf('9-12m') > -1" ng-click="toggleSelection('9-12m')" required/>
						        	<img src="images/chick-year.png" alt="pollito">
						        	<div>
						        		9-12 m
						        	</div>
								</label>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<div class="box-chick">
					        	<label for="age_5">
						        	<input id="age_5" type="checkbox" name="age" value="1-2a" ng-checked="product.age.indexOf('1-2a') > -1" ng-click="toggleSelection('1-2a')" required/>
						        	<img src="images/chick-year.png" alt="pollito">
						        	<div>
						        		1-2 a
						        	</div>
								</label>
							</div>
							<div class="box-chick">
					        	<label for="age_6">
						        	<input id="age_6" type="checkbox" name="age" value="2-4a" ng-checked="product.age.indexOf('2-4a') > -1" ng-click="toggleSelection('2-4a')" required/>
						        	<img src="images/chick-year.png" alt="pollito">
						        	<div>
						        		2-4 a
						        	</div>
								</label>
							</div>
							<div class="box-chick">
					        	<label for="age_7">
						        	<input id="age_7" type="checkbox" name="age" value="4-6a" ng-checked="product.age.indexOf('4-6a') > -1" ng-click="toggleSelection('4-6a')" required/>
						        	<img src="images/chick-year.png" alt="pollito">
						        	<div>
						        		4-6 a
						        	</div>
								</label>
							</div>
							<div class="box-chick">
					        	<label for="age_8">
						        	<input id="age_8" type="checkbox" name="age" value="6a+" ng-checked="product.age.indexOf('6a+') > -1" ng-click="toggleSelection('6a+')" required/>
						        	<img src="images/chick-year.png" alt="pollito">
						        	<div>
						        		6 o más
						        	</div>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 padding-row">
				<br>
				<div class="pk-product">
				</div>
				<br>
			</div>
			<!-- Incluir controlador para traer los estados y ciudades de la BD -->
			<div class="col-sm-12 text-center">
				<h1 class="policies-main div-valign-middle">
					Ubicación
				</h1>
				<br>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 product-details-container">
				<div class="row">
					<!-- debo traer las ciudades y estados del backend -->
					<div class="col-lg-6 col-md-6 col-sm-6">
						<label for="name" class="control-label policies-main div-valign-middle">Estado</label>
						<div class="select-sell">
							<select id="region" name="region" ng-model="product.region" ng-change="regionChanged()" ng-options="e as e.name for e in regions"> 
								<option value="" disabled selected hidden>Seleccione Estado</option>
							</select>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<label for="name" class="control-label policies-main div-valign-middle">Ciudad</label>
						<div class="city">
							<div class="select-sell">
								<select id="city" name="city" ng-model="product.city" ng-options="c as c.name for c in cities" required>
									<option value="" disabled selected hidden>Seleccione Ciudad</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<br>
				<br>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="row">
					<div class="">
					</div>
					<div class="button-yellow" ng-disabled="published">
						<p ng-click="addProduct()">Publicar</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
