<div class="margin-cat">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 plans-title text-center">
			Contáctanos
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-center">
			<img src="images/contactanos.png" alt="" class="img-contact-us">
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<br>								
			</div>			
		</div>
		<div class="row">
		    <div class="well textarea-contact">
		        <form name="contactForm" ng-submit="sendContact()" novalidate>
	                <div class="row checkbox-report-separator">
	                    <div class="form-inline">
	                        <div class="col-lg-6 col-sm-6 col-sm-6 contact-group-left">
	                            <label for="title" class="contact-label">
	                            	Correo
	                            </label>
	                            <input type="email" class="contact-field" id="email" name="email" value="" placeholder="Correo" ng-model="contact.email" required>
	                            <div ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">
									Debes colocar un correo electrónico válido
								</div>
	                        </div>
	                        <div class="col-lg-6 col-sm-6 col-sm-6 form-group">
	                            <label for="content" class="contact-label">
	                            	Asunto
	                            </label>
	                            <input type="text" maxlength="150" id="subject" name="subject" value="" class="contact-field" id="content" placeholder="Asunto" ng-model="contact.subject" ng-minlength="4" required>
	                            <div ng-show="(contactForm.subject.$invalid && !contactForm.subject.$pristine) || (contactForm.subject.$error.minlength)" class="help-block">
									Agrega el tema de tu mensaje y recuerda escribir al menos 4 caracteres
								</div>
	                        </div>
	                    </div>
	                </div>
	                <br>
	                <div class="row textarea-contact-padding form-group">
	                    <label for="content" class="contact-label">
	                    	Descripción
	                    </label>
	                    <textarea class="form-control textarea-report-check" rows="5" id="description" name="description"  placeholder="Descripción" ng-model="contact.description" required></textarea>
	                    <div ng-show="contactForm.description.$invalid && !contactForm.description.$pristine" class="help-block">
							Debes colocar una descripción de tu contacto
						</div>
	                </div>
	                <br>
	                <div class="row div-padding-bottom">
	                    <button type="submit" ng-disabled="contactForm.$invalid" class="btn btn-warning center-block btn-submit" name="button">Enviar</button>
	                    <br>
	                </div>
		        </form>
		    </div>
		</div>		
		<div class="row">
			<div class="rrss-space">
				<div class="div-rrss">
					<a ng-href="{{links_rrss['facebook_link']}}" target="_blank">
						<img src="images/facebook.png" alt="">
					</a>
					<a ng-href="{{links_rrss['twitter_link']}}" target="_blank">
						<img src="images/twitter.png" alt="">
					</a>
					<a ng-href="{{links_rrss['instagram_link']}}" target="_blank">
						<img src="images/instagram.png" alt="">
					</a>
					<a ng-href="{{links_rrss['pinterest_link']}}" target="_blank">
						<img src="images/pinteres.png" alt="">
					</a>
					<a ng-href="{{links_rrss['youtube_link']}}" target="_blank">
						<img src="images/youtube.png" alt="">
					</a>
				</div>
				<div class="div-address">					
					<span>
						<img src="images/icon-locality.png" width="15px">&nbsp;Torre HP, Piso 17. Caracas - Venezuela					
					</span><br>
					<span>
						<img src="images/icon-email.png" width="15px">&nbsp;hola@pollitoingles.com
					</span><br>
					<span>
						<img src="images/icon-phone.png" width="15px">&nbsp;+58 (424) 147.96.93
					</span>
					
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<br><br><br><br>
		</div>		
					
	</div>
</div>