<div class="triangule-down">
    <div class="sombra">
		<div class="footer-l-before">
		</div>
		<div class="footer-r-before">
		</div>
	</div>
</div>
<footer ng-class="isTPollito? 'Tpollito':''">
    <div id="footer-t-d">
		<div class="row">
            <div ng-hide="isTPollito">
                <div  class="col-sm-3">
                    <h3>Pollito Inglés</h3>
                    <ul>
                        <li>
                            <a ui-sref="main.home">Home</a>
                        </li>
                        <li>
                            <a ui-sref="main.registry-plans">Planes de Registro</a>
                        </li>
                        <li>
                            <a ui-sref="main.categories">Categorías</a>
                        </li>
                        <li>
                            <a ui-sref="main.about-us">Nosotros</a>
                        </li>
                        <li>
                            <a ui-sref="main.contact-us">Contáctanos</a>
                        </li>
                        <!-- <li>
                            <a ui-sref="main.support">Soporte</a>
                        </li> -->
                        <li>
                            <a ui-sref="main.faq">Preguntas Frecuentes</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Lo más buscado</h3>
                    <ul>
                        <li>
                            <a ui-sref="main.searchcategory({category:'ROPA'})">Ropa</a>
                        </li>
                        <li>
                            <a ui-sref="main.searchcategory({category:'JUGUETES'})">Juguetes</a>
                        </li>
                        <li>
                            <a ui-sref="main.searchcategory({category:'OTROS'})">Otros</a>
                        </li>
                        <li>
                            <a ui-sref="main.searchcategory({category:'ALIMENTACIÓN'})">Alimentación</a>
                        </li>
                        <li>
                            <a ui-sref="main.searchcategory({category:'CUNAS Y CORRALES'})">Cunas y Corrales</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h3>Interactúa</h3>
                    <ul>
                        <li>
                            <a ng-click="gotoBuy()">Compra</a>
                        </li>
                        <li>
                            <a ui-sref="main.sell">Vende</a>
                        </li>
                        <li>
                            <a ng-click="gotoBuy()">Intercambia</a>
                        </li>
                        <li>
                            <a ui-sref="main.register" ng-show="hasToken()">Regístrate</a>
                        </li>
                    </ul>
                </div>     
    			<div class="col-sm-1 linner-footer"></div>
    			<div class="col-sm-3">
    				<div class="social-media">
    					<h3>Síguenos en</h3>
    					<a ng-href="{{links_rrss['facebook_link']}}" target="_blank">
    						<div class="inline-block">
    							<img  class="size-img-redes" src="images/chick-facebook.png">
    						</div>
    					</a>
    					<a ng-href="{{links_rrss['twitter_link']}}" target="_blank">
    						<div class="inline-block">
    							<img class="size-img-redes" src="images/chick-twitter.png">
    						</div>
    					</a>
    					<a ng-href="{{links_rrss['pinterest_link']}}" target="_blank">
    						<div class="inline-block">
    							<img class="size-img-redes"src="images/chick-pinterest.png">
    						</div>
    					</a>
    					<a ng-href="{{links_rrss['instagram_link']}}" target="_blank">
    						<div class="inline-block">
    							<img class="size-img-redes" src="images/chick-instagram.png">
    						</div>
    					</a>
    				</div>
    			</div>
            </div>
            <div ng-show="isTPollito">
                <div class="footer-tp">
                    <div class="col-sm-9 padding-margin-0 links">
                        <a ui-sref="main.terms-conditions"     ><label>Términos y Condiciones</label></a>
                        <a ui-sref="main.privacy-policy"       ><label>Política de Privacidad</label></a>   
                        <a ui-sref="main.copyright-policies"   ><label>Políticas de Derecho de Autor</label></a>
                        <a ui-sref="main.acceptable-use-policy"><label>Políticas de Uso Aceptable</label></a>
                    </div>
                    <div class="col-sm-3 padding-margin-0 networks">
                        <div class="line-pointer"></div>
                        <label class="top">Síguenos en</label>
                        <a ng-href="{{links_rrss['facebook_link']}}"  target="_blank" ><img src="images/facebook-t.png"   alt="facebook"></a>
                        <a ng-href="{{links_rrss['twitter_link']}}"   target="_blank" ><img src="images/twitter-t.png"    alt="twitter"></a>
                        <a ng-href="{{links_rrss['pinterest_link']}}" target="_blank" ><img src="images/pinteres-t.png"   alt="pinterest"></a>
                        <a ng-href="{{links_rrss['instagram_link']}}" target="_blank" ><img src="images/instagram-t.png"  alt="instagram"></a>
                    </div>
                </div>
            </div>
		</div>
    </div>
    <div id="search-footer" class="input-group search-pollito">
        <input id="input-search-pollito-footer" type="text" class="form-control form-control-chick" placeholder="Qué desea buscar" ng-model="query" ng-keydown="$event.which === 13 && search()">
        <span class="input-group-btn">
            <button id="btn-search-footer" class="btn btn-default" type="button" ng-click="search()">
                <img src="images/icon-search.png" class="size-icon-search">
            </button>
        </span>
    </div>
</footer>
<div ng-hide="isTPollito" class="footer-after">
	<div class="content">
		<div class="row">
			<div class="col-xs-12 text-center">
                <div class="terms-awards">    
					<h6 class="color-title-footer-footer">
						Premios otorgados a Pollito Inglés
					</h6>
						<img src="images/waira.png">&nbsp;&nbsp;
						<img src="images/V-sin-limite.png">&nbsp;&nbsp;
						<img src="images/ideas.png">
					<h6>
						<a ui-sref="main.terms-conditions">
							Términos y Condiciones
						</a>&nbsp;
						<a ui-sref="main.privacy-policy">
							Política de Privacidad
						</a>&nbsp;
						<a ui-sref="main.copyright-policies">
							Políticas de Derecho de Autor
						</a>&nbsp;
						<a ui-sref="main.acceptable-use-policy">
							Políticas de Uso Aceptable
						</a>
					</h6>
                </div>
                <div class="policies-main-mobile">
                 <div class="row">
                    <div class="col-xs-12">
                       
                        Premios otorgados a Pollito Inglés
                    </div><br>
                      <div class="col-xs-12">
                      <span><br>
                        <img src="images/waira.png">&nbsp;&nbsp;
                        <img src="images/V-sin-limite.png">&nbsp;&nbsp;
                        <img src="images/ideas.png">
                        </span>
                    </div>
                      <div class="col-xs-12" id="separateimg">
                        <span ui-sref="main.terms-conditions">
                            Términos y Condiciones
                        </span>&nbsp;
                      </div>
                        <div class="col-xs-12">
                            <span ui-sref="main.privacy-policy">
                            Política de Privacidad
                        </span>&nbsp;
                        </div>
                        
                        <div class="col-xs-12">
                            <span ui-sref="main.copyright-policies">
                            Políticas de Derecho de Autor
                        </span>&nbsp;    
                        </div>
                        <div class="col-xs-12">
                            <span ui-sref="main.acceptable-use-policy">
                            Políticas de Uso Aceptable
                        </span>
                         </div>
                          <div class="col-xs-12">
                            <span ui-sref="main.registry-plans">
                            Planes de Registro
                        </span>
                         </div>
                             <div class="col-xs-12">
                            <span ui-sref="main.contact-us">
                            Contáctanos
                        </span>
                         </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>