<div class="row checkout-box" id="checkout-box">
	<div class="col-sm-12 col-md-12 checkout-header space-header">
		<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 logo-tp" ng-show="publication.product.is_chick">
			<img src="images/logo-TiendaPollito-c.png" class="ng-scope">
		</div>
		<h3 class="title col-md-3 col-sm-7 col-xs-7">1. Confirma tu Pedido</h3>
		<div class="col-md-offset-6 col-md-3 col-xs-5">
			<a ui-sref="main.productdetail({id:publication.id})" class="btn btn-default btn-back">Regresar &#60;</a>
		</div>
		<div class="line-divi col-md-12 col-xs-12"></div>
	</div>
	<div class="col-sm-12 checkout-product">
		<div class="col-md-3 box-image">
			<img class="img-responsive" ng-src="{{publication.product.product_image[0].picture}}" alt="Imagen seleccionada del producto" width="150">
		</div>
		<div class="col-md-9">
			<div class="product-title-detail" id="here">
	            {{publication.product.name}}
	        </div>
	        <div class=" product-price-detail">
	            {{publication.price | currency : "Bs. " : 2}}<br>
	        </div>
	        <div ng-show="product_options!=null" class="product-description-detail variation-detail">
	        	<span ng-repeat="option in product_options.product_variation">{{option.variation.description}}: {{option.product_variations[0].name}}<span ng-show="!$last">,</span> </span>
	        </div>
	        <div class="product-description-detail">
	            {{publication.product.description}}
	        </div>
        </div>
	</div>
	<div class="col-md-12 checkout-header" ng-show="publication.product.is_chick">
		<h3 class="title col-md-3">2. Aplicar Descuento</h3>
		<div class="line-divi col-md-12"></div>
	</div>
	<div class="col-md-12 checkout-discount" ng-show="publication.product.is_chick">
		<div class="pi-eggs col-lg-2 col-md-3 col-xs-12 col-sm-12">
			<div class="pi-sprite-icon pi-basket">
				<div class="total_rewards" ng-class="isMac? 'isMac':''">{{totals.reward}}</div>
			</div>
			<h4>Huevito{{(totals.reward > 1) ? 's':''}}</h4>
		</div>
		<div class="pi-discounts col-md-9 col-xs-12 col-sm-12">
			<ul>
				<li ng-repeat="d in totals.discount_data">
					<label class="pi-sprite-icon pi-bag" for="discount_{{d.id}}">
						<div class="discount_percent">{{Math.floor(d.discount)}}<span>%</span></div>
					</label>
					<h4>{{d.reward_point}} Huevito{{(d.reward > 1) ? 's':''}}</h4>
					<div>
						<input id="discount_{{d.id}}" type="radio" name="discount" ng-model="total_discount" value="{{d}}" ng-click="updateDiscount(d)" ><label for="discount"><span><span></span></span></label>
					</div>
					<!--input type="radio" name="discount" id="discount" ng-model="total_discount" value=""-->
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-12 checkout-header">
		<h3 class="title col-md-3">{{publication.product.is_chick ? '3. Enviar':'2. Datos del Vendedor'}} </h3>
		<div class="line-divi col-md-12"></div>
	</div>
	<div class="col-sm-12 checkout-shipping" ng-show="publication.product.is_chick">
		<form class="form-horizontal" novalidate >
		<div class="form-group envio-tienda-pollito">
			<div class="col-md-12 col-sm-12 col-xs-12" id="">
		    	<input id="shipping_method_t" type="radio" name="shipping_pollito" ng-model="shipping_method" ng-click="updateShipping()" value="pollito" ><label for="shipping_method_t"><span><span></span></span></label>
		    	<label for="shipping_method_t">
		    		<img src="images/logo-store.png">
		    		<span class="col-xs-12">A conveniencia</span>
		    	</label>
		    </div>
	    </div>
	    <div class="form-group envio-zoom">
	    	<div class="col-lg-2 col-md-3 col-sm-3 col-xs-12" id="">
	    		<input id="shipping_method_z" type="radio" name="shipping_pollito" ng-model="shipping_method" ng-click="updateShipping()" value="zoom" ><label for="shipping_method_z"><span><span></span></span></label>
	    		<label for="shipping_method_z" class="pi-sprite-icon pi-zoom"></label>
	    	</div>
			<div class="col-md-3 col-sm-4 col-xs-12" id="">
				<label>Estado</label>
				<select name="shipping_zone" ng-change="setupCities(envio_zone)" ng-disabled="zoomShp" ng-model="envio_zone" class="form-control" ng-options="z as z.nombre for z in zones" required>
				</select>
		    </div>
		    <div class="col-md-3 col-sm-4 col-xs-12" id="">
		    	<label>Localidad</label>
		    	<select name="shipping_city" ng-change="setupAgency(envio_city)" ng-disabled="zoomShp" ng-model="envio_city" class="form-control" ng-options="c as c.nombre for c in cities" required>
					<option value=""></option>
				</select>
		    </div>
		    <div class="col-md-3 col-sm-4 col-xs-12" id="">
		    	<label>Oficina</label>
		    	<select name="shipping_address" ng-change="setupAddress(envio_agency)" ng-disabled="zoomShp" ng-model="envio_agency" class="form-control" ng-options="a as a.nombre for a in agencies" required>
		    		<option value=""></option>
				</select>
		    </div>
	    </div>
	    </form>
	</div>
	<div class="col-sm-12 checkout-seller" ng-show="!publication.product.is_chick">
		<div class="product-owner-detail">
			<ul class="owner-data">
				<li class="name-seller">
					<span class="product-owner-detail" ng-if="publication.user.parent.first_name !== '' && publication.user.parent.last_name !== ''">
		                {{publication.user.parent.first_name + ' ' + publication.user.parent.last_name}}
		            </span>
		            <span class="product-owner-detail" ng-if="publication.user.parent.first_name == '' && publication.user.parent.last_name == ''">
		                {{UserName}}
		            </span>
		            <br>
		            <span class="address-seller">{{publication.user.parent.direction}}</span>
		            <br>
		            <star-rating ng-model="rating" name="rating" max=5 data-toggle="tooltip" data-placement="right" title="Tú reputación"></star-rating>
                    <star-rating ng-if="rating == 0" ng-model="falserating" name="rating-default" max=5 readonly="true" data-toggle="tooltip" data-placement="right" title="Todavía no tienes reputación"></star-rating>
                    <br>
				</li>
			</ul>
        </div>
	</div>
	<div class="col-md-12 checkout-header">
		<h3 class="title col-md-3">{{publication.product.is_chick ? '4.':'3.'}} Pagar</h3>
		<div class="line-divi col-md-12"></div>
	</div>
	<div class="col-md-12 col-sm-12 checkout-payment">
		<div class="col-md-4 col-sm-12 info-totals">
			<h4>{{publication.product.name}}</h4>
			<div class="totals">
				Sub-total: <span class="box-amounts">{{ publication.price | currency : "Bs. " : 2 }}</span><br>
				<span>Comisión de pasarela de pago: <span class="box-amounts">{{totals.feed_tdc | currency : "Bs. " : 2 }}</span><br></span>
				<span ng-if="publication.product.is_chick && totals.discount">Descuento ({{totals.percent_discount}}%): <span class="box-amounts">{{totals.discount | currency : "Bs. " : 2}}</span><br></span>
				Total: <span class="box-amounts">{{totals.total | currency : "Bs. " : 2 }}</span><br>
			</div>
		</div>
		<div class="col-md-8 col-sm-12 instapago-form">
			<form class="form-horizontal" name="tdcForm" ng-submit="sendPayment()" novalidate >
				<div class="form-group">
				    <label for="card_number" class="col-xs-12 col-md-4 col-sm-12 control-label">No. Tarjeta</label>
				    <div class="col-md-5 col-sm-8 col-xs-8">
				    	<input type="text" class="form-control" name="card_number" ng-model="tdc.card_number" id="card_number" value="" ng-minlength="16" maxlength="16" required only-digits autocomplete="off">
				    	<div ng-show="tdcForm.card_number.$invalid && !tdcForm.card_number.$pristine" class="help-block">Coloca un número de tarjeta válido</div>
				    </div>
				    <img class="col-sm-2 col-md-2 col-xs-3 visa-master" src="images/visa-master-checkout.png">
				</div>
				<div class="form-group">
				    <label for="cvc" class="col-sm-12 col-md-4 control-label">Cod. Seguridad</label>
				    <div class="col-sm-12 col-md-3">
				    	<input type="password" class="form-control" ng-model="tdc.cvc" name="cvc" id="cvc" required ng-minlength="3" ng-maxlength="3" maxlength="3" only-digits autocomplete="off">
				    	<div ng-show="tdcForm.cvc.$invalid && !tdcForm.cvc.$pristine" class="help-block">CVC inválido</div>
				    </div>
				</div>
				<div class="form-group">
				    <label for="tdc_mes" class="col-sm-12 col-xs-12 col-md-4 control-label">Vencimiento</label>
				    <div class="col-md-3 col-sm-5 col-xs-5" id="">
				    	<select name="tdc_mes" ng-model="tdc.tdc_mes" class="form-control" ng-options="month.value as month.text for month in months" required>
				    		<option value="">Mes</option>
				    	</select>
				    </div>
				    <div class="col-md-3 col-sm-5 col-xs-5" id="">
				    	<select name="tdc_anio" ng-model="tdc.tdc_anio" class="form-control" ng-options="year.value as year.text for year in years" required>
				    		<option value="">Año</option>
				    	</select>
				    </div>
				    <div ng-show="tdcForm.tdc_mes.$invalid && !tdcForm.tdc_mes.$pristine" class="col-md-12 help-block">Debes escoger un Mes</div>
				    <div ng-show="tdcForm.tdc_anio.$invalid && !tdcForm.tdc_anio.$pristine" class="col-md-12 help-block">Debes escoger un Mes</div>
				</div>
				<div class="form-group">
				    <label for="card_holder" class="col-md-4 col-sm-12 control-label">Nombre en la tarjeta</label>
				    <div class="col-md-7 col-sm-12">
				    	<input type="text" class="form-control" ng-model="tdc.card_holder" name="card_holder" id="card_holder" only-alpha maxlength="100" required autocomplete="off">
				    	<div ng-show="tdcForm.card_holder.$invalid && !tdcForm.card_holder.$pristine" class="help-block">Coloca un nombre válido</div>
				    </div>
				</div>
				<div class="form-group">
				    <label for="card_holder_id" class="col-md-4 col-sm-12 control-label">Cédula o RIF</label>
				    <div class="col-md-7 col-sm-12">
				    	<input type="text" class="form-control" ng-model="tdc.card_holder_id" name="card_holder_id" id="card_holder_id" only-digits ng-minlength="6" maxlength="8" required autocomplete="off">
				    	<div ng-show="tdcForm.card_holder_id.$invalid && !tdcForm.card_holder_id.$pristine" class="help-block">Coloca un número de cédula válido</div>
				    </div>
				</div>
				<div class="form-group">
				    <label for="card_holder_id" class="col-md-4 col-sm-12 control-label">Monto</label>
				    <div class="col-sm-12 col-md-8 payment-amount">
				    	{{totals.total | currency : "Bs. " : 2 }}
				    </div>
				</div>
				<div class="form-group">
				    <label for="card_holder_id" class="col-md-4 col-sm-12 control-label"></label>
				    <div class="col-md-8 col-sm-12 box-button-submit">
				    	<button ng-disabled="tdcForm.$invalid || isSubmited" name="btnSubmit" class="btn btn-payment">Pagar</button>
				    </div>
				</div>
			</form>
			<h5>Esta transacción será procesada de forma segura gracias a la plataforma de</h5>
			<div class="col-md-offset-2 col-md-9 insta-banesco-logos">
				<img src="images/instapago-banesco-checkout.png" class="col-md-12 col-sm-12 col-xs-12">
			</div>
			<div class="col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-2 box-instapago">
				<div class="pi-sprite-icon pi-rose"></div>
				Después de confirmar el pago te llegará un correo<br>
				con los datos del vendedor para acordar el envío
			</div>
		</div>
	</div>
	<div class="col-md-12 checkout-header" ng-show="showConfirm" id="scrollHere">
		<h3 class="title col-md-3">{{publication.product.is_chick ? '4.':'5.'}} Confirmación</h3>
		<div class="line-divi col-md-12"></div>
	</div>
	<div class="col-md-12 checkout-voucher" id="checkout-voucher" ng-show="showConfirm">
		<img src="images/loader-chick.gif" ng-show="displayLoader"><br>
		<span ng-show="displayLoader">Procesando pago</span>
		<div class="info-instapago" ng-show="!displayLoader">
			<div class="col-md-5 col-sm-12 col-xs-12">
				<dl>
					<dt class="col-md-5 col-sm-5 col-xs-5">Código</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{tdcResponse.reference}}</dd>

					<dt class="col-md-5 col-sm-5 col-xs-5">Monto</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{totals.total | currency : "Bs. " : 2 }}</dd>
					
					<dt class="col-md-5 col-sm-5 col-xs-5">Fecha</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{tdcResponse.datetime}}</dd>
					
					<dt class="col-md-5 col-sm-5 col-xs-5">Estatus</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{tdcResponse.message}}</dd>

					<dt class="col-md-5 col-sm-5 col-xs-5">Aprobación</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{tdcResponse.approval}}</dd>

					<dt class="col-md-5 col-sm-5 col-xs-5">Secuencia</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">{{tdcResponse.sequence}}</dd>

					<dt class="col-md-5 col-sm-5 col-xs-5">Descripción</dt>
					<dd class="col-md-6 col-sm-6 col-xs-6">Factura N° 1234</dd>
				</dl>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 info-btn">
				<div id="tdcVoucher" class="voucher" ng-bind-html=" tdcVoucher | trusted"></div>					
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12 box-btn-voucher">
				<a class="btn" ng-click="printDiv('tdcVoucher');">Imprimir <span class="pi-sprite-icon pi-print"></span></a><br>
				<a class="btn" ng-click="downloadDiv('tdcVoucher');">Descargar <span class="pi-sprite-icon pi-download"></span></a>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="col-md-offset-5 col-md-3 box-return" ng-show="displayContinue">
			<a ui-sref="main.success-buy" class="btn btn-back">Continuar</a>
		</div>
	</div>
</div>