<div class="margin-cat">
	<div class="row">

		<div class="col-sm-12 text-center">
			<h1 class="policies-main div-valign-middle" id="scrollHere">
				Política de Privacidad
			</h1>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Bienvenido a http://www.pollitoingles.com/ este sitio es de propiedad de POLLITO INGLéS DIGITAL C.A<br>
			Esta política de Privacidad tiene como objetivo informarle sobre nuestras prácticas relativas a la
			colecta, uso y divulgación de informaciones que usted pueda proveer por medio de este sitio. Por favor,
			lea esta Política de Privacidad por completo antes de usar o proveer informaciones a este sitio.
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<div class="pk"></div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policies-content">
			<p class="policy-concept">
				Su consentimiento
			</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Usando este sitio, usted acepta los términos de esta Política de Privacidad. Desde el momento en que usted
			acepte los "Términos Legales y Condiciones De Uso" de este sitio o bien siempre que provea informaciones por
			medio de él, usted estará consintiendo con la colecta, el uso y la divulgación de las informaciones de acuerdo
			con esta Política de Privacidad.
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<div class="pk"></div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policies-content">
			<p class="policy-concept">
				Colecta de Informaciones Activas (directas)
			</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Este sitio colecta activamente informaciones de sus visitantes, relativas a sus
			publicaciones o a las publicaciones que visita, no solo haciendo preguntas específicas,
			sino también permitiendo que usted se comunique en directo con otros visitantes o con
			nosotros por e-mail, llenando formularios de feedback y/o participando en salas de chats.
			Algunas de las informaciones que usted nos provea prodán ser datos personales (es decir,
			informaciones que podrán individualizarlos a usted o a su(s) hijo(s), tales como: nombre
			completo, dirección, e-mail, teléfono, etc).
			<br><br>
			Algunas áreas de este sitio podrán requerir que usted provea informaciones para que pueda
			hacer uso de recursos específicos (tales como suscripciones de boletín informativo,
			procesamiento de pedido) o participar de una actividad específica (como promociones).
			Usted será informado a cada punto de colecta sobre cual información es de llenado
			obligatorio y cual es opcional.
		</div>
		<br>
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<div class="pk"></div>
		</div>
		<br>
		<br>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policies-content">
			<p class="policy-concept">
				Colecta de Informaciones Pasivas (indirectas)
			</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">

			Al navegar en este sitio, ciertas informaciones se podrán obtener indirectamente
			(es decir, sin que haya una solicitud directa) por el uso de varias tecnologías y
			medios, tales como: direccion de Protocolo de Internet (IP), internet tags, colecta
			de datos navegables.
			<br><br>
			Este sitio podrá usar direcciones de Protocolo de Internet (IP). Una dirección IP
			es un número definido para su computadora por su proveedor de servicios de internet,
			para que usted pueda ingresar al internet, y generalmente no identifica datos personales
			porque, en la mayoría de los casos, la dirección IP es dinámica (cambia a cada acceso a
			internet), en lugar de estático (único para uso particular de los usuarios).
			<br><br>
			Usamos su dirección IP para: diagnosticar problemas con nuestro servidor, generar informe
			de informaciones agregadas, determinar la ruta más rapida para usarse por su computadora
			en la conexión a nuestro sitio, administrar y mejorar el sitio.
			<br><br>
			"Internet tags" (también conocidas como single-pixel GIFs, clear GIFs, invisible GIFs y
			1-by-1 GIFs) son menores que "cookies" y envían al proveedor del sitio informaciones
			sobre la dirección IP y el tipo de browser referente a la computadora del visitante.
			Este sitio utiliza "internet tags". Se colocaron internet tags en los anuncios online
			que traen a las personas para el sitio, así como en diferentes páginas del propio sitio.
			Esas "internet tags" indican cuántas veces una página es abierta y cual información es
			consultada. No colectamos ni procuramos datos personales por medio de esas tags.
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<div class="pk"></div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policies-content">
			<p class="policy-concept" style="vertical-align: middle;">
				Uso y Divulgación de informaciones
			</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Respetado lo expuesto anteriormente, podremos usar sus informaciones para:
			mejorar el contenido de nuestro sitio, personalizarlo con sus preferencias,
			enviarle informaciones a usted, realizar encuestas de mercado y para los fines
			especificados en esta Política de Privacidad.
			<br>
			<br>
			Podremos divulgar sus informaciones personales a otras empresas con las que
			POLLITO INGLéS DIGITAL C.A, se relacione comercialmente, ubicadas en cualquier
			localidad, siempre que éstas concuerden en tratarlas según lo dispuesto en esta
			Política de Privacidad. Además, podremos divulgar sus informaciones a terceros, solamente:
			<br>
			<br>
			<p class="roman">
				I.
			</p>
			A contratados para apoyar nuestro negocio a los que se le solicitará, como terceros,
			tratarlas de acuerdo con esta Política de Privacidad;
			<br>
			<br>
			<p class="roman">
				II.
			</p>
			Con relación a la venta, cesión u otra transferencia del negocio de este sitio al cual
			las informaciones están relacionadas, caso en que exigiremos del adquiriente que concuerde
			 en tratarlas según esta Política de Privacidad;
			<br>
			<br>
			<p class="roman">
				III.
			</p>
			Cuando solicitadas por las leyes aplicables, por determinaciones judiciales o por
			reglamentos gubernamentales. Además de todo lo expuesto, haremos uso total de las
			informaciones obtenidas por este sitio que no individualicen a las personas.
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<div class="pk"></div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policies-content">
			<p class="policy-concept" style="vertical-align: middle;">
				Seguridad
			</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Tomaremos las medidas posibles para proteger sus informaciones personales
			en la transmisión de datos de su computadora para este sitio, en cuanto a la
			pérdida, acceso no autorizado, divulgación, alteración o destrucción de datos.
			Usted debe estar enterado que ninguna transmisión de internet es el 100% segura
			o estar libre de error. En especial, e-mails enviados para este sitio o recibidos
			de él no ser seguros y, por lo tanto, usted debe tomar cuidados especiales en cuanto
			al tipo de informacion que está enviando/recibiendo. Además, es de su responsabilidad
			tomar las medidas para salvaguardar el uso de contraseñas, número de ID u otros recursos
			de acceso especial en este sitio.
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<div class="pk"></div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policies-content">
			<p class="policy-concept" style="vertical-align: middle;">
				Vínculos para Otros Sitios
			</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Este sitio podrá contener vínculos o referencias a otros sitios. Sepa
			usted que no controlamos otros sitios y que, en cualquier caso, esta
			Política de Privacidad no se aplica a ellos. Recomendamos que usted leal
			la política de privacidad de todo sitio web que visite.
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<div class="pk"></div>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 text-left policies-content">
			<p class="policy-concept" style="vertical-align: middle;">
				Acceso para la Actualización o Exclusión de Datos
			</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Para mantener sus datos personales precisos, actualizados y completos,
			o para eliminarlos, por favor contáctenos según lo indicado abajo.
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<div class="pk"></div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policies-content">
			<p class="policy-concept" style="vertical-align: middle;">
				Como entrar en contacto con Nosotros
			</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Si usted tuviere alguna pregunta, comentario o preocupación sobre esta
			Política de Privacidad, o sobre las informaciones que sobre su persona
			se almacena en este sitio, por favor, contáctenos como sigue:<br><br>
			Por correo electrónico: HOLA@pollitoingles.com<br><br>
			Escríbanos y tomaremos todas las medidas necesarias para actualizar, corregir
			o eliminar su información de nuestra lista de contacto si usted lo requiere.
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 hr-wrapper">
			<div class="pk"></div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-left policies-content">
			<p class="policy-concept" style="vertical-align: middle;">
				Cambios en la Política de Privacidad
			</p>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 text-justify policies-content">
			Si esta Política de Privacidad cambia, ella -revisada- será actualizada
			en este sitio. Por favor, verifíquela periódicamente y especialmente antes
			que usted dé cualquier dato personal.
			<br>
			Esta Política de Privacidad ha sido actualizada el 24 de Marzo de 2014.
		</div>

	</div>
</div>
