<div class="margin-cat">
	<div class="row web">
		<div class="col-sm-12 plans-title text-center">
			Planes de Registro			 
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<br>
			</div>			
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="col-lg-3 col-md-3 col-sm-3">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<div ui-sref="main.register" class="plan-chick-title">
					GRATIS
				</div>
				<img ui-sref="main.register" src="images/plan-b.png" alt="" class="img-responsive center-block img-plan">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<div ui-sref="main.plan_checkout({p_id:getPlan('000001')})" class="plan-chick-title-nonfree">
					Mamá
					<div class="mom-entrepeneur">
					Premium
					</div>
				</div>			
				<img ui-sref="main.plan_checkout({p_id:getPlan('000001')})" src="images/plan-mp.png" alt="" class="img-responsive center-block img-plan">
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<div ui-sref="main.plan_checkout({p_id:getPlan('000002')})" class="plan-chick-title-nonfree">
					Mamá
					<div class="mom-entrepeneur">
						Emprendedora	
					</div>
				</div>			
				<img ui-sref="main.plan_checkout({p_id:getPlan('000002')})" src="images/plan-me.png" alt="" class="img-responsive center-block img-plan">
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<br><br>
		</div>		
		<div class="col-lg-12 col-md-12 col-sm-12 plan-white-line ">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				Registro gratuito
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plan-pink-line">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				Cantidad de productos limitado a 5 ítems
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3" class="img-responsive center-block">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3" class="img-responsive center-block">
				&nbsp;
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plan-white-line">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				Duración limitada de tus productos en nuestra web a 7 días
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				&nbsp;
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plan-pink-line">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				Posibilidad de usar plataforma de pago 
				segura a través de Instapago de Banesco
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plan-white-line">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				Envío de productos a través de nuestro aliado.
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plan-pink-line">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				Cantidad de productos ilimitada.
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plan-white-line">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				Duración ilimitada.
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plan-pink-line">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				Ubicación privilegiada en home y categorías 
				para una venta más rápida.
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 horizontal-check min-height-check">
				<div class="vertical-check">
					<img src="images/check-p.png" alt="" class="img-responsive center-block">	
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plan-white-line">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				Vitrina comercial con posibilidad de 
				agregar las redes sociales de tu negocio.
				Así como tus datos directos de contacto.
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				<img src="images/check-p.png" alt="" class="img-responsive center-block">
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plan-white-line">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 plan-price">
				990.00 Bs
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 plan-price">
				990.00 Bs.
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<br>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plan-white-line">
			<div class="col-lg-3 col-md-3 col-sm-3 plan-feature">
				&nbsp;
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 plan-price">
				<a href="#/register" ui-sref="main.register"><button class="acquire-button acquire-button-free">Adquirir</button></a>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 plan-price">
				<button ui-sref="main.plan_checkout({p_id:getPlan('000001')})" class="acquire-button acquire-button-premium">Adquirir</button>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 plan-price">
				<button ui-sref="main.plan_checkout({p_id:getPlan('000002')})" class="acquire-button acquire-button-entrepeneur">Adquirir</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<br>
				<br>
				<br>
			</div>			
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plans-concept text-justify">
			Nos llena de orgullo poder ofrecerte ¡nuestro mejor servicio!. 
			Para ello hemos dispuesto un Plan de Registro para cada perfil de 
			mamás que nos visitan en Pollito Inglés.<br><br>
			
			Cuentas con un servicio GRATIS para 5 artículos por 7 días; si deseas 
			más tiempo y más artículos sólo tendrás que pagar una anualidad muy 
			accesible que te permitirá tener TODO el TIEMPO que desees en nuestra web.<br><br>

			Para nuestras Mamás Emprendedoras ofrecemos BENEFICIOS ¡imperdibles! 
			como por ejemplo la difusión de sus redes sociales como negocio, prioridad 
			de visualización de sus productos en nuestro HOME, entre otros.<br><br>

			¡Si tienes dudas <span class="contact-us" ui-sref="main.contact-us">ESCRÍBENOS o LLÁMANOS</span>, te atenderemos con todo gusto!
		</div>	
	</div>
	<div class="row movil">
		<div class="col-lg-12 col-md-12 col-sm-12 plans-title text-center">
			Planes de Registro			 
		</div>
		<div class="plans">
			<label class="free">GRATIS</label>
			<label class="premium">Mamá <span>Premium</span></label>
			<label class="enterprising">Mamá <span>Emprendedora</span></label>
		</div>
		<div id="carousel-plans" uib-carousel active="active" interval="" no-wrap="noWrapSlides">
		    <div uib-slide index="0" class="bag-discount">
  				<div class="plan-chick-title">
					GRATIS
				</div>
				<img ui-sref="main.register" src="images/plan-b.png" alt="" class="center-block img-plan">
				<div class="plan-white-line ">
					<p class="plan-feature">
						Registro gratuito
					</p>
					<img src="images/check-p.png" alt="" class="check-p">	
				</div>
				<div class="plan-pink-line">
					<p class="plan-feature">
						Cantidad de productos limitado a 5 ítems
					</p>
					<img src="images/check-p.png" alt="" class="check-p">	
				</div>
				<div class="plan-white-line">
					<p class="plan-feature">
						Duración limitada de tus productos en nuestra web a 7 días
					</p>
					<img src="images/check-p.png" alt="" class="check-p">	
				</div>
				<div class="plan-pink-line">
					<p class="plan-feature">
						Posibilidad de usar plataforma de pago 
						segura a través de Instapago de Banesco
					</p>
					<img src="images/check-p.png" alt="" class="check-p">	
				</div>
				<div class="plan-white-line">
					<p class="plan-feature">
						Envío de productos a través de nuestro aliado.
					</p>
					<img src="images/check-p.png" alt="" class="check-p">	
				</div>
				<div class="plan-pink-line">
					<p class="plan-feature">
						Cantidad de productos ilimitada.
					</p>
					<div class="check-p">
						&nbsp;
					</div>
				</div>
				<div class="plan-white-line">
					<p class="plan-feature">
						Duración ilimitada.
					</p>
				</div>
				<div class="plan-pink-line">
					<p class="plan-feature">
						Ubicación privilegiada en home y categorías 
						para una venta más rápida.
					</p>
				</div>
				<div class="plan-white-line">
					<p class="plan-feature">
						Vitrina comercial con posibilidad de 
						agregar las redes sociales de tu negocio.
						Así como tus datos directos de contacto.
					</p>
				</div>
				<div class="Plan-white-line">
					<div class="plan-feature">
						&nbsp;
					</div>
					<div class="plan-feature">
						&nbsp;
					</div>
				</div>
				<a href="#/register" ui-sref="main.register"><button class="acquire-button acquire-button-free">Adquirir</button></a>
		    </div>
		    <div uib-slide index="1" class="bag-discount">
  				<div class="plan-chick-title-nonfree">
					Mamá
					<br>
					Premium
				</div>
				<img ui-sref="main.plan_checkout({p_id:getPlan('000001')})" src="images/plan-mp.png" alt="" class="center-block img-plan">
				<div class="-12 plan-white-line ">
					<p class="col-lg-3 col-md-3 col-sm-3 plan-feature">
						Registro gratuito
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-pink-line">
					<p class="col-lg-3 col-md-3 col-sm-3 plan-feature">
						Cantidad de productos limitado a 5 ítems
					</p>
				</div>
				<div class="plan-white-line">
					<p class=" plan-feature">
						Duración limitada de tus productos en nuestra web a 7 días
					</p>
				</div>
				<div class="plan-pink-line">
					<p class=" plan-feature">
						Posibilidad de usar plataforma de pago 
						segura a través de Instapago de Banesco
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-white-line">
					<p class=" plan-feature">
						Envío de productos a través de nuestro aliado.
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-pink-line">
					<p class=" plan-feature">
						Cantidad de productos ilimitada.
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-white-line">
					<p class=" plan-feature">
						Duración ilimitada.
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-pink-line">
					<p class=" plan-feature">
						Ubicación privilegiada en home y categorías 
						para una venta más rápida.
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-white-line">
					<p class=" plan-feature">
						Vitrina comercial con posibilidad de 
						agregar las redes sociales de tu negocio.
						Así como tus datos directos de contacto.
					</p>
				</div>
					<div class="plan-white-line">
						<label class="plan-price">990.00 Bs.</label>
					</div>
				<button ui-sref="main.plan_checkout({p_id:getPlan('000001')})" class="acquire-button acquire-button-premium">Adquirir</button>
			</div>
		    <div uib-slide index="2" class="bag-discount">
  				<div class="plan-chick-title-nonfree">
					Mamá
					<div class="mom-entrepeneur">
						Emprendedora	
					</div>
				</div>	
				<img ui-sref="main.plan_checkout({p_id:getPlan('000002')})" src="images/plan-me.png" alt="" class="center-block img-plan">
				<div class="plan-white-line ">
					<p class="plan-feature">
						Registro gratuito
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-pink-line">
					<p class="plan-feature">
						Cantidad de productos limitado a 5 ítems
					</p>
				</div>
				<div class="plan-white-line">
					<p class="plan-feature">
						Duración limitada de tus productos en nuestra web a 7 días
					</p>
				</div>
				<div class="plan-pink-line">
					<p class="plan-feature">
						Posibilidad de usar plataforma de pago 
						segura a través de Instapago de Banesco
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-white-line">
					<p class="plan-feature">
						Envío de productos a través de nuestro aliado.
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-pink-line">
					<p class="plan-feature">
						Cantidad de productos ilimitada.
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-white-line">
					<div class="plan-feature">
						Duración ilimitada.
					</div>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-pink-line">
					<p class="plan-feature">
						Ubicación privilegiada en home y categorías 
						para una venta más rápida.
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-white-line">
					<p class="plan-feature">
						Vitrina comercial con posibilidad de 
						agregar las redes sociales de tu negocio.
						Así como tus datos directos de contacto.
					</p>
					<img src="images/check-p.png" alt="" class="check-p">
				</div>
				<div class="plan-white-line">
					<label class="plan-price">990.00 Bs.</label>
				</div>
				<button ui-sref="main.plan_checkout({p_id:getPlan('000002')})" class="acquire-button acquire-button-entrepeneur">Adquirir</button>
		    </div>
    	</div>
	</div>

</div>