<header class="header">
	<div class="content-top-header">
		<div class="logo"><a id="buyBtn"></a>
            <a ng-href="{{isTPHref()}}" ng-click="hideAll()">
                <img class="logo-size" ng-class= "isTPollito ? 'TPollito':''" ng-src="{{isTPollito ? 'images/logo-TP.png' : 'images/ping-logo.png'}}">            
            </a>
		</div>
        <div class="logo-h">
            <a ng-href="{{isTPHref()}}">
                <img class="logo-size-h" ng-src="{{isTPollito ? 'images/logo-TiendaPollito-c.png' : 'images/logo-h.png'}}">
            </a>
        </div>
		<div class="cloud">
			<a ng-href="http://blog.pollitoingles.com/" id="btn-blog">Blog</a>
		</div>
        <div class="cloud-store">
            <a ng-href="{{isTPHref2()}}">
                <img class="size-logo-store" ng-class= "isTPollito ? 'TPollito':''" ng-src="{{isTPollito ? 'images/logo-PI-ss.png' : 'images/logo-store.png'}}">
            </a>
        </div>
		<div class="address">
			{{links_rrss.address_pollito}} <img src="images/icon-locality.png"><br>
			Correo: {{links_rrss.email_pollito}} <img src="images/icon-email.png"> | {{links_rrss.phone_pollito}} <img src="images/icon-phone.png">
		</div>
	</div>
	<div class="top-header">
		<img src="images/pollitoingles2-17.png" class="size-img">
	</div>
    <nav class="navbar navbar-pollito">
        <div class="nav-cont">
            <div class="container-fluid">
                <div class="row">
                    <!-- Notifi-Incent and Search -->
                    <div ng-class="isTPollito ?'col-xs-2 col-sm-6 padding-margin-0':incentives?'col-xs-5 col-sm-6 col-md-7 padding-margin-0':'col-xs-2 col-sm-6 padding-margin-0'">
                        <!-- Notifications and Incentives -->
                        <div class="padding-margin-0" ng-class="isTPollito ? 'col-sm-3 col-md-2 padding-margin-0' : incentives ? 'col-sm-6 col-md-4 padding-margin-0':'col-sm-3 col-md-2 padding-margin-0'">
                            <div ng-hide="isTPollito" class="all-notific" ng-class="incentives ? 'incentives':''">
                                <!-- Notifications -->
                                <a class="chick" tooltip-placement="top" uib-tooltip="{{notifications.count == 0 ? 'No tienes Notificaciones' : notifications.count == 1 ? '1 Notificación' : notifications.count + ' Notificaciones' }}" ng-click="go()">
                                    <img src="images/pollito.png">
                                    <div class="notice" ng-hide="hasToken()">
                                        <div class="accountant">
                                            <span ng-bind="notifications.count"></span>
                                        </div>
                                    </div>
                                </a>
                                <!-- Incentives -->
                                <a ng-show="incentives" class="chick incentives" tooltip-placement="top" uib-tooltip="{{totalEggs == 0 ? 'No tienes Huevitos' : totalEggs == 1 ? '1 Huevito' : totalEggs + ' Huevitos' }}" ng-click="goIncentives()">
                                    <img ng-src="images/eggs/basket-header-{{totalEggs}}.png">
                                    <div class="notice" ng-hide="hasToken()">
                                        <div class="accountant">
                                            <span ng-bind="totalEggs"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- Search Pollito Ingles -->
                        <div class="hidden-xs" ng-class="isTPollito ? 'col-sm-9 col-md-10 padding-margin-0' : incentives? 'col-sm-6 col-md-8 padding-margin-0':'col-sm-9 col-md-10 padding-margin-0'">
                            <div class="search" ng-class="incentives ? 'isIncentives':''">
                                <div class="input-group search-pollito">
                                    <input id="input-search-pollito" type="text" class="form-control form-control-chick" ng-class="isCollapsedBuy && incentives && !isTPollito ? 'grow':''" tooltip-placement="top" uib-tooltip="Búsqueda General" placeholder="Qué desea buscar" ng-model="query" ng-click="isCollapsedBuy=true" ng-keydown="$event.which === 13 && search()">
                                    <span class="input-group-btn">
                                        <button id="btn-search" class="btn btn-default" type="button" ng-click="search()">
                                            <img src="images/icon-search.png" class="size-icon-search">
                                        </button>
                                    </span>
                                    <span id="adv-seacrh-btn-cnt" class="input-group-btn" ng-class="isTPollito? 'Tpollito':''" tooltip-placement="right-top" uib-tooltip="Búsqueda Avanzada">
                                        <button id="btn-advanced-search" class="btn advanced-search" ng-class="isTPollito? 'Tpollito':''" type="button" ng-click="goAdvancedSearch()">
                                            <img src="images/icon-advanced-search.png" class="size-icon-advanced-search">
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sell,Buy and Social-tiendaPollito -->
                    <div ng-hide="isTPollito" class="main-btns" ng-class="incentives ? 'col-xs-5 col-sm-6 col-md-5 padding-margin-0' : 'col-xs-8 col-sm-6 padding-margin-0' ">
                        <div class="hidden-xs col-sm-5 padding-margin-0">
                            <!-- Menu Sell Web -->
                            <div class="hidden-xs buy-opt"  ng-class="incentives ? 'incentives':''">
                                <div uib-collapse="isCollapsedBuy">
                                    <a ui-sref="main.categories">Categorías</a>
                                    <span>|</span>
                                    <a ng-click="ShowSearchAge()">Edad</a>
                                </div>   
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-7 padding-margin-0">
                            <!-- button Buy -->
                            <div class="col-sm-6 collapsed"  ng-class="incentives ? 'hidden-xs padding-margin-0':'col-xs-6 padding-margin-0'" ng-init="isCollapsedBuy=true" ng-click="isCollapsedBuy = !isCollapsedBuy; isCollapsedMenu=true"> 
                                <div class="buy">
                                    <div class="button" ng-class="incentives ? 'incentives':''">
                                        <label>Comprar</label>
                                    </div>
                                </div>
                            </div>
                            <!-- button Sell -->
                            <div class="col-sm-6 collapsed" ng-class="incentives ? 'col-xs-12 padding-margin-0':'col-xs-6 padding-margin-0'">
                                <div class="sell">
                                    <div ui-sref="main.sell" class="button" ng-class="incentives ? 'incentives':''">
                                        <label>Vender</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="isTPollito" class="col-xs-8 col-sm-6 padding-margin-0">
                        <div class="networks">
                            <a ng-href="{{links_rrss['facebook_link']}}"  target="_blank" ><img src="images/facebook-t.png"   alt="facebook"></a>
                            <a ng-href="{{links_rrss['twitter_link']}}"   target="_blank" ><img src="images/twitter-t.png"    alt="twitter"></a>
                            <a ng-href="{{links_rrss['pinterest_link']}}" target="_blank" ><img src="images/pinteres-t.png"   alt="pinterest"></a>
                            <a ng-href="{{links_rrss['instagram_link']}}" target="_blank" ><img src="images/instagram-t.png"  alt="instagram"></a>
                        </div>
                    </div>
                    <!-- Button Menu Movil -->
                    <div class="visible-xs col-xs-2 padding-margin-0">
                        <button type="button" class="navbar-toggle collapsed" ng-init="isCollapsedMenu=true" ng-click="isCollapsedMenu=!isCollapsedMenu; isCollapsedBuy=true"/>
                    </div>
                    <!-- Menu General Movil -->
                    <div class="navbar-collapse" uib-collapse="isCollapsedMenu">
                        <div class="tag-nav text-center menu-movil" id="cat-year">
                            <ul>
                                <li class="link-menu">
                                    <a ui-sref="main.home" ng-click="isCollapsedMenu=true">Home</a>
                                </li>
                                <li class="link-menu">
                                    <a ui-sref="main.login"                 ng-show="hasToken()" ng-click="isCollapsedMenu=true">Iniciar Sesión |</a>
                                    <a ui-sref="main.profile.tabs.products" ng-hide="hasToken()" ng-bind="UserName + ' |'"  ng-click="isCollapsedMenu=true"></a>
                                    <a ui-sref="main.register"              ng-show="hasToken()" ng-click="isCollapsedMenu=true">Regístrate</a>
                                    <a ng-hide="hasToken()" ng-click="isCollapsedMenu=true; exit()">Cerrar Sesión</a> 
                                </li>
                                <li class="link-menu">
                                    <a ng-href="{{isTPHref2()}}" ng-click="isCollapsedMenu=true">
                                        <div class="logo-tp " ng-class= "isTPollito ? 'TPollito':''">
                                            <img  ng-src="{{isTPollito ? 'images/logo-pI-b.png' : 'images/logo-TiendaPollito.png'}}">
                                        </div> 
                                    </a> 
                                </li>
                                <li class="link-menu">
                                    <a ng-href="http://blog.pollitoingles.com/"  ng-click="isCollapsedMenu=true">Blog</a> 
                                </li>
                                <li class="link-menu">
                                    <a ui-sref="main.faq" ng-click="isCollapsedMenu=true">Preguntas Frecuentes</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Menu Buy Movil -->
                    <div class="visible-xs">
                        <div class="navbar-collapse" uib-collapse="isCollapsedBuy">
                            <div class="menu-buy">
                                <a ui-sref="main.categories" ng-click="isCollapsedBuy=true">Categorías</a>
                                <span>|</span>
                                <a ng-click="ShowSearchAge()" ng-click="isCollapsedBuy=true">Edad</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </nav>
	<div class="triangulo-right"></div>
	<div class="triangulo-left"></div>
</header>