<div class="margin-cat">
<!-- Editando -->
<div class="row registry-complete success-buy">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="center-block center-bag">
			<img src="images/prize.png" alt="" class="rate-bag-medal">
		</div>
		<div class="congrats">
			Compra<br>
			Exitosa
		</div>
		<div class="offset-my-profile">				
			<a ui-sref="main.home" class="follower_button user_profile_send_message user_profile_ajust_buttons my-profile-width" type="button">
				Seguir Comprando
			</a>
		</div>
	</div>
</div>
<!-- Fin Edicion -->
</div>