<div class="margin-cat">
	<div class="row">
		<form name="stepThreeForm" ng-submit="continue3()" novalidate>
		<div class="col-lg-12 col-md-12 col-sm-12 plans-title text-center">
			Completa tu registro
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 subtitle-registry">
		</div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-1 subtitle-registry subtitle-separator">
			Información Básica
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 subtitle-registry">
		</div>		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 subtitle-registry-item">
				¿Marca preferida de pañales?
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- Pampers & Huggies -->
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-offset-1 col-md-offset-1">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center-items-registry">
						<label for="diapers_1">
							<input type="radio" name="diapers_registry" id="diapers_1" value="1" ng-model="rgcomplete3.diapers" ng-required="!rgcomplete3.diapers">
							<span name="diapers_registry_1"></span>
						</label>
						<span class="radiobutton-title">
							Pampers
						</span>				
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center-items-registry">
						<label for="diapers_2">
							<input type="radio" name="diapers_registry" id="diapers_2" value="2" ng-model="rgcomplete3.diapers" ng-required="!rgcomplete3.diapers">
							<span name="diapers_registry_2"></span>
						</label>
						<span class="radiobutton-title">
							Huggies
						</span>
					</div>
				</div>
				<!-- Consentido & ECOlogico -->
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center-items-registry">
						<label for="diapers_3">
							<input type="radio" name="diapers_registry" id="diapers_3" value="3" ng-model="rgcomplete3.diapers" ng-required="!rgcomplete3.diapers">
							<span name="diapers_registry_3"></span>
						</label>
						<span class="radiobutton-title">
							Consentido
						</span>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center-items-registry">
						<label for="diapers_4">
							<input type="radio" name="diapers_registry" id="diapers_4" value="4" ng-model="rgcomplete3.diapers" ng-required="!rgcomplete3.diapers">
							<span name="diapers_registry_4"></span>
						</label>
						<span class="radiobutton-title">
							ECOlógico
						</span>
						<div class="">
							<input class="other-field" placeholder="Marca" ng-disabled="rgcomplete3.diapers!=4" ng-model="rgcomplete3.diapers_eco_text" />
						</div>
					</div>
				</div>
				<!-- Otro -->
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 center-items-registry">
						<label for="diapers_5">
							<input type="radio" name="diapers_registry" id="diapers_5" value="5" ng-model="rgcomplete3.diapers" ng-required="!rgcomplete3.diapers">
							<span name="diapers_registry_5"></span>
						</label>
						<span class="radiobutton-title">
							Otro
						</span>
						<div class="">
							<input class="other-field" ng-disabled="rgcomplete3.diapers!=5" ng-model="rgcomplete3.diapers_text">
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				&nbsp;
			</div>
		</div>
		<!--/div-->
		<!-- -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 pk-product">
				
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br>
			</div>			
		</div>		
		<!-- -->
		<div class="row">
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 subtitle-registry-item">
				¿Marca preferida de leche de fórmula?
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<br><br>
			</div>			
		</div>	
		<!-- Editando -->
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<!-- Camprolac -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_1">
							<input type="radio" name="formula_registry" id="formula_1" value="1" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_1"></span>
						</label>
						<span class="radiobutton-title">
							Camprolac (Prebio)
						</span>
					</div>
				</div>
				<!-- NaN -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_2">
							<input type="radio" name="formula_registry" id="formula_2" value="2" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_2"></span>
						</label>
						<span class="radiobutton-title">
							NAN
						</span>
					</div>
				</div>
				<!-- Enfagrow -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_3">
							<input type="radio" name="formula_registry" id="formula_3" value="3" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_3"></span>
						</label>
						<span class="radiobutton-title">
							Enfagrow
						</span>
					</div>
				</div>
				<!-- Enfamil -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_4">
							<input type="radio" name="formula_registry" id="formula_4" value="4" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_4"></span>
						</label>
						<span class="radiobutton-title">
							Enfamil
						</span>
					</div>
				</div>
				<!-- Progress Gold -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_5">
							<input type="radio" name="formula_registry" id="formula_5" value="5" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_5"></span>
						</label>
						<span class="radiobutton-title">
							Progress Gold
						</span>
					</div>
				</div>
				<!-- similac -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_6">
							<input type="radio" name="formula_registry" id="formula_6" value="6" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_6"></span>
						</label>
						<span class="radiobutton-title">
							Similac
						</span>
					</div>
				</div>
				<!-- Mah -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_7">
							<input type="radio" name="formula_registry" id="formula_7" value="7" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_7"></span>
						</label>
						<span class="radiobutton-title">
							Mah!
						</span>
					</div>
				</div>
				<!-- s26 -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_8">
							<input type="radio" name="formula_registry" id="formula_8" value="8" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_8"></span>
						</label>
						<span class="radiobutton-title">
							S-26 Gold
						</span>
					</div>
				</div>
				<!-- Nutrimigen -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_9">
							<input type="radio" name="formula_registry" id="formula_9" value="9" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_9"></span>
						</label>
						<span class="radiobutton-title">
							Nutrigem
						</span>
					</div>
				</div>
				<!-- Althera -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_10">
							<input type="radio" name="formula_registry" id="formula_10" value="10" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_10"></span>
						</label>
						<span class="radiobutton-title">
							Althéra
						</span>
					</div>
				</div>
				<!-- Alfare -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_11">
							<input type="radio" name="formula_registry" id="formula_11" value="11" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_11"></span>
						</label>
						<span class="radiobutton-title">
							Alfaré
						</span>
					</div>	
				</div>
				<!-- Otro  -->
				<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
					<div class="center-items-registry">
						<label for="formula_12">
							<input type="radio" name="formula_registry" id="formula_12" value="12" ng-model="rgcomplete3.milk" ng-required="!rgcomplete3.milk">
							<span name="formula_registry_12"></span>
						</label>
						<span class="radiobutton-title">
							Otro
						</span>
						<div class="">
							<input class="other-field-3" ng-disabled="rgcomplete3.milk!=12" ng-model="rgcomplete3.milk_text" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class="text-center">
						<a ui-sref="main.registry-basic-info-2" class="new-button-pink">Anterior</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div class=" text-center">
						<button class="new-button-pink">Siguiente</button>
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12">
			<br><br>
			</div>
		</div>					
		</form>
	</div>
</div>