<div class="row" id="advanced_search_results">
</div>
<section id="categories">
	<div class="title text-center azul">
		Categorías
	</div>
	<div id="carousel-categories" uib-carousel active="active" interval="" no-wrap="noWrapSlides">
		<div uib-slide index="0" class="bag-discount">
			<div class="row">
				<div class="margin-carousel-categories">
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/tetero.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'ALIMENTACION'})">
						<span>Alimentación</span>
					</div>
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/andadera.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'ANDADERAS'})">
						<span>Andadera</span>
					</div>
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/limpieza.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'BANO'})">
						<span>Baño</span>
					</div>
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/coche.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'COCHES'})">
						<span>Coches</span>
					</div>
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/cuna.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'CUNAS-Y-CORRALES'})">
						<span>Cunas y Corrales</span>
					</div>
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/juguete.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'JUGUETES'})">
						<span>Juguetes</span>
					</div>
				</div>
			</div>
		</div>
		<div uib-slide index="1" class="bag-discount">
			<div class="row">
				<div class="margin-carousel-categories">
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/otros.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'OTROS'})">
						<span>Otros</span>
					</div>
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/canguro.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'PORTABEBES'})">
						<span>Portabebes</span>
					</div>
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/ropa.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'ROPA'})">
						<span>Ropa</span>
					</div>
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/seguridad.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'SEGURIDAD'})">
						<span>Seguridad</span>
					</div>
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/carro.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'SILLAS-AUTO'})">
						<span>Sillas auto</span>
					</div>
					<div class="col-md-2 col-xs-6 text-center">
						<img src="images/comer.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'SILLAS-DE-COMER'})">
						<span>Sillas de comer</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>