
<div class="row">
	<div class="col-sm-8">
		<div class="margin-login">
			<img class="img-steps" src="images/steps.png">
		</div>
	</div>
	<div class="col-sm-4">
		<form ng-submit="send()" novalidate class="margin-restore">
			<div class="box-login-restore text-center">
				<h3 class="title-star text-center">Restablecer Contraseña</h3>
					<p>
						<input ng-model="user.email" type="email" class="form-control" placeholder="Correo electrónico*" required>
					</p>
				<button type="submit" class="btn btn-restore">
					Enviar
				</button>
				*Para recuperar tu contraseña debes 
				enviar el correo con que te registraste
			</div>
		</form>
	</div>
</div>
