<section id="advanced-search">
	<div class="title text-center">
		Búsqueda Avanzada
	</div> 
	<div class="content-advanced-search">
		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-12 text-center">
						<span class="sub-title text-center">Selecciona la edades tu/s Pollito/s</span><br>
							<div class="col-md-12 text-center">
								<div class="content-search-info">
									<div class="row">
										<div class="col-md-12">

											<div class="box-chick">
										        <label for="as_age_1">
										        	<input id="as_age_1" type="checkbox" name="age_as" value="0-3m" ng-checked="product.age.indexOf('0-3m') > -1" ng-click="toggleSelection('0-3m')" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
													<div class="div-advanced-search-ages">
														0-3 m
													</div>
												</label>
											</div>
										    <div class="box-chick">
									        	<label for="as_age_2">
										        	<input id="as_age_2" type="checkbox" name="age_as" value="3-6m" ng-checked="product.age.indexOf('3-6m') > -1" ng-click="toggleSelection('3-6m')" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        		<div class="div-advanced-search-ages">
										        			3-6 m
										        		</div>
										        </label>
										    </div>
											<div class="box-chick">
									        	<label for="as_age_3">
										        	<input id="as_age_3" type="checkbox" name="age_as" value="6-9m" ng-checked="product.age.indexOf('6-9m') > -1" ng-click="toggleSelection('6-9m')" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		6-9 m
										        	</div>
												</label>
											</div>
											<div class="box-chick">
									        	<label for="as_age_4">
										        	<input id="as_age_4" type="checkbox" name="age_as" value="9-12m" ng-checked="product.age.indexOf('9-12m') > -1" ng-click="toggleSelection('9-12m')" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		9-12 m
										        	</div>
												</label>
											</div>

											<div class="box-chick">
									        	<label for="as_age_5">
										        	<input id="as_age_5" type="checkbox" name="age_as" value="1-2a" ng-checked="product.age.indexOf('1-2a') > -1" ng-click="toggleSelection('1-2a')" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		1-2 a
										        	</div>
												</label>
											</div>
											<div class="box-chick">
									        	<label for="as_age_6">
										        	<input id="as_age_6" type="checkbox" name="age_as" value="2-4a" ng-checked="product.age.indexOf('2-4a') > -1" ng-click="toggleSelection('2-4a')" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		2-4 a
										        	</div>
												</label>
											</div>
											<div class="box-chick">
									        	<label for="as_age_7">
										        	<input id="as_age_7" type="checkbox" name="age_as" value="4-6a" ng-checked="product.age.indexOf('4-6a') > -1" ng-click="toggleSelection('4-6a')" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		4-6 a
										        	</div>
												</label>
											</div>
											<div class="box-chick">
									        	<label for="as_age_8">
										        	<input id="as_age_8" type="checkbox" name="age_as" value="6a+" ng-checked="product.age.indexOf('6a+') > -1" ng-click="toggleSelection('6a+')" required/>
										        	<img src="images/chick-year.png" alt="" width="45px" height="45px">
										        	<div class="div-advanced-search-ages">
										        		6 o más
										        	</div>
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-sm-12 text-center">
								<span class="sub-title text-center">Prenda</span><br>
							</div>
						</div>
						<div class="content-search-info ">								
							<div class="form-group">
								<div class="div-advanced-search-gender">
									<div>
										<label for="gender_s_1">
											<input type="radio" name="gender_search" id="gender_s_1" ng-value="1" ng-model='search.gender'>
											<span name="gender_search_1"></span>
										</label>
										<span class="span-div-search-gender">
											Niño
										</span>
									</div>
								</div>
								<div class="div-advanced-search-gender">
									<div>
										<label for="gender_s_2">
											<input type="radio" name="gender_search" id="gender_s_2" ng-value="2" ng-model='search.gender'>
											<span name="gender_search_2"></span>
										</label>
										<span class="span-div-search-gender">
											Niña
										</span>
									</div>
								</div>
								<div class="div-advanced-search-gender">
									<div>
										<label for="gender_s_3">
											<input type="radio" name="gender_search" id="gender_s_3" ng-value="3" ng-model='search.gender'>
											<span name="gender_search_3"></span>
										</label>
										<span class="span-div-search-gender">
											Ambos
										</span>
									</div>
								</div>
							</div>								
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<div class="col-sm-12 text-center">
								<span class="sub-title text-center">Ver</span><br>
							</div>
						</div>
						<div class="content-search-info ">								
							<div class="form-group">
								<div>
									<div class="div-advanced-search-gender">
										<label for="look_at_search_1">
											<input type="radio" name="look_at_search" id="look_at_search_1" ng-value="1" ng-model='search.look_at' checked="false">
											<span name="look_at_search_1"></span>
										</label>
										<span class="span-div-search-gender">
											Todos los resultados
										</span>
									</div>
								</div>
								<div>
									<div class="div-advanced-search-gender">
										<label for="look_at_search_2">
											<input type="radio" name="look_at_search" id="look_at_search_2" ng-value="2" ng-model='search.look_at'>
											<span name="look_at_search_2"></span>
										</label>
										<span class="span-div-search-gender">
											Recomendaciones Pollito
										</span>
									</div>
								</div>
								<div>
									<div class="div-advanced-search-gender">
										<label for="look_at_search_3">
											<input type="radio" name="look_at_search" id="look_at_search_3" ng-value="3" ng-model='search.look_at'>
											<span name="look_at_search_3"></span>
										</label>
										<span class="span-div-search-gender">
											Lo mas reciente
										</span>
									</div>
								</div>
							</div>								
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 text-center">
				<div class="reputacion">
					<span class="sub-title text-center">Reputación del Vendedor</span><br>				
					<span class="starRating">
						<input id="rating5" type="radio" name="rating" ng-value="5" ng-model="search.reputation">
						<label for="rating5"></label>
						<input id="rating4" type="radio" name="rating" ng-value="4" ng-model="search.reputation">
						<label for="rating4"></label>
						<input id="rating3" type="radio" name="rating" ng-value="3" ng-model="search.reputation">
						<label for="rating3"></label>
						<input id="rating2" type="radio" name="rating" ng-value="2" ng-model="search.reputation">
						<label for="rating2"></label>
						<input id="rating1" type="radio" name="rating" ng-value="1" ng-model="search.reputation">
						<label for="rating1"></label>
					</span>
					</div>
				<div class="city">
					<div class="select">
						<select ng-model="search.city" ng-options="e as e.name for e in regions">
							<option value="" disabled selected hidden>Seleccione Estado</option>
						</select>
					</div>
				</div>
				<div class="presupuesto">
					<span class="sub-title text-center">Presupuesto en {{ slider.currency }} </span><br>
					<div class="content-search-info">
						<rzslider	rz-slider-floor="slider.floor"
									rz-slider-ceil="slider.ceil"
									rz-slider-model="slider.minValue"
									rz-slider-high="slider.maxValue"							          
									rz-slider-options="slider.options"></rzslider>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="button-search" ng-click="getAdvancedSearchValues()" >
					<p>Buscar</p>
				</div>
			</div>
		</div>
	</div>
</section>
