<div class="row" id="advanced_search_results">
	<br>
	<br>
</div>
<section ng-show="resultSet && resultSet.length > 0">
	<div class="title text-center" id="title-results" >
		Resultados de la Búsqueda Avanzada
	</div>
<div class="row wrapper">
	<div masonry='{ "transitionDuration" : "0.5s" , "itemSelector" : ".masonry-items"}'>
		<!-- items -->
		<div class="masonry-items" masonry-tile ng-class="{'masonry-items-banner':publication.banner, 'masonry-items-testimony':publication.testimony_title}" ng-repeat="publication in resultSet">
        	<div class="publication" ng-show="publication" ui-sref="main.productdetail({id:publication.pk})">
        		<div class="container-fluid box">
		            <div ng-show="publication.product_is_recommended" class="recommended-medal">
	                    <span class="star-recommended">
	                        ★
	                    </span>
	                </div>
					<div class="col-xs-5 col-sm-12 image-container">
                		<img class="img-responsive" alt="Imagen del producto" src="{{publication.product_image}}">
					</div>
					<div class="col-xs-7 col-sm-12 data-container">
						<div class="main">
				            <label class="name">{{publication.product_name}}</label>
			                <label class="price">{{publication.product_price | currency : 'Bs. ' : 2}} </label>		
						</div>
						<div class="footer">
			                <label class="name">{{ publication.product_parent_name }}</label>
							<label class="address">{{publication.product_user_address | limitTo : 80 }}...</label>
		                    <div class="allstar">
		                    	<div  class="star" ng-class="{
		                    	   'nothing': publication.product_user_reputation == null,
								   'mMalo': publication.product_user_reputation == '1',
								   'malo':  publication.product_user_reputation == '2', 
								   'regular':  publication.product_user_reputation == '3', 
								   'bueno':  publication.product_user_reputation == '4',
								   'mBueno': publication.product_user_reputation == '5'
								   }">
								    <img src="images/flor/flower24.png">
									<img src="images/flor/flower24.png">
									<img src="images/flor/flower24.png">
									<img src="images/flor/flower24.png">
									<img src="images/flor/flower24.png">
								</div>
		                    </div>
						</div>
					</div>
        		</div>
        	</div>
	    </div>
	</div>
</div>	
	<div class="row">
		<br><br>
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 adjust-grid center-block center-clear">
			<div class="button-yellow" ui-sref="main.home">
				<p>Volver al home</p>
			</div>
		</div>	
	</div>
</section>
<div class="row">
	<br><br>
</div>