<section id="carrusel-banner">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img src="images/pollito-carrusel.png" alt="...">
				<div class="carousel-caption">
					...
				</div>
			</div>
			<div class="item">
				<img src="images/pollito-carrusel.png" alt="...">
				<div class="carousel-caption">
					...
				</div>
			</div>
			<div class="item">
				<img src="images/pollito-carrusel.png" alt="...">
				<div class="carousel-caption">
					...
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="pointer-categories pointer-left" aria-hidden="true"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="pointer-categories pointer-right" aria-hidden="true"></span>
		</a>
	</div>
</section>
<hr>
<section id="categories">
	<div class="title text-center">
		Categorías
	</div>
	<div id="carousel-categories" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container-fluid">
					<div class="row">
						<div class="margin-carousel-categories">
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/tetero.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Alimentacion'})">
								<span>Alimentación</span>
							</div>
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/andadera.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Andaderas'})">
								<span>Andadera</span>
							</div>
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/limpieza.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Baño'})">
								<span>Baño</span>
							</div>
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/coche.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Coches'})">
								<span>Coches</span>
							</div>
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/cuna.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Cunas y Corrales'})">
								<span>Cunas y Corrales</span>
							</div>
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/juguete.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Juguetes'})">
								<span>Juguetes</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container-fluid">
					<div class="row">
						<div class="margin-carousel-categories">
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/otros.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Otros'})">
								<span>Otros</span>
							</div>
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/canguro.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Portabebes'})">
								<span>Portabebes</span>
							</div>
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/ropa.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Ropa'})">
								<span>Ropa</span>
							</div>
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/seguridad.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Seguridad'})">
								<span>Seguridad</span>
							</div>
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/carro.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Sillas auto'})">
								<span>Sillas auto</span>
							</div>
							<div class="col-md-2 col-xs-6 text-center">
								<img src="images/comer.png" alt="..." class="img-categories" ui-sref="main.searchcategory({category:'Sillas de comer'})">
								<span>Sillas de comer</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-categories" role="button" data-slide="prev">
				<span class="pointer-categories pointer-left" aria-hidden="true"></span>
			</a>
			<a class="right carousel-control" href="#carousel-categories" role="button" data-slide="next">
				<span class="pointer-categories pointer-right" aria-hidden="true"></span>
			</a>
		</div>
	</section>
	<hr>
	<!-- PRODUCTS -->
	<div class="row" data-masonry='{"columnWidth": 200, "itemSelector": ".product", "gutter": 20}'>
		<div class="product" ng-repeat="publication in publications" ui-sref="main.productdetail({id:publication.id})">
			<div class="col-md-12">
				<img class="img-responsive" ng-src="{{publication.product.product_image[2].picture}}" alt="Imagen del producto" width="140" height="140">
				<h5 class="nunito">{{publication.product.name}}</h5>
				<h4 class="text-right">{{publication.price}} Bs</h4>
				<span>{{publication.user.parent.first_name + ' ' + publication.user.parent.last_name}}</span><br>
				<i><span>{{publication.user.parent.direction}}</span></i>
			</div>
		</div>
	</div>
	<section id="box">
		<div class="row">

			<div class="button-yellow" ng-click="load()">
				<p>Ver más Productos</p>
			</div>
		</div>
	</section>
	<!-- END PRODUCTS -->
	<hr>
	<section id="advanced-search">
		<div class="title text-center">
			Búsqueda Avanzada
		</div>
		<div class="content-advanced-search">
			<div class="row">
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="sub-title text-center">Selecciona la edades tu/s Pollito/s</span><br>
							<div class="content-search-info ">
								<div class="row">
									<div class="col-md-6 margin-age-right">
										<div class="advanced-search-age">
											0-3 m
										</div>
										<div class="advanced-search-age">
											3-6 m
										</div>
										<div class="advanced-search-age">
											6-9 m
										</div>
										<div class="advanced-search-age">
											9-12 m
										</div>
									</div>
									<div class="col-md-6 margin-age-left">
										<div class="advanced-search-age">
											1-2 a
										</div>
										<div class="advanced-search-age">
											2-4 a
										</div>
										<div class="advanced-search-age">
											4-6 a
										</div>
										<div class="advanced-search-age">
											6 o más
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-sm-12 text-center">
									<span class="sub-title text-center">Prenda</span><br>
								</div>
							</div>
							<div class="content-search-info ">
								<form>
									<div class="form-group">
										<div>
											<input id="checkbox1" type="checkbox" name="checkbox" value="1"><label for="checkbox1"><span></span>Niño</label>
										</div>
										<div>
											<input id="checkbox2" type="checkbox" name="checkbox" value="2"><label for="checkbox2"><span></span>Niña</label>
										</div>
										<div>
											<input id="checkbox3" type="checkbox" name="checkbox" value="3"><label for="checkbox3"><span></span>Ver Ambos</label>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-sm-12 text-center">
									<span class="sub-title text-center">Ver</span><br>
								</div>
							</div>
							<div class="content-search-info margin-che2">
								<form>
									<div class="form-group">
										<div>
											<input id="checkbox4" type="checkbox" name="checkbox" value="4"><label for="checkbox4"><span></span>Todos los Resultados</label>
										</div>
										<div>
											<input id="checkbox5" type="checkbox" name="checkbox" value="5"><label for="checkbox5"><span></span>Recomendaciones Pollito</label>
										</div>
										<div>
											<input id="checkbox6" type="checkbox" name="checkbox" value="6"><label for="checkbox6"><span></span>Lo mas reciente</label>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 text-center">
					<div class="reputacion">
						<span class="sub-title text-center">Reputación del Vendedor</span><br>
						<div class="content-search-info flower-panding">
							<div class="flower-reputacion">
							</div>
							<div class="flower-reputacion">
							</div>
							<div class="flower-reputacion">
							</div>
							<div class="flower-reputacion">
							</div>
							<div class="flower-reputacion">
							</div>
						</div>
					</div>
					<div class="city">
						<div class="select">
							<select ng-model="user.direction">
								<option value="" disabled selected hidden>Seleccione Ubicación</option>
								<option>Venezuela</option>
								<option>México</option>>
							</select>
						</div>
					</div>
					<div class="presupuesto">
						<span class="sub-title text-center">Presupuesto</span><br>
						<div class="content-search-info">
							<rzslider rz-slider-model="minSlider.value" class="ng-isolate-scope">
								<span class="rz-bar-wrapper">
									<span class="rz-bar"></span>
								</span>
								<span class="rz-bar-wrapper" style="opacity: 0; width: 250.8px; left: 0px;">
									<span class="rz-bar rz-selection" ng-style="barStyle"></span>
								</span>
								<span class="rz-pointer rz-pointer-min" ng-style="minPointerStyle" role="slider" aria-valuenow="3" aria-valuetext="3" aria-valuemin="0" aria-valuemax="10" tabindex="0" style="left: 90%;">
								</span>
								<span class="rz-pointer rz-pointer-max" ng-style="maxPointerStyle" style="display: none; left: 117.4px;">
								</span>
								<span class="rz-bubble rz-limit" style="opacity: 1; left: 0%;">0</span>
								<span class="rz-bubble rz-limit" style="opacity: 1; left: 1183.98px;">10</span>
								<span class="rz-bubble" style="opacity: 1; left: 93%;">3</span>
								<span class="rz-bubble" style="opacity: 0; left: 96.9313px;">undefined</span>
								<span class="rz-bubble" style="opacity: 0;"></span><ul ng-show="showTicks" class="rz-ticks ng-hide"><!-- ngRepeat: t in ticks track by $index --></ul>
							</rzslider>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="button-search">
						<p>Buscar</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<hr>
<section id="post-blog">
	<div class="title text-center">
		últimos post del Blog
	</div>
	<div class="button-yellow">
		<a ng-href="http://blog.pollitoingles.com/">Visitar el Blog</a>
	</div>
</section>
</div>
