<div class="row">
    <div class="margin-perfil">
        <div class="col-md-3">
            <div class="box-profile text-center">
                <div class="row">
                    <div class="col-md-12">
                        <img ng-if="me.parent.picture" class="user_profile_circle" ng-src="{{me.parent.picture}}" alt="Foto de perfil" width="140" height="140">
                        <img ng-if="!me.parent.picture" class="img-circle" src="images/default-profile.jpg" alt="Imagen generica de perfil" width="140" height="140">
                        <h2 class="name-perfil">{{me.parent.first_name +" "+ me.parent.last_name}}</h2>
                        <br>
                        <star-rating ng-model="rating" name="rating" max=5 data-toggle="tooltip" data-placement="right" title="Tú reputación"></star-rating>
                        <star-rating ng-if="rating == 0" ng-model="falserating" name="rating-default" max=5 readonly="true" data-toggle="tooltip" data-placement="right" title="Todavía no tienes reputación"></star-rating>
                        <br>
                        <h5 class="personal-information personal-information-box-italic">{{me.parent.direction}}</h5>
                        <h3 class="children-profile">Hij@s</h3>
                        <div ng-repeat="child in children">
                            <div class="personal-information personal-information-box">
                                <b> {{child.name}}</b> <span>{{child.age}}</span>
                            </div>
                        </div>
                        <div ng-show="!is_registry_complete" class="nube-registry">
                            <a ui-sref="main.complete-your-registry" class="link-registry" >Completar<br>Registro</a>
                        </div>
                        <div ng-show="enterprising">
                            <div class="btn-social">
                                <div ng-if=" me.facebook || me.twitter || me.pinterest || me.instagram || me.youtube">
                                    <label ng-show="profile === 'public'" class="personal-information personal-information-box-italic">Síguele en:</label>
                                </div>
                                <a ng-show="me.facebook" target="_blank"  ng-href="{{me.facebook}}" ><img src="images/social-media-cyan/facebook-azul.png"  title="facebook"></a>
                                <a ng-show="me.twitter"  target="_blank" ng-href="{{me.twitter}}"  ><img src="images/social-media-cyan/twitter-azul.png"   title="twitter"></a>
                                <a ng-show="me.pinterest" target="_blank" ng-href="{{me.pinterest}}"><img src="images/social-media-cyan/pinterest-azul.png" title="pinterest"></a>
                                <a ng-show="me.instagram" target="_blank" ng-href="{{me.instagram}}"><img src="images/social-media-cyan/instagram-azul.png" title="instagram"></a>
                                <a ng-show="me.youtube" target="_blank" ng-href="{{me.youtube}}"  ><img src="images/social-media-cyan/youtube-azul.png"   title="youtube"></a>
                            </div>
                        </div>
                        <div ng-hide="notify" class="edit-btns">
                            <button ng-hide="profile === 'public'" class="follower_button follower_button_follow user_profile_ajust_buttons" type="button" ui-sref="main.profileupdate" ng-bind="enterprising ? 'Editar y actualizar perfil' : 'Editar Perfil'"></button>
                            <button class="follower_button user_profile_send_message user_profile_ajust_buttons" type="button" ui-sref="main.children" ng-show="thisSession">Añadir info sobre hij@s</button>
                            <button ng-hide="profile === 'public'" class="follower_button user_profile_ajust_buttons colorPurple" type="button" ui-sref="main.profile.tabs-orders.orders">Mis Órdenes</button>
                            <div ng-show="profile === 'public'">
                                <button class="follower_button follower_button_follow user_profile_ajust_buttons" ng-class="following ? 'following' :''" type="button" ng-click="follow()" ng-disabled="following" ng-bind="following ? 'Siguiendo' : 'Seguir en Pollito'"></button>
                                <button class="follower_button user_profile_send_message user_profile_ajust_buttons" type="button" ui-sref="main.profile.sendmessage({pk: me.pk})" >Enviar mensaje</button>
                            </div>
                        </div>
                        <div ng-show="notify" class="edit-btns">
                            <button class="follower_button btn-pink" type="button" ui-sref="main.profile.tabs.products">Mi Perfil</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ui-view="tabs" class="col-md-9 margin-nav-perfile"></div>
        <div ui-view="tabsorders" class="col-md-9 margin-nav-perfile"></div>
        <div ui-view="order" class="col-md-9 padding-margin-0"></div>
        <div ui-view="notifications" class="col-md-9 margin-nav-perfile"></div>
        <div ui-view="mymsj" class="col-md-9"></div>
        <div ui-view="talk" class="col-md-9 margin-nav-perfile"></div>
    </div>
</div>
