<div class="margin-cat">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 plans-title text-center">
			Completa tu registro
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<br><br>
			</div>			
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 plans-concept text-justify">
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div>
					<br>
					<br>					
				</div>
				<p class="registry-intro">
					Querida Mamá Pollito, completa tu formulario de registro 
					y gana un huevito equivalente a un 10% de descuento en tu próxima
					compra en nuestra Tienda Pollito.
				</p>
				<div>
					<br>
				</div>
				<div class="center-block center-bag">
					<img src="images/logo-TiendaPollito-c.png" alt="" class="rate-image">
				</div>
				<div class="center-block center-bag" >
					<img src="images/bag-CTR.png" alt="" class="rate-bag">
					<p>
						<h1>
						<div>
							<span class="discount-big">
								10%
							</span>
						</div>
						<div>
							<span class="discount-low">
								DESCUENTO
							</span>	
						</div>					
						</h1>
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 center-block">
				<img class="hide-img" src="images/cartoon-CTR.png" alt="" width="100%" >
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<br>
			<br>
		</div>
		<div class="row">
			<div class=" text-center">
				<a class="new-button-pink" ui-sref="main.registry-basic-info">Iniciar</a>
			</div>			
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12">
			<br><br>
		</div>		
				
	</div>
</div>