    <div class="session">
    	<a class="color-session" ui-sref="main.login" ng-show="hasToken()">Iniciar Sesión |</a>
    	<a class="color-session" ui-sref="main.profile.tabs.products" ng-hide="hasToken()" ng-bind="UserName + ' |'"></a>
    	<a class="color-session" ui-sref="main.register" ng-show="hasToken()">Regístrate </a>
    	<a class="color-session" ng-click="exit()" ng-hide="hasToken()">Cerrar Sesión</a> <span class="color-session">&nbsp;&nbsp; Estás en:</span>

        <div class="btn-group fix-height" >
          <button type="button" class="btn-xs dropdown-toggle select-flag toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="form-inline ">
                <div class="form-group div-country-name">
                    Venezuela
                </div>
                <div class="form-group">
                    <img src="images/venezuela.png" class="img-flag div-flag">
                </div> <span class="caret session-caret"></span>
            </div>
          </button>
          <ul class="dropdown-menu drop-menu">
            <li>
                <a href="#">
                    <div class="form-inline">
                        <div class="form-group div-country-name">
                            Venezuela
                        </div>
                        <div class="form-group">
                            <img src="images/venezuela.png" class="img-flag div-flag">
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://pollitoingles.mx/">
                    <div class="form-inline">
                        <div class="form-group div-country-name">
                            México
                        </div>
                        <div class="form-group">
                            <img src="images/mexico.png" class="img-flag div-flag">
                        </div>
                    </div>
                </a>
            </li>
          </ul>
        </div>
    </div>