<div class="container-fluid order-container order-detail-container">
    <div class="row bar-row bar-flower-detail">
        <div class="col-md-3">
            <select class="form-control">
                <!-- <option ng-repeat="dates in sale.years">{{dates.year}}</option> --> 
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
            </select>    
        </div>
    </div>
    <div class="order-row row">
         <div class="order-btns pull-right calf-btn">
            <button ng-hide="order.reputation" type="button" ui-sref="main.order-qualify({number:order.id})">
                Calificar
                <img src="images/plus.png">
            </button>
        </div>
    </div>
     <div class="order-row row">
     	<div class="col-md-3">
     		<img class="img-responsive" ng-src="{{order.order_product.publication.product.product_image[0].picture}}" alt="">
     	</div>
        <div class="col-md-7 order-info order-detail">
            <label class="dpBlock order-title">{{order.order_product.name}}</label>
            <label class="dpBlock order-date">{{order.order_payment.payment_date}}</label>
            <br>
            <label>Nombre del Usuario:</label>
            <label class="dpBlock order-vendor">{{order.first_name +"  "+ order.last_name}}</label>
            <br>
            <label>Nombre del Vendedor:</label>
            <label class="dpBlock order-vendor">{{order.seller_fullname}}</label>
            <br>
            <div ng-show="order.order_shipping.shipping_address">
                <label>Dirección de envío:</label>
                <label class="dpBlock order-vendor"> {{order.order_shipping.shipping_address}}</label>
            </div>
            <br>
            <label>SubTotal:</label>
            <label class="order-value"> {{order.subtotal}} Bs</label>
            <br>
            <div>
                <label>Comisión de la Pasarela de Pago:</label>
                <label class="order-value"> {{order.order_payment.payment_commission}} Bs</label>    
            </div>
            <div>
                <label>Total con iva:</label>
                <label class="order-value"> {{order.total}} Bs</label>
            </div>
        </div>
    </div>
    <div>
        <button class="order-btn-return" ui-sref="main.profile.tabs-orders.orders">
            Regresar 
            <img src="images/icon-return.png">
        </button>    	
    </div>
</div>