<div class="row">
	<div class="col-xs-12">
		<form name="productForm" ng-submit="addProduct()" class="text-center">
			<h3>País</h3>
			<div class="form-group" ng-class="{ 'has-error' : productForm.countries.$invalid && !productForm.countries.$pristine }">
				<select name="countries" class="form-control"
					ng-options="country.name for country in countries track by country.code2"
					ng-model="selected.country" ng-change="countryChanged()">
					<option value="">Elige un el pais</option>
				</select>
			</div>
			<h3>Estado</h3>
			<div class="form-group" ng-class="{ 'has-error' : productForm.regions.$invalid && !productForm.regions.$pristine }">
				<select name="regions" class="form-control"
					ng-options="region.name for region in regions track by region.code2"
					ng-model="selected.region">
					<option value="">Elige un el pais</option>
				</select>
			</div>
			<h3>Ciudad</h3>
			<div class="form-group" ng-class="{ 'has-error' : productForm.cities.$invalid && !productForm.cities.$pristine }">
				<select name="cities" class="form-control"
					ng-options="cities.name for cities in cities track by cities.code2"
					ng-model="selected.city">
					<option value="">Elige un el pais</option>
				</select>
			</div>
			<h3>¿Qué quieres hacer?</h3>
			<div class="form-group" ng-class="{ 'has-error' : productForm.status.$invalid && !productForm.status.$pristine }">
				<select name="status" class="form-control" ng-model='product.status' required>
					<option value="1">Vender</option>
					<option value="2">Intercambiar</option>
					<option value="3">Vender/Intercambiar</option>
					<option value="">Elige un tipo de publicación</option>
				</select>
			</div>
			<h3>¿En qué condiciones está?</h3>
			<div class="form-group" ng-class="{ 'has-error' : productForm.condition.$invalid && !productForm.condition.$pristine }">
				<select name="condition" class="form-control" ng-model='product.condition' required>
					<option value="1">Nuevo</option>
					<option value="2">Como nuevo</option>
					<option value="3">Poco uso</option>
					<option value="4">Usado</option>
					<option value="">Elige una condición</option>
				</select>
			</div>
			<h3>Categoría</h3>
			<div class="form-group" ng-class="{ 'has-error' : productForm.categories.$invalid && !productForm.categories.$pristine }">
				<label for="categorias">Categoría*</label>
				<select name="categories" class="form-control"
					ng-options="category.description for category in categories track by category.id"
					ng-model="product.category">
					<option value="">Elige una categoría</option>
				</select>
			</div>
			<h3>Nombre, descripción y precio</h3>
			<div class="well">
				<div class="form-group" ng-class="{ 'has-error' : productForm.nombreProducto.$invalid && !productForm.nombreProducto.$pristine }">
					<p>
						<input class="form-control" type="text" name="nombreProducto" placeholder="Nombre del producto*" ng-model="product.name" ng-maxlength="98" required>
					</p>
					<div ng-show="productForm.nombreProducto.$invalid && !productForm.nombreProducto.$pristine" class="help-block">
						Debes indicar el nombre del producto
					</div>
					<div ng-show="productForm.nombreProducto.$error.maxlength" class="help-block">
						El nombre del producto no puede exceder los 98 caracteres
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : productForm.descProducto.$invalid && !productForm.descProducto.$pristine }">
					<p>
						<input class="form-control" type="text" name="descProducto" placeholder="Descripción del producto*" ng-model="product.description" required>
					</p>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : productForm.price.$invalid}">
					<p>
						<input class="form-control" type="text" name="price" placeholder="Precio*" ng-model="product.price" ng-pattern="regex">
						<div ng-show="productForm.price.$invalid" class="help-block">Coloca un precio válido</div>
					</p>
				</div>
				<div class="form-group">
					<img ngf-src="pictures[0].picture" class="thumb">
					<img ng-src="{{croppedPic[0]}}" class="thumb"/>
					<div ngf-drop ng-model="pictures[0].picture" ngf-pattern="'.png, .jpg, .jpeg'" class="crop-area">
						<img-crop image="pictures[0].picture | ngfDataUrl" result-image="croppedPic[0]" area-type="square" ng-init="croppedPic[0]=''"></img-crop>
					</div>
					<span class="progress" ng-show="progress >= 0">
						<div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
					</span>
					<span ng-show="result">Upload Successful</span>
					<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
					<div class="btn btn-info" ngf-select ng-model="pictures[0].picture" ngf-accept="'.png, .jpg, .jpeg'" required>Elegir imagen*</div>
					<br><br>
					<img ngf-src="pictures[1].picture" class="thumb">
					<img ng-src="{{croppedPic[1]}}" class="thumb"/>
					<div ngf-drop ng-model="pictures[1].picture" ngf-pattern="'.png, .jpg, .jpeg'" class="crop-area">
						<img-crop image="pictures[1].picture | ngfDataUrl" result-image="croppedPic[1]" area-type="square" ng-init="croppedPic[1]=''"></img-crop>
					</div>
					<div class="btn btn-info" ngf-select ng-model="pictures[1].picture" ngf-accept="'.png, .jpg, .jpeg'" required>Elegir imagen*</div>
					<br><br>
					<img ngf-src="pictures[2].picture" class="thumb">
					<img ng-src="{{croppedPic[2]}}" class="thumb"/>
					<div ngf-drop ng-model="pictures[2].picture" ngf-pattern="'.png, .jpg, .jpeg'" class="crop-area">
						<img-crop image="pictures[2].picture | ngfDataUrl" result-image="croppedPic[2]" area-type="square" ng-init="croppedPic[2]=''"></img-crop>
					</div>
					<div class="btn btn-info" ngf-select ng-model="pictures[2].picture" ngf-accept="'.png, .jpg, .jpeg'" required>Elegir imagen*</div>
					<br><br>
					<small>Sólo puedes subir imágenes con formato: <b>.jpg, .jpeg ó .png</b></small>
				</div>
			</div>
			<div class="form-group">
				<h3>Género</h3>
				<div id="genero">
					<select name="gender" class="form-control" ng-model='product.gender' required>
						<option value="F">Niña</option>
						<option value="M">Niño</option>
						<option value="A">Ambos</option>
						<option value="">Elige el género</option>
					</select>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : productForm.desde.$invalid && !productForm.desde.$pristine }">
				<h3>Edad</h3>
				<p>
					<input class="form-control" type="number" name="desde" placeholder="Desde*" ng-model="product.since" min="0" max="17" required>
				</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : productForm.hasta.$invalid && !productForm.hasta.$pristine }">
				<p>
					<input class="form-control" type="number" name="hasta" placeholder="Hasta*" ng-model="product.until" min="0" max="17" required>
				</p>
			</div>
			<div class="form-group" ng-class="{ 'has-error' : productForm.comments.$invalid && !productForm.comments.$pristine }">
				<label for="comments">Permitir comentarios sobre esta publicación</label>
				<select name="comments" class="form-control" ng-model='product.comments'>
					<option value="true">Si</option>
					<option value="false">No</option>
					<option value="">Elige si deseas permitir comentarios</option>
				</select>
			</div>
			<button type="submit" ng-disabled="productForm.$invalid" class="btn btn-success">
				Publicar
			</button>
		</form>
	</div>
</div>
