<div class="row">
    <br>
    <br>
</div>
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="center-product-image">
            <img class="img-responsive main" ng-if="publication.product.product_image[selected].picture" ng-src="{{publication.product.product_image[selected].picture}}" alt="{{publication.product.name}}" width="300" height="300">
            <img class="img-responsive main" ng-if="!publication.product.product_image[selected].picture" src="images/product-no-image.png" alt="{{publication.product.name}}" width="300" height="300">
            <br>
            <img class="thumbnail-product-detail" ng-show="publication.product.product_image[0]" ng-click="selected = 0" ng-src="{{publication.product.product_image[0].picture}}" alt="Imagen del producto">
            <img class="thumbnail-product-detail" ng-show="publication.product.product_image[1]" ng-click="selected = 1" ng-src="{{publication.product.product_image[1].picture}}" alt="Imagen del producto">
            <img class="thumbnail-product-detail" ng-show="publication.product.product_image[2]" ng-click="selected = 2" ng-src="{{publication.product.product_image[2].picture}}" alt="Imagen del producto">
        </div>
    </div>
    <div class="col-sm-7 padding-box-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="product-title-detail" id="here">
                    {{publication.product.name}}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="product-owner-detail">
                    <a ui-sref="main.searchcategory({category:publication.category.description})">
                        <span class="product-owner-detail">
                            {{publication.category.description}}
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 separator-product"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class=" product-price-detail">
                            {{publication.price | currency : "Bs. " : 2 }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" >
                        <div class="share-it" ng-hide="hideMe">
                            <span>
                                Compartir en:
                            </span>
                        </div>
                        <div class="form-inline">
                            <a ng-click="clickSocialShared('facebook', publication.id)" socialshare socialshare-provider="facebook" socialshare-text="Mira este producto en PollitoIngles" socialshare-hashtags="pollitoingles" socialshare-url="{{url}}" socialshare-description="{{publication.product.name + ' ' + publication.product.description}}" socialshare-media="{{publication.product.product_image[2].picture}}">
                                <img src="images/social-media-cyan/facebook-azul.png" alt="" class="padding-social-media">
                            </a>
                            <a ng-click="clickSocialShared('twitter',publication.id)" socialshare socialshare-provider="twitter" socialshare-text="Mira este producto en PollitoIngles" socialshare-hashtags="pollitoingles" socialshare-url="{{url}}">
                                <img src="images/social-media-cyan/twitter-azul.png" alt="" class="padding-social-media" >
                            </a>
                            <a ng-click="clickSocialShared('pinterest', publication.id)" socialshare socialshare-provider="pinterest" socialshare-text="Mira este producto en PollitoIngles" socialshare-hashtags="pollitoingles" socialshare-url="{{url}}" socialshare-media="{{publication.product.product_image[2].picture}}">
                                <img src="images/social-media-cyan/pinterest-azul.png" alt="" class="padding-social-media">
                            </a>
                            <a ng-click="clickSocialShared('email', publication.id)" socialshare socialshare-provider="email" socialshare-subject="Mira este producto en PollitoIngles" socialshare-body="{{url}}">
                                <img src="images/social-media-cyan/email-azul.png" alt="" class="padding-social-media">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row pk-report-abuse" ng-hide="hideMe"></div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 product-description-detail">
                {{publication.product.description}}
            </div>
            <!-- Editar aqui  -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="product-description-detail-data">
                            <p>Género</p>
                            <span ng-show="publication.product.gender == 'A'">Ambos</span>
                            <span ng-show="publication.product.gender == 'M'">Masculino</span>
                            <span ng-show="publication.product.gender == 'F'">Femenino</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="product-description-detail-data">
                            <p>Edad</p>
                            {{showAge()}}
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="product-description-detail-data">
                            <p>Condición</p>                            
                            <span ng-show="publication.product.condition == '1'">Nuevo</span>
                            <span ng-show="publication.product.condition == '2'">Como nuevo</span>
                            <span ng-show="publication.product.condition == '3'">Poco uso</span>
                            <span ng-show="publication.product.condition == '4'">Usado</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div ng-show="showInappropriate" ng-click="hide();scroll()" class="link-report-span link-report"><img src="images/alert.png" alt="alerta" class="alerta-img"><p>Reportar este producto como inapropiado</p></div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="product-owner-detail-down">
                            <a ui-sref="main.users.profile({uid:publication.user.pk})">
                                <span class="product-owner-detail" ng-if="publication.user.parent.first_name !== '' && publication.user.parent.last_name !== ''">
                                    {{publication.user.parent.first_name + ' ' + publication.user.parent.last_name}}
                                </span>
                                <span class="product-owner-detail" ng-if="publication.user.parent.first_name == '' && publication.user.parent.last_name == ''">
                                    {{UserName}}
                                </span>
                            </a>
                        </div>
                        <div class="publication-dir">
                            <a ui-sref="main.users.profile({uid:publication.user.pk})">
                                <span class="product-location-detail">
                                    {{publication.user.parent.direction}}
                                </span>
                            </a>
                        </div>
                        <div class="publication-user-reputation">
                            <star-rating ng-model="rating" name="rating" max=5 data-toggle="tooltip" data-placement="right" title="Tú reputación"></star-rating>
                            <star-rating ng-if="rating == 0" ng-model="falserating" name="rating-default" max=5 readonly="true" data-toggle="tooltip" data-placement="right" title="Todavía no tienes reputación"></star-rating>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <br>
                <div class="button-pink align-button" ng-show="hideMe" ng-click="hide()">
                    <p>Regresar</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row product-detail-actions">
                    <!-- <div class="col-sm-8 link-report-abuse">
                        <div ng-click="hide();scroll()" class="link-report-span link-report"  ng-hide="mine(publication) || hasToken() || hideMe"><img src="images/alert.png" alt="">Reportar este producto como inapropiado</div>
                    </div> -->
                    <div class="col-sm-offset-6 col-sm-6 content-actions" ng-hide="hideMe">
                        <a class="button-pink " ng-show="buttons(publication)" ng-click="buy()">
                            <p>Comprar</p>
                        </a>
                        <a class="button-pink " ng-show="buttonEdit" ng-click="edit()">
                            <p>Editar</p>
                        </a>
                        <a class="button-pink " ng-show="buttonExc" ng-click="exchange()">
                            <p>Intercambiar</p>
                        </a>
                    </div>
                    <div class="row" ng-show="buyExc">
                        <div class="col-sm-12 content-actions buy-change">
                            <a class="button-pink btn-buy-change" ng-click="buy()">
                                <p>Comprar</p>
                            </a>
                            <p class="letter">Ó</p>
                            <a class="button-pink btn-buy-change" ng-click="exchange()">
                                <p>Intercambiar</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Editar aqui  -->
            
            <!--         <div class="button-pink align-button" ng-show="hideMe" ng-click="hide()">
                <p>Regresar</p>
            </div> -->
            <!--         <div class="row">
                <div class="col-sm-8 link-report-abuse">
                    <div ng-click="hide();scroll()" class="link-report-span link-report"  ng-hide="mine(publication) || hasToken() || hideMe"><img src="images/alert.png" alt="">Reportar este producto como inapropiado</div>
                </div>
                <div class="col-sm-3" ng-hide="hideMe">
                    <div class="button-pink align-button" ng-hide="mine(publication)" ng-click="buy()">
                        <p>Comprar</p>
                    </div>
                    <div class="button-pink align-button" ng-show="mine(publication)" ng-click="edit()">
                        <p>Editar</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <br>
    <div ng-show="hideMe">
        <br>
        <div class="pk-report-abuse"></div>
        <h1 class="report-abuse-title" id="scrollHere">Reportar Abusos</h1>
        <br><br>
        <div class="well textarea-report">
            <form name="reportAbuseForm" ng-submit="reportAbuse()" novalidate>
                <div class="row checkbox-report-separator">
                    <div class="form-inline">
                        <div class="col-lg-1 col-sm-1 col-sm-1"></div>
                        <div class="col-lg-5 col-sm-5 col-sm-5">
                            <label class="radio-inline checkbox-report">
                                <input type="radio" name="abuseType" ng-model="product_inapropiate" value="1"><span class="checkbox-report-left">Producto inapropiado</span>
                            </label>
                        </div>
                        <div class="col-lg-5 col-sm-5 col-sm-5">
                            <label class="radio-inline checkbox-report">
                                <input type="radio" name="abuseType" ng-model="product_adult" value="2"><span class="checkbox-report-left">Producto dirigido a adultos</span>
                            </label>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                    </div>
                </div>
                <br>
                <div class="row textarea-report-padding">
                    <textarea class="form-control textarea-report-check" ng-model="text_report" rows="5" id="comment" placeholder="Deje su comentario (es opcional)"></textarea>
                </div>
                <br>
                <div class="row div-padding-bottom">
                    <button type="submit" class="btn btn-warning center-block btn-submit" name="button">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <div class="col-lg-12 col-md-12 col-sm-12 padding-row">
        <div class="pk-testimony">
        </div>
    </div>
    <br>
    <div class="row">
        <div ng-show="activeSession">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a  ng-click="clicBanDetail(turnBanPrin)">
                <img class="woman" src="{{turnBanPrin.picture}}">
                </a>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments">
                        Comentarios
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 row">
                <br>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 image-user-bubble">
                        <img ng-if="me.parent.picture" ng-src="{{me.parent.picture}}" alt="user-logged" width="80px" height="80px">
                        <img ng-if="!me.parent.picture" src="images/default-profile.jpg" alt="user-logged" width="80px" height="80px">
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-8 col-xs-8 bubble-product-comment bubble-comment-box-open bubble-comment-box-open-exp">
                        <textarea name="comment" class="bubble-text-comment" ng-model="newComment"></textarea>
                        <div class="direct-msj button-yellow-comment" ng-click="addcomment()">
                            <p>Comentar</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-offset-6 col-lg-6 col-md-offset-6 col-md-6 col-sm-6 bubble-button-size">
                        <div class="row child">
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br>
                </div>
                <div class="row" ng-repeat="comment in comments">
                    <div ng-if="$index % 2 !== 0" class="col-lg-1 col-md-1 col-sm-1 image-user-bubble">
                        <img ng-src="{{comment.user.parent.picture}}" alt="user-logged" class="" width="80px" height="80px" >
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11" ng-class="$index % 2 !== 0 ? 'bubble-comment-box-right' : 'bubble-comment-box-left'">
                        <div class="row">
                            <div class="bubble-user">
                                {{comment.user_name}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="bubble-message">
                                {{comment.comment}}
                            </div>
                        </div>
                    </div>
                    <div ng-if="$index % 2 == 0" class="col-lg-1 col-md-1 col-sm-1 image-user-bubble">
                        <img ng-src="{{comment.user.parent.picture}}" alt="user-logged" class="" width="80px" height="80px" >
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 padding-row">
                <div class="pk-testimony">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 comments">
                    Más productos de <span>{{publication.user.parent.first_name + ' ' + publication.user.parent.last_name}}</span>
                </div>
            </div>
            <div class="row">
                <br>
            </div>
        </div>

    <div class="col-sm-12 items-container">
        <div class="col-sm-12">
            <!-- items -->
            <div class="masonry-items" ng-repeat="publication in relatedPublicatios">
                <!-- publication -->
                <div class="publication" ui-sref="main.productdetail({id:publication.id})">
                    <div class="container-fluid box">
                        <div class="col-xs-5 col-sm-12 image-container">
                            <img class="img-responsive" ng-src="{{publication.product.product_image[0].picture}}" alt="Imagen del producto">
                        </div>
                        <div class="col-xs-7 col-sm-12 data-container">
                            <div class="main">
                                <label class="name">{{publication.product.name}}</label>
                                <label class="price">{{publication.price | currency : "Bs. " : 2}}</label>       
                            </div>
                            <div class="footer">
                                <label class="name">{{publication.user.parent.first_name + ' ' + publication.user.parent.last_name}}</label>
                                <label class="address">{{publication.user.parent.direction | limitTo : 90 }}<span ng-if="publication.user.parent.direction.length > 90">...</span></label>
                                <div class="allstar">
                                    <div  class="star" ng-class="{
                                       'nothing': publication.user.parent.reputation == null,
                                       'mMalo': publication.user.parent.reputation == '1',
                                       'malo':  publication.user.parent.reputation == '2', 
                                       'regular':  publication.user.parent.reputation == '3', 
                                       'bueno':  publication.user.parent.reputation == '4',
                                       'mBueno': publication.user.parent.reputation == '5'
                                       }">
                                        <img src="images/flor/flower24.png">
                                        <img src="images/flor/flower24.png">
                                        <img src="images/flor/flower24.png">
                                        <img src="images/flor/flower24.png">
                                        <img src="images/flor/flower24.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <br>
    <br>
    <br>