<div class="row">
	<div><img ng-src="{{myCroppedImage}}" /></div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="publication-title text-center">Editar publicación</div>
		<form name="pubForm" novalidate>
			<div class="edit-publication">
				<!-- Nombre, Precio -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="form-group" ng-class="{ 'has-error' : pubForm.name.$invalid}">
							<label class="publication-label" for="name">Nombre</label>
							<p>
								<input class="publication-field" type="text" name="name" placeholder="Nombre del Producto" ng-model="product.name" ng-maxlength="98" required>
								<div ng-show="pubForm.name.$invalid" class="help-block update">Coloca un Nombre</div>
							</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="form-group" ng-class="{ 'has-error' : pubForm.price.$invalid}">
							<p>
								<label class="publication-label" for="price">Precio</label>
								<input class="publication-field" type="text" name="price" placeholder="Precio" ng-model="publication.price" ng-pattern="regex" required>
								<div ng-show="pubForm.price.$invalid" class="help-block update">Coloca un precio válido</div>
							</p>
						</div>
					</div>
				</div>
				<!-- Descripión-->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="form-group">
							<label class="publication-label" for="descProducto">Descripción</label>
							<textarea class="publication-field-description" type="text" name="descProducto" placeholder="Descripción del producto" ng-model="product.description"></textarea>
						</div>
					</div>
				</div>
				<!-- Que quieres hacer, En que condiciones esta -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label class="publication-label" for="status">¿Qué quieres hacer?</label>
							<select name="status" class="publication-field" ng-model="publication.status">
								<option value="1" ng-selected="publication.status == 1">Vender</option>
								<option value="2" ng-selected="publication.status == 2">Intercambiar</option>
								<option value="3" ng-selected="publication.status == 3">Vender/Intercambiar</option>
								<option value="4" ng-selected="publication.status == 4">Vendido</option>
								<option value="5" ng-selected="publication.status == 5">Cancelado</option>
							</select>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label class="publication-label" for="condicion">¿En que condiciones está?</label>
							<select name="condicion" class="publication-field" ng-model='product.condition'>
								<option value="1" ng-selected="product.condition == 1">Nuevo</option>
								<option value="2" ng-selected="product.condition == 2">Como nuevo</option>
								<option value="3" ng-selected="product.condition == 3">Poco uso</option>
								<option value="3" ng-selected="product.condition == 4">Usado</option>
							</select>
						</div>
					</div>
				</div>
				<!-- Categoria, Genero, Edad -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 category-padding">
						<div class="form-group">
							<label class="publication-label" for="categorias">Categoría</label>
							<select name="categorias"	class="publication-field" ng-model="product.category"	ng-options="category.description for category in categories track by category.id" required/>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
						<div class="form-group">
							<label class="publication-label" for="genero">Género</label>
							<div id="genero">
								<select name="gender" class="publication-field" ng-model='product.gender' required>
									<option ng-selected="product.gender == 'F'" value="F">Niña</option>
									<option ng-selected="product.gender == 'M'" value="M">Niño</option>
									<option ng-selected="product.gender == 'A'" value="A">Ambos</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 age-padding">
						<div class="form-group">
							<label class="publication-label" for="desde">Edades</label>
							<select name="desde" class="publication-field" ng-model='product.range_year_old'>
								<option value="0-3m" ng-selected="product.range_year_old == '0-3m'">0-3 meses</option>
								<option value="3-6m" ng-selected="product.range_year_old == '3-6m'">3-6 meses</option>
								<option value="6-9m" ng-selected="product.range_year_old == '6-9m'">6-9 meses</option>
								<option value="9-12m" ng-selected="product.range_year_old == '9-12m'">9-12 meses</option>
								<option value="1-2a" ng-selected="product.range_year_old == '1-2a'">1-2 años</option>
								<option value="2-4a" ng-selected="product.range_year_old == '2-4a'">2-4 años</option>
								<option value="4-6a" ng-selected="product.range_year_old == '4-6a'">4-6 años</option>
								<option value="6a+" ng-selected="product.range_year_old == '6-+'">6 o más años</option>
							</select>
						</div>
					</div>
				</div>
				<!-- Estado, Ciudad -->
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label class="publication-label" for="estadoProducto">Estado</label>
							<p>
								<select class="publication-field" id="region" name="region" ng-model="product.region" ng-change="regionChanged()" ng-options="e as e.name for e in regions"> 
									<option value="" disabled selected hidden>{{product.region}}</option>
								</select>
							</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
						<div class="form-group">
							<label class="publication-label" for="ciudadProducto">Ciudad</label>
							<p>
								<select class="publication-field" name="city" ng-model="product.city" ng-options="c as c.name for c in cities" required> 
									<option value="" disabled selected hidden>{{product.city.name}}</option>
								</select>
							</p>
						</div>
					</div>
				</div>
				<!-- Update Imagenes -->
				<div class="row images">
					<div class="col-sm-4 padding-margin-0">
						<div class="btn btn-elegir" ngf-select ng-model="pictures[0]" ngf-accept="'image/*'">
							<div class="text">Elegir imagen</div>
						</div>
						<div class="img-container">
							<img ng-show="pictures[0]"  class="img-responsive" ngf-thumbnail="pictures[0]" alt="Foto de producto por actualizar">
							<img ng-hide="pictures[0]" class="img-responsive" ng-src="{{product.product_image[0].picture}}" alt="Foto de producto actualizado" >
						</div>
					</div>
					<div class="col-sm-4 padding-margin-0">
						<div class="btn btn-elegir" ngf-select ng-model="pictures[1]" ngf-accept="'image/*'">
							<div class="text">Elegir imagen</div>
						</div>
						<div class="img-container">
							<img ng-show="pictures[1]"  class="img-responsive" ngf-thumbnail="pictures[1]" alt="Foto de producto por actualizar">
							<img ng-hide="pictures[1]" class="img-responsive" ng-src="{{product.product_image[1].picture}}" alt="Foto de producto actualizado" >
						</div>
					</div>
					<div class="col-sm-4 padding-margin-0">
						<div class="btn btn-elegir" ngf-select ng-model="pictures[2]" ngf-accept="'image/*'">
							<div class="text">Elegir imagen</div>
						</div>
						<div class="img-container">
							<img ng-show="pictures[2]"  class="img-responsive" ngf-thumbnail="pictures[2]" alt="Foto de producto por actualizar">
							<img ng-hide="pictures[2]" class="img-responsive" ng-src="{{product.product_image[2].picture}}" alt="Foto de producto actualizado" >
						</div>
					</div>
				</div>
				<!-- Fin Imagenes -->
				<div class="text-center">
					<button type="submit" ng-disabled="pubForm.$invalid" ng-click="edit()" class="btn btn-elegir btn-update text-center">
						<div class="text">
							Actualizar Datos
						</div>
					</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="container">
	</div>
</div>
</div>