<div masonry='{ "transitionDuration" : "0.5s" , "itemSelector" : ".masonry-items"}'>
  <!-- items -->
    <div class="masonry-items masonry-items-profile" masonry-tile ng-repeat="publication in publications">
        <!-- publication -->
        <div class="publication">
            <div class="container-fluid box">
                <button type="button" class="btn btn-delete pull-right" ng-class="isMac? 'isMac':''" name="button" ng-click="delete($index)"><div class="text">x</div></button>
                <div class="col-xs-5 col-sm-12 image-container" ui-sref="main.productdetail({id:publication.id})">
                    <img class="img-responsive" ng-src="{{publication.product.product_image[0].picture}}" alt="Imagen del producto">
                </div>
                <div class="col-xs-7 col-sm-12 data-container" ui-sref="main.productdetail({id:publication.id})">
                    <div class="main">
                        <label class="name">{{publication.product.name}}</label>
                        <label class="price">{{publication.price}} Bs</label>       
                    </div>
                    <div class="footer">
                        <label class="name">{{publication.user.parent.first_name + ' ' + publication.user.parent.last_name}}</label>
                        <label class="address">{{publication.user.parent.direction | limitTo : 80 }}...</label>
                        <div class="allstar">
                            <div  class="star" ng-class="{
                               'nothing': publication.user.parent.reputation == null,
                               'mMalo': publication.user.parent.reputation == '1',
                               'malo':  publication.user.parent.reputation == '2', 
                               'regular':  publication.user.parent.reputation == '3', 
                               'bueno':  publication.user.parent.reputation == '4',
                               'mBueno': publication.user.parent.reputation == '5'
                               }">
                                <img src="images/flor/flower24.png">
                                <img src="images/flor/flower24.png">
                                <img src="images/flor/flower24.png">
                                <img src="images/flor/flower24.png">
                                <img src="images/flor/flower24.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a ng-show="nextPublications" ng-click="next()">
    <div class="button-yellow mrg-btn-yellow">
        <p>Ver más Articulos</p>
    </div>
</a>
<h3 ng-if="publications.length == 0"><span class="title-nav">No has publicado ningún producto</span></h3>
