<br>
<div ng-repeat="tlk in talkers">
    <div id="notifications">
        <div>
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <img ng-if="tlk.parent.picture" class="image-rounded" ng-src="{{tlk.parent.picture}}" width="65px" height="65px">
                    <img ng-if="tlk.parent.picture==''" class="image-rounded" src="images/default-profile.jpg" alt="Imagen generica de perfil" width="65px" height="65px">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <div class="well">
                        <button ng-click="delete_conversation(tlk.pk)" type="button" class="btn btn-delete pull-right" name="button" ><div class="text">x</div></button>
                        <div class="text"><a class="talkers-link" ui-sref="main.profile.talk({user:tlk.pk})"><span>El usuario <b>{{tlk.parent.first_name + ' ' + tlk.parent.last_name}}</b> te ha escrito</span></a></div>
                        <div class="date"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a ng-show="nextTalks" ng-click="next()">
    <div class="button-yellow mrg-btn-yellow">
        <p>Ver más Mensajes</p>
    </div>
</a>
<h3 ng-if="talkers.length == 0 && !nextTalks"><span class="title-nav">No tienes mensajes pendientes</span></h3>