<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form name="updateParentForm" ng-submit="update()" novalidate="">
            <div class="well">
                <h3 class="text-center">Actualizar perfil</h3>
                <div class="form-group text-center">
                    <p>
                        <label for="file">Foto de perfil*</label>
                        <br>
                        <img class="img-circle" ng-src="{{profile.parent.picture}}" alt="Foto de perfil" width="140" height="140">
                        <input type="file" ngf-select="" ng-model="profile.parent.picture" name="file" ngf-accept="'image/*'">
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <label for="nombre">Nombre*</label>
                        <input class="form-control" type="text" name="first_name" placeholder="Nombre*" ng-model="profile.parent.first_name" ng-pattern="regex2" ng-minlength="2" ng-maxlength="15">
                        <div ng-show="updateParentForm.first_name.$invalid" class="help-block">
                            El nombre no puede contener números o caracteres especiales.
                        </div>
                        <div ng-show="updateParentForm.first_name.$error.maxlength" class="help-block">
                            El nombre no puede contener más de 15 caracteres
                        </div>
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <label for="apellido">Apellido*</label>
                        <input class="form-control" type="text" name="last_name" placeholder="Apellido*" ng-model="profile.parent.last_name" ng-pattern="regex2" ng-minlength="2" ng-maxlength="15">
                        <div ng-show="updateParentForm.last_name.$invalid" class="help-block">
                            El apellido no puede contener números o caracteres especiales.
                        </div>
                        <div ng-show="updateParentForm.last_name.$error.maxlength" class="help-block">
                            El apellido no puede contener más de 15 caracteres
                        </div>
                    </p>
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección*</label><br>
                    <textarea name="" rows="8" cols="40" name="direccion" placeholder="Dirección*" ng-model="profile.parent.direction"></textarea>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : updateParentForm.telefono.$invalid}">
                    <p>
                        <label for="telefono">Teléfono*</label>
                        <input class="form-control" type="text" name="telefono" placeholder="Teléfono*" ng-model="profile.parent.phone_number" ng-pattern="regex">
                        <div ng-show="updateParentForm.telefono.$invalid" class="help-block">Coloca un número de teléfono válido</div>
                    </p>
                </div>
                <div class="form-group">
                    <h4>Redes Sociales</h4>
                    <p>
                        <label for="facebook">Facebook</label>
                        <input class="form-control" type="text" name="facebook" placeholder="Tu cuenta" ng-model="profile.facebook">
                    </p>
                    <p>
                        <label for="twitter">Twitter</label>
                        <input class="form-control" type="text" name="twitter" placeholder="@tu-usuario" ng-model="profile.twitter">
                    </p>
                    <p>
                        <label for="instagram">Instagram</label>
                        <input class="form-control" type="text" name="instagram" placeholder="@tu-usuario" ng-model="profile.instagram">
                    </p>
                    <p>
                        <label for="pinterest">Pinterest</label>
                        <input class="form-control" type="text" name="pinterest" placeholder="@tu-usuario" ng-model="profile.pinterest">
                    </p>
                    <p>
                        <label for="youtube">Youtube</label>
                        <input class="form-control" type="text" name="youtube" placeholder="Tu cuenta" ng-model="profile.youtube">
                    </p>
                </div>
                <div class="form-group">
                    <p>
                        <input id="checkbox1" type="checkbox" name="checkbox" ng-model="profile.parent.private_mes_active"><label for="checkbox1"><span></span>Mensaje privado</label>
                    </p>
                </div>
                <!-- <div class="form-group">
                    <p>
                        <input id="checkbox1" type="checkbox" name="checkbox" ng-model="profile.parent.public_profile"><label for="checkbox1"><span></span>Perfil público</label>
                    </p>
                </div> -->
                <button type="submit" ng-disabled="updateParentForm.$invalid" class="btn btn-warning">
                    Actualizar datos
                </button>
            </div>
        </form>
    </div>
</div>
