<div class="row">
    <ul class="nav nav-tabs nav-justified orders">
        <li ng-class="{active: isActive('orders')}">
            <a ui-sref="main.profile.tabs-orders.orders" class="nav-profile">Mis Ordenes</a>
        </li>
        <li ng-class="{active: isActive('sales')}">
            <a ui-sref="main.profile.tabs-orders.sales" class="nav-profile">Mis Ventas</a>
        </li>
<!--         
        link you exchange

        <li ng-class="{active: isActive('exchanges')}">
            <a ui-sref="main.profile.tabs-orders.exchanges" class="nav-profile">Mis Intercambios</a>
        </li> 
-->
    </ul>
    <div ui-view="tabsorder"></div>
</div>
