<div class="row">
	<div class="margin-nav-mess">
	    <ul class="nav nav-tabs nav-justified">
	        <li ng-class="{active: isActiveNotif('notifications')}">
	            <a ui-sref="main.profile.not-mess.notifications" class="nav-profile">Notificaciones</a>
	        </li>
	        <li ng-class="{active: isActiveNotif('messages')}">
	        	<div class="dm_pending" ng-show="showBubble()">{{dm_count}}</div>
	            <a ui-sref="main.profile.not-mess.messages" class="nav-profile">Mensajes</a>
	        </li>
	    </ul>
	</div>
    <div ui-view="tab"></div>
</div>
