<br>
<div ng-repeat="notification in notifications">
    <div ng-switch on="notification.notification_type" id="notifications">
        <div ng-switch-when="UF">
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <img class="image-rounded" ng-src="{{notification.sender.parent.picture}}" width="65px" height="65px">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <div class="well">
                        <button type="button" class="btn btn-delete pull-right" name="button" ng-click="delete($index)"><div class="text">x</div></button>
                        <div class="text"><span>El usuario <b>{{notification.sender.parent.first_name + ' ' + notification.sender.parent.last_name}}</b> te sigue.</span></div>
                        <div class="date">{{notification.created_at | date : "dd MM y"}} a la(s) {{notification.created_at | date : "h:mm"}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="PC">
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <img class="image-rounded" ng-src="{{notification.sender.parent.picture}}" width="65px" height="65px">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <div class="well">
                        <button type="button" class="btn btn-small pull-right" name="button" ng-click="delete($index)"><div class="text">x</div></button>
                        <div class="text"><a class="talkers-link" ui-sref="main.productdetail({id:getId(notification.additional_data)})"><span>Hicieron un comentario en el producto <b>{{getName(notification.additional_data)}}</b> </span></a></div>
                        <div class="date">{{notification.created_at | date : "dd MM y"}} a la(s) {{notification.created_at | date : "h:mm"}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="UCP">
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <img class="image-rounded" ng-src="{{notification.sender.parent.picture}}" width="65px" height="65px">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <div class="well">
                        <button type="button" class="btn btn-small pull-right" name="button" ng-click="delete($index)"><div class="text">x</div></button>
                        <div class="text"><a class="talkers-link" ui-sref="main.productdetail({id:getId(notification.additional_data)})"><span>El usuario <b>{{notification.sender.parent.first_name + ' ' + notification.sender.parent.last_name}}</b> ha publicado un nuevo producto <b>{{getName(notification.additional_data)}}</b></span></a></div>
                        <div class="date">{{notification.created_at | date : "dd MM y"}} a la(s) {{notification.created_at | date : "h:mm"}}</div>
                    </div>
                </div>
            </div>
        </div>        
        <div ng-switch-when="UUP">
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <img class="image-rounded" ng-src="{{notification.sender.parent.picture}}" width="65px" height="65px">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <div class="well">
                        <button type="button" class="btn btn-small pull-right" name="button" ng-click="delete($index)"><div class="text">x</div></button>
                        <div class="text"><a class="talkers-link" ui-sref="main.productdetail({id:getId(notification.additional_data)})"><span>El usuario <b>{{notification.sender.parent.first_name + ' ' + notification.sender.parent.last_name}}</b> ha actualizado la publicación del producto <b>{{getName(notification.additional_data)}}</b></span></a></div>
                        <div class="date">{{notification.created_at | date : "dd MM y"}} a la(s) {{notification.created_at | date : "h:mm"}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="PEX">
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <img class="image-rounded" ng-src="{{notification.sender.parent.picture}}" width="65px" height="65px">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <div class="well">
                        <button type="button" class="btn btn-small pull-right" name="button" ng-click="delete($index)"><div class="text">x</div></button>
                        <div class="text"><span>El producto <b>{{notification.additional_data}}</b> ha expirado</span></div>
                        <div class="date">{{notification.created_at | date : "dd MM y"}} a la(s) {{notification.created_at | date : "h:mm"}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-switch-when="UUPR">
            <div class="row">
                <div class="col-xs-2 col-sm-1">
                    <img class="image-rounded" ng-src="{{notification.sender.parent.picture}}" width="65px" height="65px">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <div class="well">
                        <button type="button" class="btn btn-small pull-right" name="button" ng-click="delete($index)"><div class="text">x</div></button>
                        <div class="text"><span>El Usuario <b>{{notification.sender.parent.first_name + ' ' + notification.sender.parent.last_name}}</b> ha actualizado su perfil</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a ng-show="nextNotifications" ng-click="next()">
    <div class="button-yellow mrg-btn-yellow">
        <p>Ver más</p>
    </div>
</a>
<h3 ng-if="notifications.length == 0 && !nextNotifications"><span class="title-nav">No tienes notificaciones pendientes</span></h3>
