<div class="row follower_no_padding" when-scrolled="more()">
    <ul id="following-list">
        <li class="follower" ng-repeat="user in following">
            <div class="col-md-4 follower_img_padding">
                <img class="img-responsive " ng-src="{{user.picture}}" width="70px" height="70px">
            </div>
            <div class="col-md-8">
                <a ui-sref="main.users.profile({uid:user.user})">
                    <p class="follower_name">
                        {{user.first_name + ' ' + user.last_name}}
                    </p>
                </a>
                <p class="follower_location">
                    {{user.direction | limitTo : 16 }}
                    <span ng-if="user.direction.length > 16">...</span>
                </p>
                <button ng-hide="profile === 'public'" class="follower_button following_button" ng-click="unfollow($index)" ng-mouseenter="buttonText = 'Dejar de seguir'" ng-mouseleave="buttonText = 'Siguiendo'">
                    {{buttonText}}
                </button>
            </div>
        </li>
    </ul>
    <h5 class="nunito text-center" ng-show="loading">Cargando</h5>
</div>
<h3 ng-if="following.length == 0"><span class="title-nav">No sigues a ningún usuario</span></h3>
