<div class="container-fluid order-container">
    <h3 ng-if="myOrders.count == 0"><span class="title-nav">No tienes Ordenes</span></h3>
    <!---top bar-->
    <div ng-if="myOrders.count != 0" class="row bar-row bar-flower">
        <div class="col-md-3">
            <select class="form-control">
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
            </select>    
        </div>
        <div class="bar-text">
            <span>
                Total de Ordenes:{{myOrders.count}}
            </span>
        </div>
    </div>
    <!---Order-->
    <div ng-repeat="order in myOrders.results">
         <div class="order-row row">
            <a ng-show="order.market">
                <div class="btn-market">
                   <img src="images/b-store.png"> 
                </div>            
            </a>
            <div class="col-md-7 order-info">
                <label class="dpBlock order-title">{{order.order_product.name}}</label>
                <label class="dpBlock order-number"># {{order.id}}</label>
                <label class="dpBlock order-date">{{order.order_payment.payment_date}}</label>
                <div><label>Nombre del Vendedor: </label><span class="order-vendor"> {{order.seller_fullname}}</span></div>
                <div><label>SubTotal:</label><span class="order-value"> Bs. {{order.subtotal}}</span></div>
                <div><label>Comisión de Pasarela de Pago:</label><span class="order-value"> Bs. {{order.order_payment.payment_commission}}</span></div>    
                <label>Total:</label><span class="order-value"> Bs. {{order.total}}</span>
            </div>
            <div class="order-btns team-btn">
                <button ng-hide="order.reputation" type="button" ui-sref="main.order-qualify({number:order.id})">
                    Calificar
                    <img src="images/plus.png">
                </button>
                <button ng-click="printDiv('printablediv', $index)">
                    Imprimir
                    <img src="images/print.png">                
                </button>
                <button ng-click="downloadDiv('printablediv', $index)">
                    Descargar
                    <img src="images/download.png">
                </button>   
                <button type="button" ui-sref="main.profile.order({number:order.id})">
                    Detalle
                    <img src="images/detail.png">
                </button>
            </div>
        </div>
        <hr class="lineGree">
    </div>
</div>
<a ng-show="myOrders.next" ng-click="next()">
    <div class="button-yellow mrg-btn-yellow">
        <p>Ver más Ordenes</p>
    </div>
</a>

<div id="printablediv" ng-style="showPrintable ? {'display':'block'} : {'display':'none'}">
  
  <style >
  
  #printablediv{
    max-width:580px;
    max-height:835px;
    background: white;
  }
  #printButton{
    text-align: center;
    margin-left: 450;
  }
  
  #imgLogo{
    display: flex;
    justify-content: center;
  }
  
  #reg{
  text-align: right;
  }
  #socialcontacto{
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  
  #urlpollito{
    text-align:center;
  }
  #mytable{
    border-collapse: separate;
    width: 100%;
  }
  #mytable {
    border: 1px solid #05C3DE;
    border-radius: 5px;
    -moz-border-radius: 5px;
  }
  td {
    border-collapse: collapse;
    border: 1px solid #05C3DE;
    padding: 0.5rem;
    text-align: left;
    word-break: 
    border-color: #05C3DE;
  }
  tr{
    word-break: 
  }
  #dir{
    text-align: justify;
  }
  #mytd{
   border-bottom: 1px solid #05C3DE;
   text-align: right;
  }
  
  </style>
  
  <div id="imgLogo">
    <img src="images/ping-logo.png" height="100" width="100"><br><br>
    
  </div><br>
  
  <div id="numreg" >
    <p id="reg"><b>{{printData.id}}</b></p><br>
  </div>
  <table border="1" cellpadding="0" cellspacing="0" id="mytable">
    <tr>
      <td>
        <b>{{printData.order_product.name}}</b>
        <br>
        {{printData.order_payment.payment_date}}
      </td>
    </tr>
    <tr>
      <td><b> Nombre de Usuario:</b><br>
        {{printData.first_name}}
        <br>
        <br>
        <b>Nombre del vendedor:</b><br>
        {{printData.seller_fullname}}
      </td>
    </tr>
    <tr>
      <td >
        <b>Forma de Pago:</b><br>
        Tarjeta de Credito.
      </td>
    </tr>
    <tr>
      <td id="dir"><b>Dirección de Envío:</b><br>
        {{printData.order_shipping.shipping_address}}
    </tr>
    <tr>
      <td id="mytd">
        <b>SubTotal :</b> {{printData.subtotal}} Bs<br>
        <b>Total con Iva:</b> {{printData.total}} Bs
      </td>
    </tr>
  </table>
  <div id="socialcontacto">
  
    <div id="social" >
      <p id="urlpollito">www.pollitoingles.com</p>
      <img src="images/social-media-cyan/facebook-azul.png" width="25" height="25">
      PollitoIngles &nbsp;
      <img src="images/social-media-cyan/twitter-azul.png" width="25" height="25">
      @PollitoIngles &nbsp;
      <img src="images/social-media-cyan/pinterest-azul.png" width="25" height="25">
      PollitoIngles &nbsp;
      <img src="images/social-media-cyan/email-azul.png" width="25" height="25">
      HOLA@pollitoingles.com
    </div>
  </div>
</div>
