<div class="container-fluid order-container">
    <!---top bar-->
    <div class="row bar-row bar-flower">
        <div class="col-md-3">
            <select class="form-control">
                <option ng-repeat="dates in myExchange.years">
                    {{dates.year}}
                </option>
            </select>    
        </div>
        <div class="bar-text">
            <span>
                Total de Intercambios:{{myExchange.amount}}
            </span>
        </div>
    </div>
    <!---Order-->
    <div ng-repeat="exchange in myExchange.exchanges">
         <div class="order-row row">
            <a ng-show="order.market">
                <div class="btn-market">
                   <img src="images/b-store.png"> 
                </div>            
            </a>
            <div class="col-md-7 order-info">
                <label class="dpBlock order-title">{{exchange.title}}</label>
                <label class="dpBlock order-number"># {{exchange.number}}</label>
                <label class="dpBlock order-date">{{exchange.date}}</label>
                <label class="dpBlock">Datos del Comprador:</label>
                <label class="dpBlock">Nombre: {{exchange.nameBuyer}}</label>
                <label class="dpBlock">Correo: {{exchange.correoBuyer}}</label>
                <label class="dpBlock">Status: {{exchange.status}}</label>
                <label>Total:</label><span class="order-value"> Bs. {{exchange.total}}</span>
            </div>
            <div class="order-btns team-btn">
                <button>
                    Calificar
                    <img src="images/plus.png">
                </button>
                <button>
                    Imprimir
                    <img src="images/print.png">                
                </button>
                <button>
                    Descargar
                    <img src="images/download.png">
                </button>   
                <button type="button" ui-sref="main.profile.exchange({number:exchange.number})">
                    Detalle
                    <img src="images/detail.png">
                </button>
            </div>
        </div>
        <hr class="lineGree">
    </div>
</div>
<a ng-href="">
    <div class="button-yellow mrg-btn-yellow">
        <p>Ver más Intercambios</p>
    </div>
</a>