<div id="printablediv" ng-controller="ProfilePrintCtrl">
  
  <style >
  
  #printablediv{
  max-width:580px;
  max-height:835px;
  display: none;
  }
  #printButton{
  text-align: center;
  margin-left: 450;
  }
  
  #imgLogo{
  display: flex;
  justify-content: center;
  }
  
  #reg{
  text-align: right;
  }
  #socialcontacto{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  }
  
  #urlpollito{
  text-align:center;
  }
  #mytable{
  border-collapse: separate;
  }
  #mytable {
  border: 1px solid #05C3DE;
  border-radius: 5px;
  -moz-border-radius: 5px;
  }
  td {
  border-collapse: collapse;
  border: 1px solid #05C3DE;
  padding: 0.5rem;
  text-align: left;
  border-color: #05C3DE;
  }
  #dir{
  text-align: justify;
  }
  #mytd{
  border-bottom: 1px solid #05C3DE;
  text-align: right;
  }
  
  </style>
  
  <div id="imgLogo">
    <img src="images/ping-logo.png" height="100" width="100"><br><br>
    
  </div><br>
  
  <div id="numreg" >
    <p id="reg"><b>#0000ALGUN_NUMERO</b></p><br>
  </div>
  <table border="1" cellpadding="0" cellspacing="0" id="mytable">
    <tr>
      <td><b>Nombre del producto en negrita</b><br>
        02/02/2016
      </td>
    </tr>
    <tr>
      <td  ><b> Nombre de Usuario:</b><br>
        Vanessa Marcanos<br><br>
        <b>Nombre del vendedor:</b><br>
        Judith Ayala
      </td>
    </tr>
    <tr>
      <td >
        <b>Forma de Pago:</b><br>
        Tarjeta de Credito.
      </td>
    </tr>
    <tr>
      <td id="dir"><b>Dirección de Envío:</b><br>
      Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer</td>
    </tr>
    <tr>
      <td id="mytd">
        <b>SubTotal :</b> 2000.00 Bs<br>
        <b>Total con Iva:</b> 2240.00
      </td>
    </tr>
  </table>
  <div id="socialcontacto">
  
    <div id="social" >
      <p id="urlpollito">www.pollitoingles.com</p>
      <img src="images/social-media-cyan/facebook-azul.png" width="25" height="25">
      PollitoIngles &nbsp;
      <img src="images/social-media-cyan/twitter-azul.png" width="25" height="25">
      @PollitoIngles &nbsp;
      <img src="images/social-media-cyan/pinterest-azul.png" width="25" height="25">
      PollitoIngles &nbsp;
      <img src="images/social-media-cyan/email-azul.png" width="25" height="25">
      HOLA@pollitoingles.com
    </div>
  </div>
</div>
<button type="button" ng-click="printDiv()" id="printButton">Imprimir</button>

