<div class="row follower_no_padding" when-scrolled="more()">
    <div ng-repeat="follower in followers">
        <div class="follower">
            <div class="col-md-4 follower_img_padding">
                <img class="img-responsive " ng-src="{{follower.picture}}" width="90px" height="90px">
            </div>
            <div class="col-md-8">
                <a ui-sref="main.users.profile({uid:follower.user})">
                    <p class="follower_name">
                        {{follower.first_name + ' ' + follower.last_name}}
                    </p>                    
                </a>
                <p class="follower_location">
                    {{follower.direction | limitTo : 16}}
                    <span ng-if="follower.direction.length > 16">...</span>
                </p>
                <button  ng-hide=" profile === 'public' || follower.IamFollowing" class="follower_button follower_button_follow" ng-click="follow($index)">
                    Seguir
                </button>
            </div>
        </div>
    </div>
    <h5 class="nunito text-center" ng-show="loading">Cargando</h5>
</div>
<h3 ng-if="followers.length == 0"><span class="title-nav">No tienes ningún seguidor</span></h3>
