<div class="row">
    <div>
        <h1 class="report-abuse-title">Actualizar perfil</h1>
        <br><br><br><br><br>
        <form name="updateParentForm" ng-submit="update()" novalidate>
            <div class="well textarea-report">
                <br><br>
                <div class="row">
                    <div class="floating-image-profile" ngf-select ngf-drop ng-model="profile.parent.picture">
                        <img ng-if="profile.parent.picture" ngf-src="profile.parent.picture" ng-src="{{profile.parent.picture}}" class="user_profile_circle img-responsive"  alt="Foto de perfil" width="140" height="140">
                        <img ng-if="!profile.parent.picture" class="user_profile_circle img-responsive" src="images/default-profile.jpg" alt="Foto de perfil" width="140" height="140"/>
                        <span class="glyphicon glyphicon-pencil glyph-background"></span>
                    </div>
                </div>
                <img src="images/flower-login.png" alt="" class="floating-flower">
                <div class="col-lg-12 col-sm-12 col-sm-12">
                    <div class="row checkbox-report-separator">
                        <div class="form-inline">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 testimony-group-left">
                                <label for="name" class="testimony-label">
                                    Nombre
                                </label>
                                <input class="testimony-field" type="text" name="first_name" placeholder="Nombre*" ng-model="profile.parent.first_name" ng-pattern="regex2" ng-minlength="2" ng-maxlength="15" only-alpha required>
                                <div ng-show="updateParentForm.first_name.$invalid" class="help-block">
                                    El nombre no puede contener números o caracteres especiales.
                                </div>
                                <div ng-show="updateParentForm.first_name.$error.maxlength" class="help-block">
                                    El nombre no puede contener más de 15 caracteres
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 form-group" ng-show="mom_emp">
                                <label for="content" class="testimony-label">
                                    Teléfono
                                </label>
                                <input class="phone-mom-emp" name="phone_number_emp" type="text" placeholder="Teléfono*" ng-model="profile.parent.phone_number" ng-pattern="/^0(424|426|412|414|416|212)\d{7}$/" phone-format required>
                                <div ng-show="updateParentForm.phone_number_emp.$invalid && !updateParentForm.phone_number_emp.$pristine" class="help-block update">Solo son Validos: 0424, 0426, 0412, 0414, 0416 0 0212  </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group" ng-hide="mom_emp">
                                <label for="content" class="testimony-label">
                                    Apellido
                                </label>
                                <input class="last-name-field" type="text" name="last_name" placeholder="Apellido*" ng-model="profile.parent.last_name"  ng-pattern="regex2" ng-minlength="2" ng-maxlength="15" only-alpha required>
                                <div ng-show="updateParentForm.last_name.$invalid" class="help-block">
                                    El apellido no puede contener números o caracteres especiales.
                                </div>
                                <div ng-show="updateParentForm.last_name.$error.maxlength" class="help-block">
                                    El apellido no puede contener más de 15 caracteres
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="row textarea-report-padding form-group">
                        <label for="address" class="testimony-label">
                            Dirección
                        </label>
                        <textarea class="form-control textarea-report-check" rows="5" id="address" name="address" placeholder="Dirección" ng-model="profile.parent.direction" ng-maxlength="100"/>
                        <div ng-show="updateParentForm.address.$invalid" class="help-block">
                            La direccion no puede contener más de 100 caracteres
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 testimony-group-left" ng-show="mom_emp">
                    <label for="name" class="testimony-label">
                        Facebook
                    </label>
                    <input class="testimony-field" name="facebook" type="text" placeholder="Tu Cuenta" ng-model="profile.facebook">
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 form-group testimony-group-right" ng-show="mom_emp">
                    <label for="content" class="testimony-label">
                        Twitter
                    </label>
                    <input class="social-twitter" type="text" placeholder="@Tu-Usuario" name="twitter" ng-model="profile.twitter">
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 testimony-group-left" ng-show="mom_emp">
                    <label for="name" class="testimony-label">
                        Instagram
                    </label>
                    <input class="testimony-field"  name="instagram" type="text" placeholder="@Tu-Usuario" ng-model="profile.instagram">
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 form-group testimony-group-right" ng-show="mom_emp">
                    <label for="content" class="testimony-label">
                        Pinterest
                    </label>
                    <input class="social-twitter" name="pinterest" type="text" placeholder="@Tu-Usuario " ng-model="profile.pinterest">
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 form-group testimony-group-right" ng-show="mom_emp">
                    <label for="content" class="testimony-label">
                        Youtube
                    </label>
                    <input class="testimony-field" name="youtube" type="text" placeholder="Tu Cuenta" ng-model="profile.youtube">
                </div>
                <div class="row checkbox-report-separator">
                    <div class="form-inline">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 testimony-group-left" ng-hide="mom_emp">
                            <label for="telephone" class="phone-label">
                                Teléfono
                            </label>
                            <input class="phone-mom" id="telephone" type="text" name="phone_number" placeholder="Teléfono*" ng-model="profile.parent.phone_number" ng-pattern="/^0(424|426|412|414|416|212)\d{7}$/" phone-format required>
                            <div ng-show="updateParentForm.phone_number.$invalid && !updateParentForm.phone_number.$pristine" class="help-block update-profile">Solo son Validos: 0424, 0426, 0412, 0414, 0416 0 0212  </div>
                        </div>
                        <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1 radio-inline">
                            <div class="div-bottom">
                                <div class="div-bottom div-min-height">
                                    <input id="checkbox1" type="checkbox" name="checkbox" ng-model="profile.parent.private_mes_active"><label for="checkbox1"><span></span></label> 
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                            <span class="label-checkbox-edit-profile"> Mensaje privado
                            </span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <br>
                    <button type="submit" class="btn btn-warning center-block btn-submit" name="button" ng-disabled="updateParentForm.$invalid">Actualizar</button>
                    <br>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <br><br><br><br>
    </div>
</div>