<div class="wpr-button-back">
    <button class="order-btn-return" ui-sref="main.profile.not-mess.messages">
        Regresar 
        <img src="images/icon-return.png">
    </button>       
</div>
<div id="notifications" class="wpr-talk-form">
    <div>
        <div class="row">
            <div class="col-xs-2 col-sm-1">
                <img ng-if="curr.parent.picture" class="image-rounded" ng-src="{{curr.parent.picture}}" width="65px" height="65px">
                <img ng-if="curr.parent.picture==''" class="image-rounded" src="images/default-profile.jpg" alt="Imagen generica de perfil" width="65px" height="65px">
            </div>
            <form id="messageForm" name="messageForm" novalidate >
                <div class="col-xs-10 col-sm-11">
                    <div class="talk well">
                        <textarea name="comment" class="bubble-text-comment" ng-model="newComment" ng-minlength="3" maxlength="400" required></textarea>
                    </div>
                    <div class="button-yellow-comment" ng-click="sendMsg()">
                        <p>Comentar</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div when-scrolled="next()">
<div ng-repeat="msg in messages" >
    <div id="notifications">
        <div>
            <div class="row" ng-if="msg.sender.pk==me">
                <div class="col-xs-2 col-sm-1">
                    <img ng-if="msg.sender.parent.picture" class="image-rounded" ng-src="{{msg.sender.parent.picture}}" width="65px" height="65px">
                    <img ng-if="msg.sender.parent.picture==''" class="image-rounded" src="images/default-profile.jpg" alt="Imagen generica de perfil" width="65px" height="65px">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <div class="well">
                        <div class="text"><span><b>{{msg.sender.parent.first_name + ' ' + msg.sender.parent.last_name}}</b></span></div>
                        <div class="text"><span>{{msg.message}}</span></div>
                        <div class="date">{{msg.created_at | date : "dd MM y"}} a la(s) {{msg.created_at | date : "h:mm"}}</div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="msg.sender.pk!=me">
                <div class="col-xs-2 col-sm-1">
                    <img ng-if="msg.sender.parent.picture" class="image-rounded" ng-src="{{msg.sender.parent.picture}}" width="65px" height="65px">
                    <img ng-if="msg.sender.parent.picture==''" class="image-rounded" src="images/default-profile.jpg" alt="Imagen generica de perfil" width="65px" height="65px">
                </div>
                <div class="col-xs-10 col-sm-11">
                    <div class="well">
                        <div class="text"><span><b>{{msg.sender.parent.first_name + ' ' + msg.sender.parent.last_name}}</b></span></div>
                        <div class="text"><span>{{msg.message}}</span></div>
                        <div class="date">{{msg.created_at | date : "dd MM y"}} a la(s) {{msg.created_at | date : "h:mm"}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div>
    <button class="order-btn-return" ui-sref="main.profile.not-mess.messages">
        Regresar 
        <img src="images/icon-return.png">
    </button>       
</div>
<!--a ng-show="nextMessages" ng-click="next()">
    <div class="button-yellow mrg-btn-yellow">
        <p>Ver más</p>
    </div>
</a-->
<h3 ng-if="messages.length == 0"><span class="title-nav">No tienes mensajes pendientes</span></h3>
