<div ui-view="session-bar"></div>
<div class="container-fluid">
    <div class="row">
        <div ui-view="header"></div>
        <div class="background-content">
            <div class="content">
                <div uib-collapse="SearchByAge">
            	   <div ui-view="search-by-age"></div>
                </div>
            	<div uib-collapse="AdvancedSearch">
            		<div ui-view="advanced_search"></div><hr>
            	</div>
                <div ui-view ></div>
            </div>
        </div>
        <div ui-view="footer"></div>
    </div>
</div>