<div class="container-fluid tienda-pollito">
    <div class="row">
	    <div>
		 	<div class="box" ui-view="header"></div>
	        <div class="box" ui-view></div>
	        <div ui-view="footer"></div>    	
	    </div>        
    </div>
</div>
