<div class="container-fluid order-container order-detail-container qualify">
	<div>
	    <button class="order-btn-return" onclick="history.back()">
	        Regresar 
	        <img src="images/icon-return.png">
	    </button>    	
    </div>
    <div class="order-row row">
     	<div class="col-md-3">
     		<img class="img-responsive" ng-src="{{sale.order_product.publication.product.product_image[0].picture}}" alt="">
     	</div>
        <div class="col-md-7 order-info order-detail">
            <label>{{sale.order_product.name}}</label>
            <label></label>
            <label class="dpBlock order-date"> {{sale.order_payment.payment_date}} </label>
            <label>Nombre del Comprador: <span> {{sale.order_payment.payment_firstname +' '+sale.order_payment.payment_lastname}} </span></label><br>
            <label>SubTotal: </label><label class="order-value"> {{sale.subtotal | currency : "Bs. " : 2}} </label><br>
            <label>Comisión de la Pasarela de Pago: </label><label class="order-value"> {{sale.order_payment.payment_commission | currency : "Bs. " : 2}} </label><br>          
            <label>Total con iva: </label><label class="order-value"> {{sale.total | currency : "Bs. " : 2}} </label> 
        </div>
    </div>
    <hr class="lineGree">
    <div class="row">
    	<h1 class="report-abuse-title">Calificar al Comprador</h1>
	    <div class="textarea-report">
			<p>"Calificando al Comprador estarás ayudando a otras mamás de nuestra comunidad"</p>
			<label>Calificar</label>
			<hr class="lineGree">
			<label class="name">{{sale.order_payment.payment_firstname +' '+sale.order_payment.payment_lastname}}</label>
			<span class="address">{{sale.order_payment.payment_address}}</span>
			<form name="qualifyForm" ng-submit="qualify()">
                <div class="qualifications">
    				<input id="qualify-1" type="radio" name="qualification" ng-model="qualification" ng-value="1" required/><label for="qualify-1">Muy Malo</label>
    				<input id="qualify-2" type="radio" name="qualification" ng-model="qualification" ng-value="2" required/><label for="qualify-2">Malo</label>
    				<input id="qualify-3" type="radio" name="qualification" ng-model="qualification" ng-value="3" required/><label for="qualify-3">Regular</label>
    				<input id="qualify-4" type="radio" name="qualification" ng-model="qualification" ng-value="4" required/><label for="qualify-4">Bueno</label>
    				<input id="qualify-5" type="radio" name="qualification" ng-model="qualification" ng-value="5" required/><label for="qualify-5">Muy bueno</label>
    			</div>	
    			<button type="submit" class="follower_button_follow" ng-disabled="qualifyForm.qualification.$invalid"><div class="text">Calificar</div></button>
            </form>
        </div>
    </div>
</div>