<div class="container-fluid order-container">
    <!---top bar-->
    <div class="row bar-row bar-flower-detail">
        <div class="col-md-3">
            <select class="form-control">
                <!-- <option ng-repeat="dates in sale.years">{{dates.year}}</option> -->
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
            </select>    
        </div>
    </div>
     <!---Calf-button-->
    <div class="order-row row">
         <div class="order-btns pull-right calf-btn">
            <button ng-hide="sale.reputation" type="button" ui-sref="main.sale-qualify({number:sale.id})">
                Calificar
                <img src="images/plus.png">
            </button>
        </div>
    </div>
	 <!---Sale-->
     <div class="order-row row">
     	<div class="col-md-3">
     		<img class="img-responsive" ng-src="{{sale.order_product.publication.product.product_image[0].picture}}" alt=""/>
     	</div>
        <div class="col-md-7 order-info order-detail">
            <label class="dpBlock">{{sale.order_product.name}}</label>
            <label class="dpBlock order-date">{{sale.order_payment.payment_date}}</label>
            <br>
            <label>Nombre del Usuario:</label>
            <label class="dpBlock order-vendor">{{sale.seller_fullname}}</label>
            <br>
            <label class="dpBlock">Datos del Comprador: </label>
            <label class="dpBlock">Nombre: <span class="order-vendor">{{sale.order_payment.payment_firstname +' '+sale.order_payment.payment_lastname}}</span></label>
            <label class="dpBlock">Teléfono: <span class="order-vendor">{{sale.order_payment.payment_phone}}</span></label>
            <label class="dpBlock">Forma de Pago: 
                <span ng-if="sale.order_payment.payment_method == 'TDC' " class="order-vendor">Tarjeta de Credito</span>
            </label>
            <br>
            <div ng-show="sale.order_payment.payment_address">
                <label class="dpBlock">Dirección de envío: </label>
                <label class="dpBlock order-vendor"> {{sale.order_payment.payment_address}}</label>
            </div>
            <br>
            <label>Total: <span class="order-value">Bs. {{sale.total}}</span></label>
        </div>
    </div>
    <div>
    <button class="order-btn-return" ui-sref="main.profile.tabs-orders.sales">
        Regresar 
        <img src="images/icon-return.png">
    </button>    	
    </div>
</div>