<div class="modal-body">
	<img class="img-responsive" src="images/modal-cloud.png">
	<div class="modal-sell-text" ng-class="isMac? 'modalSell-Mac':''">
		<h1>
			Oops!
		</h1>
		<p>
			Usted ya cumplió con el límite de publicaciones máximas para este plan Gratis,
		    si desea publicar un sexto producto lo invitamos a que adquiera un nuevo plan,
		    dar click a Planes de Registro.		
		</p>
	</div>
	<img class="img-responsive modal-sell-exit" src="images/modal-exit-cloud.png">
	<a class="modal-sell-exit" ng-class="isMac? 'modalSell-Mac':''" ng-click="cancel()">x</a>
	<div class="plans-cloud">
	    <a ui-sref="main.registry-plans" ng-click="ok()">
	        <img src="images/btn-cloud.png" alt="">
	    </a>
	</div>
</div>