<ul class="star-rating" ng-class="{readonly: readonly}">
    <li ng-repeat="star in stars" class="star" ng-class="{filled: star.filled}" ng-click="toggle($index)">
        <span class="icon-flower"></span>
    </li>
</ul>
