<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <form name="userForm" ng-submit="addSuggestion()" novalidate>
            <div class="well text-center">
                <h3>Sugerencias</h3>
                <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <p>
                        <input class="form-control" name="sugerencias" type="text" placeholder="Contenido de la sugerencia*" ng-model="suggestion" required>
                    </p>
                </div>
                <button class="btn btn-primary" type="submit" ng-disabled="userForm.$invalid">
                    Agregar sugerencia
                </button>
            </div>
        </form>
    </div>
</div>
