<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form name="userForm" ng-submit="addTestimony()" novalidate="" class="">
            <div class="well text-center">
                <h3>Testimonies</h3>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Titulo del testimonio*" ng-model="testimony.title" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Agrega tu testimonio*" ng-model="testimony.content" required>
                </div>
                <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-success">
                    Agregar testimonio
                </button>
            </div>
        </form>
    </div>
</div>
