<header id="header-tienda-pollito" class="header-tienda-pollito">
	<div class="top-navbar-tienda-pollito">
		<div class="row tienda-pollito-divs-bg">
			<div class="col-sm-5 col-xs-10">
				<a ui-sref="tienda-pollito.home.carousel" ng-click="isCollapsed=true">
					<img class="logo" src="images/logo-TiendaPollito-c.png" alt="logo tienda pollito">
				</a>				
			</div>
			<div class="col-sm-7 col-menu">				
				<button class="menu" ng-init="isCollapsed=true" ng-click="isCollapsed = !isCollapsed"></button>
			</div>
			<div class="col-sm-7 address-tienda-pollito">
				<label>	Ave. Francisco de Miranda, Torre HP, Piso 17. Caracas-Venezuela <img src="images/icon-locality.png"></label>
				<label>	Correo: hola@pollitoingles.com.ve <img src="images/icon-email.png"> | +58 (424) 147.96.93 <img src="images/icon-phone.png"></label>
			</div>
		</div>
		<!-- pink line -->
		<div class="row pink-line-shop-header"></div>
		
		<!-- Navbar Movil -->
		<div class="row navbar-movil" uib-collapse="isCollapsed">

		 	<a class="tp-session">
				<img src="images/bag-tp.png" alt="bag login">
				<span ui-sref="main.login" ng-show="hasToken()">Iniciar Sesión</span>
	            <span ui-sref="main.profile.tabs.products" ng-hide="hasToken()">{{UserName| limitTo : 12}}</span>
				<span class="ellipsis" ng-if="UserName.length > 12">...</span>
			</a>

			<div class="links">
				<a href="http://blog.pollitoingles.com/">Blog</a>
				<a href="#">Pollito Inglés</a>
				<a ui-sref="main.about-us">Nosotros</a>
				<a ui-sref="main.contact-us">Contacto</a>
			</div>
			<div class="networks">
				<a href="https://www.facebook.com/PollitoIngles/"   target="_blank"><img src="images/facebook.png"  alt="facebook" ></a>
				<a href="https://twitter.com/pollitoingles"         target="_blank"><img src="images/twitter.png"   alt="twitter"  ></a>
				<a href="https://www.pinterest.com/pollitoingles/"  target="_blank"><img src="images/pinteres.png"  alt="pinterest"></a>
				<a href="https://www.instagram.com/pollito_ingles/" target="_blank"><img src="images/instagram.png" alt="instagram"></a>
			</div>
		</div>
		
		<!-- Navbar Web-->
		<div class="row navbar-web">
			<div class="col-sm-3 col-session">
				<a class="tp-session">
					<img src="images/bag-tp.png" alt="bag login">
					<span ui-sref="main.login" ng-show="hasToken()">Iniciar Sesión</span>
		            <span ui-sref="main.profile.tabs.products" ng-hide="hasToken()">{{UserName| limitTo : 12}}</span>
					<span class="ellipsis" ng-if="UserName.length > 12">...</span>
				</a>				
			</div>
			<div class="col-md-7 col-sm-9 col-md-offset-2 col-sm-offset-0 padding-0">
				<div class="links">
					<a href="http://blog.pollitoingles.com/">Blog</a>
					<a href="#">Pollito Inglés</a>
					<a ui-sref="main.about-us">Nosotros</a>
					<a ui-sref="main.contact-us">Contacto</a>
				</div>

				<div class="networks">
				<a href="https://www.facebook.com/PollitoIngles/"   target="_blank" ><img src="images/facebook.png"  alt="facebook" ></a>
				<a href="https://twitter.com/pollitoingles"         target="_blank" ><img src="images/twitter.png"   alt="twitter"  ></a>
				<a href="https://www.pinterest.com/pollitoingles/"  target="_blank" ><img src="images/pinteres.png"  alt="pinterest"></a>
				<a href="https://www.instagram.com/pollito_ingles/" target="_blank" ><img src="images/instagram.png" alt="instagram"></a>
				</div>
			</div>
		</div>
	</div>
</header>