<div class="row tp-product-row">
	<div class="col-md-9">
		<div class="row tp-product-detail">
			<div class="col-md-6 col-xs-12 img-container">
				<div class="image" ng-init="selected = 0">
		            <img class="img-responsive" ng-if="publication.product.product_image[selected].picture" ng-src="{{publication.product.product_image[selected].picture}}" alt="{{publication.product.name}}">
		            <img class="img-responsive" ng-if="!publication.product.product_image[selected].picture" src="images/product-no-image.png" alt="{{publication.product.name}}">
				</div>
	 	        <div class="images">
	                <img class="img-responsive" ng-show="publication.product.product_image[0]" ng-click="selected = 0" ng-src="{{publication.product.product_image[0].picture}}" alt="Imagen del producto">
	                <img class="img-responsive" ng-show="publication.product.product_image[1]" ng-click="selected = 1" ng-src="{{publication.product.product_image[1].picture}}" alt="Imagen del producto">
	                <img class="img-responsive" ng-show="publication.product.product_image[2]" ng-click="selected = 2" ng-src="{{publication.product.product_image[2].picture}}" alt="Imagen del producto">
	            </div>
			</div>
			<div class="col-md-6 col-xs-12 info">
				<label class="title"><div class="text">{{publication.product.name}}</div></label>
				<label class="price"><div class="text">{{publication.price | currency : "Bs. " : 2 }}</div></label>
				<p class="description">
					{{publication.product.description}}
				</p>

				<select class="form-control" ng-show="publication.product.product_variation[0]" ng-model="firstSelection" ng-click="oneSelection();">
					<option selected disabled ng-bind="publication.product.product_variation[0].variation.description"/>
					<option ng-repeat="option in publication.product.product_variation[0].product_variations" ng-value="option.variation_option" ng-bind="option.name"/>
				</select>

				<select class="form-control" ng-show="publication.product.product_variation[1]" ng-model="secondSelection" ng-click="twoSelection();">
					<option selected disabled ng-bind="publication.product.product_variation[1].variation.description"/>
					<option ng-repeat="option in twoVariations" ng-value="option.id" ng-bind="option.name"/>
				</select>

				<select class="form-control" ng-model="cart.quantity" ng-options="quantity for quantity in quantitys">
					<option value="" disabled selected hidden>Cantidad</option>
				</select>
				
				<div class="credit">				
					<img class="icon" src="images/visa-master.png">
					<p class="data">
						Paga con Tarjeta de Crédito. Haz click en este botón para ingresar tus datos. 
						Esta información es confidencial.
					</p>
				</div>
				<div class="btn-buy" ng-class="isMac? 'isMac':''" ng-click="pay()">
					COMPRAR
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="recommended p-detail">
		    <div class="top">
		        <label>Productos destacados</label>
		    </div>
		    <div ng-repeat="recommended in featured">
		        <div class="row featured" ui-sref="main.tienda-pollito.products-detail({id: recommended.id})">
		        	<div class="col-xs-6">
		        		<div class="img-cont">
	                		<img class="img-responsive" ng-if="recommended.product.product_image[0].picture" ng-src="{{recommended.product.product_image[0].picture}}" alt="{{recommended.product.name}}">
	                		<img class="img-responsive" ng-if="!recommended.product.product_image[0].picture" src="images/product-no-image.png" alt="{{recommended.product.name}}">
		        		</div>
		        	</div>
	                <div class="col-xs-6 padding-margin-0 text">
	                    <label class="name">{{recommended.product.name | limitTo : 8}}<span ng-if="recommended.product.name.length > 8">...</span></label>
	                    <label class="price">{{recommended.product.price}} Bs</label>
	                </div>
		        </div>
		    </div>
		</div>
	</div>
	<div class="hidden-xs hidden-sm line-left"></div>
</div>
<div class="line-bottom"></div>
