<section>
	<div class="row">
		<div class="col-xs-12">
			<div ui-view="carousel"></div>
			<div ui-view="detail"></div>
		</div>
	</div>
	<div class="row tp-content">
		<div class="col-xs-12 col-md-3 padding-margin-0">
			<div class="row">
				<div class="col-sm-12">
					<div ui-view="tienda-pollito-categories"></div>
				</div>
				<div class="col-sm-12">
					<div ui-view="tienda-pollito-collection"></div>
				</div>
				<div class="col-sm-12">
					<div ui-view="tienda-pollito-recommended"></div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-9 padding-products">
			<div ui-view="products"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div ui-view="others_products"></div>
		</div>
	</div>
</section>