<div class="row hidden-xs hidden-sm others">
	<div class="tp-pink-line-other"></div>
	<div class="col-xs-3">
	 	<div class="tp-title">
	 		Niña
	 	</div>
	 	<div class="col-xs-12 padding-margin-0 cont-others" ng-repeat="publication in publications | filter: { product: {gender:'F'} } | limitTo: 4 ">
	 		<div ui-sref="main.tienda-pollito.products-detail({id: publication.id})">
	 			<div class="col-xs-5 padding-margin-0 img-container">
	 				<img class="img-responsive" ng-if="publication.product.product_image[0].picture" ng-src="{{publication.product.product_image[0].picture}}" alt="{{publication.product.name}}">
	 				<img class="img-responsive" ng-if="!publication.product.product_image[0].picture" src="images/product-no-image.png" alt="{{publication.product.name}}">
	 			</div>
	 			<div class="col-xs-7 data-container">
	 				<div class="main">
						<label class="tp-name">{{publication.product.name | limitTo : 8}}<span ng-if="publication.product.name.length > 8">...</span></label>
						<label class="tp-price">{{publication.product.price}} Bs</label>
					</div>
					<br>
	 			</div>
	 		</div>
 		</div>
	</div>
	<div class="col-xs-3">
	 	<div class="tp-title">
	 		Niño
	 	</div>
	 	<div class="col-xs-12 padding-margin-0 cont-others" ng-repeat="publication in publications | filter: { product: {gender:'M'} } | limitTo: 4 ">
	 		<div ui-sref="main.tienda-pollito.products-detail({id: publication.id})">
	 			<div class="col-xs-5 padding-margin-0 img-container">
	 				<img class="img-responsive" ng-if="publication.product.product_image[0].picture" ng-src="{{publication.product.product_image[0].picture}}" alt="{{publication.product.name}}">
	 				<img class="img-responsive" ng-if="!publication.product.product_image[0].picture" src="images/product-no-image.png" alt="{{publication.product.name}}">
	 			</div>
	 			<div class="col-xs-7 data-container">
	 				<div class="main">
						<label class="tp-name">{{publication.product.name | limitTo : 8}}<span ng-if="publication.product.name.length > 8">...</span></label>
						<label class="tp-price">{{publication.product.price}} Bs</label>
					</div>
					<br>
	 			</div>
	 		</div>
 		</div>
	</div>
	<div class="col-xs-3">
	 	<div class="tp-title">
	 		Lo más buscados
	 	</div>
	 	<div class="col-xs-12 padding-margin-0 cont-others" ng-repeat="publication in best_seller | limitTo: 4 ">
	 		<div ui-sref="main.tienda-pollito.products-detail({id: publication.id})">
	 			<div class="col-xs-5 padding-margin-0 img-container">
	 				<img class="img-responsive" ng-if="publication.product.product_image[0].picture" ng-src="{{publication.product.product_image[0].picture}}" alt="{{publication.product.name}}">
	 				<img class="img-responsive" ng-if="!publication.product.product_image[0].picture" src="images/product-no-image.png" alt="{{publication.product.name}}">
	 			</div>
	 			<div class="col-xs-7 data-container">
	 				<div class="main">
						<label class="tp-name">{{publication.product.name | limitTo : 8}}<span ng-if="publication.product.name.length > 8">...</span></label>
						<label class="tp-price">{{publication.product.price}} Bs</label>
					</div>
					<br>
	 			</div>
	 		</div>
 		</div>
	</div>
	<div class="col-xs-3">
	 	<div class="tp-title">
	 		Lo más nuevo
	 	</div>
	 	<div class="col-xs-12 padding-margin-0 cont-others" ng-repeat="publication in publications | orderBy: '-created_at' | limitTo: 4 ">
	 		<div ui-sref="main.tienda-pollito.products-detail({id: publication.id})">
	 			<div class="col-xs-5 padding-margin-0 img-container">
	 				<img class="img-responsive" ng-if="publication.product.product_image[0].picture" ng-src="{{publication.product.product_image[0].picture}}" alt="{{publication.product.name}}">
	 				<img class="img-responsive" ng-if="!publication.product.product_image[0].picture" src="images/product-no-image.png" alt="{{publication.product.name}}">
	 			</div>
	 			<div class="col-xs-7 data-container">
	 				<div class="main">
						<label class="tp-name">{{publication.product.name | limitTo : 8}}<span ng-if="publication.product.name.length > 8">...</span></label>
						<label class="tp-price">{{publication.product.price}} Bs</label>
					</div>
					<br>
	 			</div>
	 		</div>
 		</div>
	</div>
</div>