<ul class="row frame-categories-tienda-pollito" ng-class="isMac? 'isMac':''">
  <li class="top">
    <label>CATEGORÍAS</label>
    <div class="menu" ng-init="isCollapsedCat=true" ng-click="isCollapsedCat = !isCollapsedCat" ng-class="!isCollapsedCat ? 'closeCategories':''">
      <div class="line-left"/>
      <div class="line-right"/>
    </div>
  </li>
  <div uib-collapse="isCollapsedCat" class="box-categories">
    <li>
      <img src="images/tetero.png" alt="alimentacion">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'ALIMENTACION'})">ALIMENTACIÓN ({{ categories_home['ALIMENTACIÓN'] }})</label>
    </li>
    <li>
      <img src="images/andadera.png" alt="ANDADERAS">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'ANDADERAS'})">ANDADERAS ({{categories_home['ANDADERAS']}})</label>
    </li>
    <li>
      <img src="images/limpieza.png" alt="BAÑO">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'BANO'})">BAÑO ({{categories_home['BAÑO']}})</label>       
    </li>
    <li>
      <img src="images/coche.png" alt="COCHES">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'COCHES'})">COCHES ({{categories_home['COCHES']}})</label>       
    </li>
    <li>
      <img src="images/cuna.png" alt="CUNAS Y CORRALES">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'CUNAS Y CORRALES'})">CUNAS Y CORRALES ({{categories_home['CUNAS Y CORRALES']}})</label>       
    </li>
    <li>
      <img src="images/juguete.png" alt="JUGUETES">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'JUGUETES'})">JUGUETES ({{categories_home['JUGUETES']}})</label>       
    </li>
    <li>
      <img src="images/bolso.png" alt="OTROS">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'OTROS'})">OTROS ({{categories_home['OTROS']}})</label>       
    </li>
    <li>
      <img src="images/canguro.png" alt="PORTABEBÉS">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'PORTABEBES'})">PORTABEBÉS ({{categories_home['PORTABEBÉS']}})</label>       
    </li>
    <li>
      <img src="images/ropa.png" alt="ROPA">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'ROPA'})">ROPA ({{categories_home['ROPA']}})</label>
    </li>
    <li>
      <img src="images/seguridad.png" alt="SEGURIDAD">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'SEGURIDAD'})">SEGURIDAD ({{categories_home['SEGURIDAD']}})</label> 
    </li>
    <li>
      <img src="images/carro.png" alt="SILLAS AUTO">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'SILLAS-AUTO'})">SILLAS AUTO ({{categories_home['SILLAS AUTO']}})</label>
    </li>
    <li>
      <img src="images/comer.png" alt="SILLAS DE COMER">
      <label ng-click="isCollapsedCat=true" ui-sref="main.tienda-pollito.category-results({category:'SILLAS-DE-COMER'})">SILLAS DE COMER ({{categories_home['SILLAS DE COMER']}})</label>
    </li>
  </div>
</ul>