<div class="container-fluid">
	<div class="row" ng-show="showBanner">
		<div class="tienda-pollito-banner">		
			<img class="img-responsive" src="images/banners/b-800x500.jpg" alt="">
		</div>
	</div>
	<div class="row row-products">
		<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 box" ng-repeat="publication in publications">
			<div class="products-tienda-pollito" ui-sref="main.tienda-pollito.products-detail({id: publication.id})" ng-click="scroll()" >
				<div class="image-container">
					<img class="img-responsive" ng-if="publication.product.product_image[0].picture" ng-src="{{publication.product.product_image[0].picture}}" alt="{{publication.product.name">
					<img class="img-responsive" ng-if="!publication.product.product_image[0].picture" src="images/product-no-image.png" alt="{{publication.product.name}}">
				</div>
				<img class="cloud" src="images/cloudTP.png" alt="Smiley face">
				<div class="data">
					<label class="title">{{publication.product.name | limitTo : 10}}<span ng-if="publication.product.name.length > 10">...</span></label>
					<label class="price">{{publication.price}} Bs</label>
				</div>
			</div>
		</div>
	</div>
    <div class="button-next" ng-show="nextPublications" ng-click="next()">Ver más</div>
</div>