<div class="row">
	<div id="tp-carousel" uib-carousel active="active" interval="3500" no-wrap="noWrapSlides">	    
	    <div uib-slide index="0">
			<img class="img-responsive" src="images/banners/b-1028x420.jpg">
	    </div>
	    <div uib-slide index="1">
			<img class="img-responsive" src="images/banners/b-1028x420.jpg">
	    </div>
	    <div uib-slide index="2">
	    	<img class="img-responsive" src="images/banners/b-1028x420.jpg">
	    </div>
	</div>
</div>