<div ng-hide="detailTP" class="row hidden-xs hidden-sm recommended general">
    <div class="top">
        <label>Productos destacados</label>
    </div>
    <div class="col-xs-12" ng-repeat="publication in featured">
        <div class="row wpr-product" ui-sref="main.tienda-pollito.products-detail({id: publication.id})" ng-click="scroll()">
            <div class="col-xs-5 padding-margin-0">
                <div class="img-cont">
                    <img class="img-responsive" ng-if="publication.product.product_image[0].picture" ng-src="{{publication.product.product_image[0].picture}}" alt="{{publication.product.name}}">
                    <img class="img-responsive" ng-if="!publication.product.product_image[0].picture" src="images/product-no-image.png" alt="{{publication.product.name}}">
                </div>
            </div>
            <div class="col-xs-7 padding-margin-0 data-container">
                <div class="main">
                    <label class="name">{{publication.product.name | limitTo : 7}}<span ng-if="publication.product.name.length > 7">...</span></label>
                    <label class="price">{{publication.product.price}} Bs</label>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
