<footer class="footer-tienda-pollito">
	<div class="row">
		<div class="col-sm-3 col-sm-push-9 networks">
			<label class="top">Síguenos en</label>
			<a href="https://www.facebook.com/PollitoIngles/"  target="_blank" ><img src="images/facebook-t.png"   alt="facebook"></a>
			<a href="https://twitter.com/pollitoingles"        target="_blank" ><img src="images/twitter-t.png"    alt="twitter"></a>
			<a href="https://www.pinterest.com/pollitoingles/" target="_blank" ><img src="images/pinteres-t.png"   alt="pinterest"></a>
			<a href="https://www.instagram.com/pollito_ingles/"target="_blank" ><img src="images/instagram-t.png"  alt="instagram"></a>
		</div>
		<div class="col-sm-9 col-sm-pull-3 links">
			<label class="top" >Políticas</label>
			<a ng-click="acceptTerms()" ><label>Términos y Condiciones</label></a>
			<a ui-sref="main.privacy-policy"       ><label>Política de Privacidad</label></a>	
			<a ui-sref="main.copyright-policies"   ><label>Políticas de Derecho de Autor</label></a>
			<a ui-sref="main.acceptable-use-policy"><label>Políticas de Uso Aceptable</label></a>
		</div>
	</div>
</footer>