<div class="container-fluid">
	<div class="title text-center" id="title-results" >
		Resultados de la Búsqueda por la categoría <span>{{category_name | capitalize}}</span> 
	</div>
	<div class="row row-products" ng-show="resultSet && resultSet.length > 0">
		<div class="col-md-4 col-sm-6 col-xs-12 box" ng-repeat="publication in resultSet">
			<div class="products-tienda-pollito" ui-sref="main.tienda-pollito.products-detail({id: publication.pk})" ng-click="scroll()" >
				<div class="image-container">
					<img class="img-responsive" ng-src="{{publication.product_image}}" alt="{{publication.product_name}}">
				</div>
				<img class="cloud" src="images/cloudTP.png" alt="Smiley face">
				<div class="data">
					<label class="title">{{publication.product_name | limitTo : 10}}<span ng-if="publication.product_name.length > 10">...</span></label>
					<label class="price">{{publication.product_price | currency : 'Bs. ' : 2}}</label>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="!resultSet || resultSet.length <= 0" class="no-result">
		<h4>
			No hay productos en esta categoría.
		</h4>
	</div>
</div>