<form name="userForm">
    <div class="well text-center">
        <h3>Perfil de usuario pollito</h3>
        <hr>
        <img class="img-circle" ng-src="{{user.parent.picture}}" alt="Foto de perfil" width="140" height="140">
        <!-- <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140"> -->
        <h4>{{user.parent.first_name}}</h4>
        <hr>
        <div class="form-group">
            <p>
                <input readonly class="form-control" type="text" placeholder="Nombre*" value="{{user.parent.first_name}}">
            </p>
        </div>
        <div class="form-group">
            <p>
                <input readonly class="form-control" type="text" placeholder="Apellido*" value="{{user.parent.last_name}}">
            </p>
        </div>
        <div class="form-group">
            <input readonly class="form-control" type="text" placeholder="Dirección*" value="{{user.parent.direction}}">
        </div>
        <div class="form-group">
            <p>
                <input readonly class="form-control" type="text" placeholder="Telefono*" value="{{user.parent.phone_number}}">
            </p>
        </div>
        <div class="form-group">
            <p>
                <label for="privado">Mensaje privado*</label>
                <input ng-disabled="true" class="form-control" name="privado" type="checkbox" placeholder="" ng-model="user.parent.private_mes_active">
            </p>
        </div>
        <div class="form-group">
            <p>
                <label for="publico">Perfil publico*</label>
                <input ng-disabled="true" class="form-control" name="publico" type="checkbox" placeholder="" ng-model="user.parent.public_profile">
            </p>
        </div>
        <div class="form-group">
            <label for="puntajeC">Valora a este comprador</label>
            <br>
            <star-rating ng-model="buyerRating" name="puntajeC" ng-click="rateUser(2,buyerRating)"></star-rating>
            <br>
            <label for="puntajeV">Valora a este vendedor</label>
            <br>
            <star-rating ng-model="sellerRating" name="puntajeV" ng-click="rateUser(1,sellerRating)"></star-rating>
        </div>
        <div class="form-group">
            <label for="reporte">Reportar a este usuario*</label>
            <select name="reporte" class="form-control"
                ng-options="report.description for report in reports track by report.id"
                ng-model="report.selected">
            </select>
            <br>
            <input ng-show="report.selected" name="descripcion" class="form-control" type="text" placeholder="Descripción del reporte*" ng-model="report.description">
        </div>
            <button type="button" class="btn btn-danger" ng-click="reportUser()" ng-disabled="invalidReport()">
                Enviar reporte
            </button>
            <button type="button" class="btn btn-info" ng-click="follow()" ng-disabled="following">
                Seguir a usuario
            </button>
            <button type="button" class="btn btn-warning" ui-sref="main.users">
                Volver
            </button>
        </div>
    </div>
</form>