<div class="row">
    <ul class="nav nav-tabs nav-justified">
        <li ng-class="{active: isActive('products')}">
            <a ui-sref="main.users.profile.tabs.products" class="nav-profile">Artículos publicados</a>
        </li>
        <li ng-class="{active: isActive('comments')}">
            <a ui-sref="main.users.profile.tabs.comments" class="nav-profile">Comentarios</a>
        </li>
        <li ng-class="{active: isActive('followers')}">
            <a ui-sref="main.users.profile.tabs.followers" class="nav-profile">Seguidores</a>
        </li>
        <li ng-class="{active: isActive('following')}">
            <a ui-sref="main.users.profile.tabs.following" class="nav-profile">Siguiendo</a>
        </li>
    </ul>
    <div ui-view="tab"></div>
</div>
