<div class="row">
    <div class="col-md-3">
        <div class="well text-center">
            <h3>Usuarios Pollito</h3>
            <div class="" ng-repeat="user in users">
                <div class="row">
                    <div class="col-md-12">
                        <img ng-if="user.parent.picture" class="img-circle" ng-src="{{user.parent.picture}}" alt="magen de perfil" width="140" height="140">
                        <img ng-if="!user.parent.picture" class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Imagen generica de perfil" width="140" height="140">
                        <h2>{{user.parent.first_name}}</h2>
                        <small>{{user.email}}</small>
                        <p><a class="btn btn-secondary" ui-sref="main.userss.profile({email: user.email})" role="button">Ver perfil</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-view="profile" class="col-md-9"></div>
</div>
